{% extends 'base.html' %}
{% load static  %}

{% block menu_rede %}active{% endblock menu_rede %}

{% block content %}
<div class="content-page">

	<div class="row">
		<div class="columns medium-12">

			<h4>&nbsp;</h4>
			<h4>Rede CulturaEduca</h4>

			<p>A Rede apoia-se na construção coletiva do mapa da educação e cultura no Brasil. Qualquer usuário pode inserir e/ou editar as informações compartilhadas pelos seus próprios cadastros. No contexto da cartografia social, o processo de construção de mapas participativos pode ser usado pela comunidade como oportunidade para a reflexão, pesquisas e debates sobre cidadania, democracia, urbanismo, cartografia social, desenvolvimento comunitário, controle de políticas públicas, acesso à informação, economia participativa, descentralização da mídia, cultura digital, diversidade cultural, educação, arte e temas afins.</p>

			{% if request.user.is_anonymous %}
			<a href="{% url 'user_add' %}" class="button expand small">Cadastre-se agora</a>
			{% endif %}

			<h5>Conheça a Rede</h5>

			<p>
				<img src="{% static 'img/rede.png' %}" alt="Rede CulturaEduca" />
			</p>



			<b>Agentes</b>
			<div class="row">
				<div class="columns medium-12">
					<ul>
						<li><a href="{% url 'pessoafisica_list' %}">Pessoa Física</a></li>
						<li><a href="{% url 'coletivo_list' %}">Coletivo / Grupo</a></li>
						<li><a href="{% url 'instituicao_list' %}">Instituição</a></li>
						<li><a href="{% url 'conselho_list' %}">Fóruns / Conselhos / Comissões</a></li>
						<li><a href="{% url 'movimentosocial_list' %}">Movimentos Sociais</a></li>
					</ul>
				</div>
			</div>
			<b>Ações</b>
			<div class="row">
				<div class="columns medium-12">
					<ul>
						<li><a href="{% url 'projeto_list' %}">Projetos</a></li>
						<li><a href="{% url 'atividade_list' %}">Atividades</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="columns medium-12">
			<h5>Contexto das redes</h5>

			<b>Elementos básicos:</b>
			<ul>
				<li>atores/agentes - nós, conexões/relações entre eles - fluxos</li>
				<li>cadeias de relações entre indivíduos e/ou grupos que baseia-se em processos colaborativos</li>
				<li>mediadas cada vez mais por tecnologias da informação e comunicação</li>
			</ul>
			<b>Objetivos</b>
			<ul>
				<li>enquanto categoria analítica: explicar a realidade</li>
				<li>enquanto categoria estratégica: projetar ações concretas de enfrentamento da realidade</li>
			</ul>
			<b>Características e princípios</b>
			<ul>
				<li>relações diversas em quantidade, qualidade e intensidade</li>
				<li>adesão livre</li>
				<li>democrática</li>
				<li>participativa</li>
			</ul>
			<b>Estratégias</b>
			<ul>
				<li>aumentar a interação entre os participantes/agentes</li>
				<li>geração de ações coletivas, compromissos e laços entre as pessoas</li>
				<li>intercambio de informação, experiências e conhecimentos</li>
			</ul>
		</div>
	</div>
</div>

{% endblock content %}

{% block extra_css %}{{ block.super }}
{% endblock extra_css %}

{% block extra_js %}{{ block.super }}
{% endblock extra_js %}

