<div class="row">
    <div class="large-12 columns">
        <dt>Agente: Coletivo</dt>
        <dd>{{ agente.nome }}</dd>
        <dt>Localização: </dt>
        <dd>{{  agente.municipio }}</dd>
    </div>
</div>
<div class="row">
    <button type="button" style="background: #bb1944;display: block;width: 100%; margin-top:10px; margin-bottom:0px;">Ver mais</button>
</div>