<dt>Agente: Pessoa Física</dt>
<dd>{{ perfil.user.nome }}</dd>
{% if perfil.privacy_cep %}
	<dt>CEP</dt>
	<dd>{{ perfil.privacy_cep }}</dd>
{% endif %}
{% if perfil.privacy_logradouro %}
	<dt>Logradouro</dt>
	<dd>{{ perfil.privacy_logradouro }}{% if perfil.privacy_numero %}, {{ perfil.privacy_numero }}{% endif %}</dd>
{% endif %}
{% if perfil.privacy_bairro %}
	<dt>Bairro</dt>
	<dd>{{ perfil.privacy_bairro }}</dd>
{% endif %}
{% if perfil.privacy_municipio %}
	<dt>Município</dt>
	<dd>{{ perfil.privacy_municipio }}</dd>
{% endif %}
<br><button type="button" style="background: #bb1944;display: block;width: 100%;">Ver mais</button>