{% extends 'template.html' %}
{% block title %}Reseta Senha{% endblock %}
{% block conteudo %}

<div class="row">
    <div class="large-12 columns">
        <h1>Nova Senha</h1>
    </div>
</div>

<div class="row">
    <ul class="breadcrumbs">
        <li><a href="/">Início</a></li>
        <li class="current"><a href="#">Usuário</a></li>
    </ul>

    <h2>Recuperação de senha</h2>

    {% if msg %}
        {{ msg }}
    {% else %}

    <form method="post" value="{% url 'password_reset' %}">{% csrf_token %}

        {{ email_form }}

        <button type="submit" class="button radius small right">Enviar</button>

    </form>
    {% endif %}
</div>
{% endblock %}
