{% load static %}
<style type="text/css">
    .ug-textpanel-textwrapper {
        overflow-y: auto;
    }
</style>


<div class="row">
    <div class="columns medium-12">
        <button onclick="show_galeria_list()" class="button secondary small">
        <i class="fi-list-bullet"></i> Listar itens da Galeria</button>
        {% if can_change_gallery %}
            <button onclick="show_galeria_create()" class="button secondary small right">
            <i class="fa fa-plus"></i> Inserir novo item</button>
        {% endif %}

    </div>

</div>



<div id="gallery" style="display:none;">

    {% for item in galeria_imagem %}
    <a href="" >
        <img
            alt="{{ item.titulo }}"
            src="{{ item.arquivo.url }}"
            data-image="{{ item.arquivo.url }}"
            data-description="{{ item.data }} - {{ item.local }}"
            data-text="{{ item.descricao }}"
        >
    </a>
   {% endfor %}

    {% for item in galeria_audiovisual %}
        <img
            alt="{{ item.titulo }}"
            src="{% static 'unitegallery/images/Movie-camera-clipart.jpg' %}"
            data-image="{% static 'unitegallery/images/Movie-camera-clipart.jpg' %}"
            data-description="{{ item.data }} - {{ item.local }}"
            data-type="{{ item.video_data_type }}"
            data-videoid="{{ item.video_data_videoid }}"
        >
    {% endfor %}
</div>

<hr>
<h5>Documentos</h5>
<table role="grid" width="100%" class="table_dados">
    <tr>
        <th>Descrição</th>
        <th width="200px">Download</th>
    </tr>

    {% for item in galeria_documento %}
        <tr>
            <td>{{ item.full_description }}</td>
            <td>
                <a class="button success" href="{{ item.arquivo.url }}">Download</a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="100%">Nenhum item disponível</td>
        </tr>
    {% endfor %}
</table>

<script type="text/javascript">
    var gallery_api;
    $(document).ready(function() {
        var apresenta_galeria = false;

        {% if galeria_imagem or galeria_audiovisual %}
            apresenta_galeria = true;
        {% endif %}

        if(apresenta_galeria) {
            gallery_api = $("#gallery").unitegallery({
                theme_text_type: "description",
                slider_textpanel_enable_title: true,
                slider_textpanel_enable_description: true,
                slider_textpanel_text_valign:"top",
            });
            var addTittle = function () {
                for (var i = 0; i < gallery_api.getNumItems(); i++){
                    var imgData = gallery_api.getItem(i);
                    var img = $("div.ug-item-wrapper img[src='" + imgData.urlImage + "']");
                    img.prop("title", imgData.text);
                }
            }
            gallery_api.on("item_change", addTittle);
            addTittle();
        }
    });
</script>
