{% load foundation_filter %}

<button onclick="show_galeria_list()" class="button secondary small">
  <i class="fa fi-arrow-left"></i> Voltar para listagem</button>


{% if can_change_gallery %}
<form action="#" method="post" enctype="multipart/form-data" id="galeria_ajax_form">
  {% csrf_token %}
  <div class="row">
    <div class="medium-3 columns">
      {{ form.tipo|as_fdt }}
    </div>
    <div class="medium-9 columns" style="display:none" id="url_field">
      {{ form.url|as_fdt }}
    </div>
    <div class="medium-9 columns" style="display:none" id="arquivo_field">
      {{ form.arquivo|as_fdt }}
    </div>
  </div>

  <div class="row">
    <div class="medium-12 columns">
      {{ form.titulo|as_fdt }}
    </div>
  </div>

  <div class="row">
    <div class="medium-12 columns">
      {{ form.descricao|as_fdt }}
    </div>
  </div>

  <div class="row">
    <div class="medium-6 columns">
      {{ form.data|as_fdt }}
    </div>
    <div class="medium-6 columns">
      {{ form.local|as_fdt }}
    </div>
  </div>
  <button class="button success" role="button" type="button" onclick="save_galeria_form({% if form.instance.pk %}{{ form.instance.pk }}{% else %}0{% endif %})">
    {% if form.instance.pk %}
      Salvar
    {% else %}
      Adicionar
    {% endif %}
  </button>
</form>
{% else %}
  <div class="row">
    <div class="medium-3 columns">
      <b>Tipo:</b> {{ form.instance.get_tipo_display }}
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <b>Título: </b> {{ form.instance.titulo }}
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <b>Descrição: </b> {{ form.instance.descricao }}
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <b>Data: </b> {{ form.instance.data|default:"" }}
    </div>
    <div class="medium-6 columns">
      <b>Local: </b> {{ form.instance.local|default:"" }}
    </div>
  </div>
{% endif %}

<script>
  $(document).ready(function() {
      define_tipo_listener();
      var can_change_gallery = "{{ can_change_gallery }}";
      if ( can_change_gallery === "True"){
        troca_tipo();
      }
  });
</script>
