{% load static %}

<script>
  $(document).ready(function() {
      update_gallery_count();
  });
</script>

<style type="text/css">
  button.fit{
    display: block;
    width: 100%;
  }
</style>

<button onclick="show_galeria_dashboard()" class="button secondary small">
  <i class="fa fi-arrow-left"></i> Voltar para exibição</button>
{% if can_change_gallery %}
<button onclick="show_galeria_create()" class="button secondary small right">
  <i class="fa fa-plus"></i> Inserir novo item</button>
{% endif %}
<table role="grid" width="100%" class="table_dados">
  <tr>
    {% if can_change_gallery %}<th width="50px">Editar</th>{% else %}<th width="50px">Visulaizar</th>{% endif %}
    <th width="100px">Tipo</th>
    <th width="200px">Título</th>
    <th>Descrição</th>
    <th width="100px">Download</th>
    {% if can_change_gallery %}<th width="120">Remover</th>{% endif %}
  </tr>
  {% for item in object_list %}
    <tr>
      <td>
        <button onclick="show_galeria_update({{ item.pk }})" class="button tiny">
      {% if can_change_gallery %}
          Editar
      {% else %}
          Visulaizar
      {% endif %}
        </button>
      </td>
  
      <td>{{ item.get_tipo_display }}</td>
      <td title="{{item.titulo }}">{{ item.titulo|truncatechars:50 }}</td>
      <td title="{{item.descricao}}">{{ item.descricao|truncatechars:100 }}</td>
      <td>
        {% if item.tipo == item.TIPO.IMAGEM %}
          {% if item.thumbnail %}
          <a href="{{ item.arquivo.url }}" download title="clique para fazer download"><img src="{{ item.thumbnail.url }}"> </a>
           {% else %}
            ---
          {% endif %}
        {% endif %}

        {% if item.tipo == item.TIPO.AUDIOVISUAL %}
        <a href="{{ item.url }}">
            <img src="{% static 'unitegallery/images/Movie-camera-clipart.jpg' %}" alt="">
        </a>
        {% endif %}

        {% if item.tipo == item.TIPO.DOCUMENTO %}
        <a href="{{ item.arquivo.url }}" title="clique para fazer download">
            <img src="{% static 'unitegallery/images/Document-clipart.png' %}" alt="">
        </a>
        {% endif %}
      </td>
      {% if can_change_gallery %}
      <td>
        <button class="button tiny alert noafter fit" onclick="delete_item_gallery_confirm({{ item.pk }})">
          <i class="fa fa-times"></i> Remover
        </button>
      </td>
      {% endif %}
    </tr>
  {% empty %}
    <tr>
      <td colspan="100%">Nenhum item disponível</td>
    </tr>
  {% endfor %}
</table>
