{% extends 'base.html' %}
{% load l10n static %}

{% block titulo %}{{ user }}{% endblock titulo %}

{% block menu_user %}active{% endblock menu_user %}

{% block content %}

{% if edit_mode or user.get_privacy.endereco %}

<div class="row content-map">
    <div id="map">
        <div id="popup" class="ol-popup">
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
            <div id="popup-content"></div>
        </div>
    </div>
    <div class="breadcrumb_map">
        <a href="{% url 'mapa_index' %}">Brasil</a> &nbsp; / &nbsp; 
        <a href="{% url 'uf_detail' user.get_profile.municipio.uf_sigla %}">{{ user.get_profile.municipio.uf_sigla }}</a> &nbsp; / &nbsp; 
        <a href="{% url 'municipio_detail' user.get_profile.municipio.uf_sigla user.get_profile.municipio.nm_municip user.get_profile.municipio_id %}">{{ user.get_profile.municipio.nome }}</a> &nbsp; / &nbsp; 
        Entorno de {{ user.get_profile.tipo }}
    </div>

    {% include "partials/filters_left.html" %}
</div>
{% endif %}

<div class="row" style="margin-top: 20px;">
    <div class="detail_title">
        {% if user.get_profile.avatar %}
            <img src="{{ user.get_profile.avatar.url }}" class="avatar" />
        {% else %}
            <img src="{% static 'img/icon-profile2.png' %}" class="avatar" />
        {% endif %}
        <h3>{{ user.nome|default:'...' }}<br><small>Pessoa Física</small></h3>
    </div>
    <div class="columns medium-12">

        <div class="row">
            <ul id="tabs" class="tabs" data-tab role="tablist" data-options="deep_linking: true;scroll_to_content: false;">
              <li id="tab-ficha" class="tab-title active" role="presentation"><a href="#panel-ficha" role="tab" tabindex="0" aria-selected="false" aria-controls="panel-ficha">Ficha</a></li>
              <li id="tab-rede" class="tab-title" role="presentation"><a href="#panel-rede" role="tab" tabindex="0" aria-selected="false" aria-controls="panel-rede">Rede <span class="info radius label" id="rede_counter_span">{{ user.total_rede }}</span></a></li>
              <li id="tab-perfil" class="tab-title" role="presentation"><a href="#panel-perfil" role="tab" tabindex="0" aria-selected="true" aria-controls="panel-perfil">Entorno</a></li>
              {% if edit_mode or user.get_privacy.endereco %}
              <li id="tab-equipamentos" class="tab-title" role="presentation"><a href="#panel-equipamentos" role="tab" tabindex="0" aria-selected="false" aria-controls="panel-equipamentos">Equipamentos <span class="info radius label">{{ total_equipamentos }}</span></a></li>
              {% endif %}
              <li id="tab-acoes" class="tab-title" role="presentation">
                <a href="#panel-acoes" role="tab" tabindex="0" aria-selected="true" aria-controls="panel-acoes">
                    Ações <span class="info radius label">{{ user.acoes.count }}</span>
                </a>
              </li>
              <li id="tab-galeria" class="tab-title" role="presentation"><a href="#panel-galeria" role="tab" tabindex="0" aria-selected="false" aria-controls="panel-galeria">Galeria <span class="info radius label" id="galeria_counter_span">{{ total_galeria }}</span></a></li>
            </ul>

        <div class="tabs-content">
          <section role="tabpanel" aria-hidden="false" class="content" id="panel-perfil">
            {% include "perfil_ponto.html" %}
          </section>
          <section role="tabpanel" aria-hidden="true" class="content active" id="panel-ficha">
            {% block ficha %}{% endblock ficha %}
          </section>
          <section role="tabpanel" aria-hidden="true" class="content" id="panel-acoes">
            {% include "acao/acao_tab.html" with agente=user  is_administrador=edit_mode is_pessoafisica=True %}
          </section>
          <section role="tabpanel" aria-hidden="true" class="content" id="panel-rede">
            {% include "rede_tab.html" with agente=user is_administrador=edit_mode is_pessoafisica=True %}
          </section>
          <section role="tabpanel" aria-hidden="true" class="content" id="panel-galeria">
            {% include "acao/galeria_tab.html" with agente=user  is_administrador=edit_mode is_pessoafisica=True %}
          </section>
          <section role="tabpanel" aria-hidden="true" class="content" id="panel-equipamentos">
            {% for tipo_equipamento, ct, equips, model_name in equipamentos %}
            <table role="grid" width="100%" class="table_equip">
                <tr>
                    <th colspan="2"><h5>{% if ct %}{{ ct }} {% endif %}{{ tipo_equipamento }}</h5></th>
                </tr>
                {% for e in equips %}
                <tr>
                    <td><a href="{{ e.get_absolute_url }}">{{ e }} </a><br/>{{ e.endereco }}</td>
                    <td width="15%">{{ e.distancia }} metros</td>
                </tr>
                {% empty %}
                <tr>
                    <td>Nenhum equipamento</td>
                    <td width="15%"></td>
                </tr>
                {% endfor %}
            </table>
            {% endfor %}
          </section>
        </div>
    </div>
</div>

</div>
{% endblock content %}

{% block extra_css %}{{ block.super }}
    <link rel="stylesheet" href="{% static 'openlayers/v3.18.2/ol.css' %}" />
    <link rel="stylesheet" href="{% static 'css/select2-fix.css' %}" />
{% endblock extra_css %}

{% block extra_js %}{{ block.super }}
<script src="{% static 'openlayers/v3.18.2/ol.js' %}"></script>
<script src="{% static 'js/highcharts/highcharts.js' %}?v=5.0.0"></script>
{% localize off %}
<script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
<script src="{% static 'js/picturefill.min.js' %}"></script>

<span id='latitude' style="display:none">{{ user.get_profile.point.y }}</span>
<span id='longitude' style="display:none">{{ user.get_profile.point.x }}</span>
<span id='url_link' style="display:none">{{ user.get_profile.lista_url }}</span>
<span id='id_ponto' style="display:none">{{ user.get_profile.pk }}</span>
<span id='_title' style="display:none">Pessoa Física</span>
<span id='_layer_name' style="display:none">lista_pessoafisica</span>
<span id='_order' style="display:none">-1</span>


{% endlocalize %}

{% if edit_mode or user.get_privacy.endereco %}
<script src="{% static 'js/mapa_detalhe_generico.js' %}?v=_4235123342314235"></script>
<script src="{% static 'js/camadas.js' %}?v=1"></script>
{% endif %}

<!-- filters right -->
<script src="{% static 'js/d3.min.js' %}"></script>
<script type="text/javascript">
    var renda_p_h = [
        {{ perfil_setores.p_h_sem_rend|default:0 }},
        {{ perfil_setores.p_h_meio_sm|default:0 }},
        {{ perfil_setores.p_h_meio_1_sm|default:0 }},
        {{ perfil_setores.p_h_1_2_sm|default:0 }},
        {{ perfil_setores.p_h_2_3_sm|default:0 }},
        {{ perfil_setores.p_h_3_5_sm|default:0 }},
        {{ perfil_setores.p_h_5_10_sm|default:0 }},
        {{ perfil_setores.p_h_10_25_sm|default:0 }},
        {{ perfil_setores.p_h_15_20_sm|default:0 }},
        {{ perfil_setores.p_h_20_sm|default:0 }}
    ];
    var renda_p_m = [
        {{ perfil_setores.p_m_sem_rend|default:0 }},
        {{ perfil_setores.p_m_meio_sm|default:0 }},
        {{ perfil_setores.p_m_meio_1_sm|default:0 }},
        {{ perfil_setores.p_m_1_2_sm|default:0 }},
        {{ perfil_setores.p_m_2_3_sm|default:0 }},
        {{ perfil_setores.p_m_3_5_sm|default:0 }},
        {{ perfil_setores.p_m_5_10_sm|default:0 }},
        {{ perfil_setores.p_m_10_25_sm|default:0 }},
        {{ perfil_setores.p_m_15_20_sm|default:0 }},
        {{ perfil_setores.p_m_20_sm|default:0 }}
    ];
    var renda_domicilios = [
        {{ perfil_setores.dom_sem_rend|default:0 }},
        {{ perfil_setores.dom_meio_sm|default:0 }},
        {{ perfil_setores.dom_meio_1_sm|default:0 }},
        {{ perfil_setores.dom_1_2_sm|default:0 }},
        {{ perfil_setores.dom_2_3_sm|default:0 }},
        {{ perfil_setores.dom_3_5_sm|default:0 }},
        {{ perfil_setores.dom_5_10_sm|default:0 }},
        {{ perfil_setores.dom_10_25_sm|default:0 }},
    ];
    var piramide_etaria_h = [
        -{{ perfil_setores.p_h_0_4|default:0 }},
        -{{ perfil_setores.p_h_5_9|default:0 }},
        -{{ perfil_setores.p_h_10_14|default:0 }},
        -{{ perfil_setores.p_h_15_19|default:0 }},
        -{{ perfil_setores.p_h_20_24|default:0 }},
        -{{ perfil_setores.p_h_25_29|default:0 }},
        -{{ perfil_setores.p_h_30_34|default:0 }},
        -{{ perfil_setores.p_h_35_39|default:0 }},
        -{{ perfil_setores.p_h_40_44|default:0 }},
        -{{ perfil_setores.p_h_45_49|default:0 }},
        -{{ perfil_setores.p_h_50_54|default:0 }},
        -{{ perfil_setores.p_h_55_59|default:0 }},
        -{{ perfil_setores.p_h_60_64|default:0 }},
        -{{ perfil_setores.p_h_65_69|default:0 }},
        -{{ perfil_setores.p_h_70_74|default:0 }},
        -{{ perfil_setores.p_h_75_79|default:0 }},
        -{{ perfil_setores.p_h_80_84|default:0 }},
        -{{ perfil_setores.p_h_85_89|default:0 }},
        -{{ perfil_setores.p_h_90_94|default:0 }},
        -{{ perfil_setores.p_h_95_99|default:0 }},
        -{{ perfil_setores.p_h_100|default:0 }}
    ];
    var piramide_etaria_m = [
        {{ perfil_setores.p_m_0_4|default:0 }},
        {{ perfil_setores.p_m_5_9|default:0 }},
        {{ perfil_setores.p_m_10_14|default:0 }},
        {{ perfil_setores.p_m_15_19|default:0 }},
        {{ perfil_setores.p_m_20_24|default:0 }},
        {{ perfil_setores.p_m_25_29|default:0 }},
        {{ perfil_setores.p_m_30_34|default:0 }},
        {{ perfil_setores.p_m_35_39|default:0 }},
        {{ perfil_setores.p_m_40_44|default:0 }},
        {{ perfil_setores.p_m_45_49|default:0 }},
        {{ perfil_setores.p_m_50_54|default:0 }},
        {{ perfil_setores.p_m_55_59|default:0 }},
        {{ perfil_setores.p_m_60_64|default:0 }},
        {{ perfil_setores.p_m_65_69|default:0 }},
        {{ perfil_setores.p_m_70_74|default:0 }},
        {{ perfil_setores.p_m_75_79|default:0 }},
        {{ perfil_setores.p_m_80_84|default:0 }},
        {{ perfil_setores.p_m_85_89|default:0 }},
        {{ perfil_setores.p_m_90_94|default:0 }},
        {{ perfil_setores.p_m_95_99|default:0 }},
        {{ perfil_setores.p_m_100|default:0 }}
    ];
    var raca_cor = {
        'branca': {{ perfil_setores.raca_cor_branca|default:0 }},
        'preta': {{ perfil_setores.raca_cor_preta|default:0 }},
        'amarela': {{ perfil_setores.raca_cor_amarela|default:0 }},
        'parda': {{ perfil_setores.raca_cor_parda|default:0 }},
        'indigena': {{ perfil_setores.raca_cor_indigena|default:0 }},
    };
</script>
<script src="{% static 'js/perfil_ponto_highcharts.js' %}"></script>
<script src="{% static 'js/remover_acao_modal.js' %}"></script>
<script src="{% static 'js/agente-vinculo.js' %}"></script>
{% endblock extra_js %}
