{% extends 'base.html' %}
{% load l10n static foundation_filter %}

{% block extra_head %}
<meta name="description" content="Adicione detalhes ao seu perfil no CulturaEduca. Participe da construção coletiva do mapa de educação
e cultura no Brasil.">
{% endblock %}

{% block titulo %} Cadastro de usuário {% endblock titulo %}

{% block extra_css %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/3.17.1/ol.css" type="text/css">

{{ form.media.css }}
{% endblock extra_css %}

{% block content %}
<div class="content-page">
    <div class="title">
        <div class="row">
            Perfil do usuário: {{user.nome}}
        </div>
    </div>
<div class="row">
    <div data-alert class="alert-box warning radius">
        <button tabindex="0" class="close" aria-label="Close Alert">&times;</button>
        <h5>Orientações gerais:</h5>
        <ol>
            <li>Os campos com <i class="fa fa-asterisk" style="font-size:8px;color:red;vertical-align:super;" aria-hidden="true"></i> são obrigatórios.</li>
            <li>Você pode escolher quais dados deseja deixar público, basta "mover o interruptor" para a esquerda: 
                <div class="switch tiny radius" style="display:inline;vertical-align:-2px;" >
                    <input id="exampleCheckboxSwitch" type="checkbox">
                    <label for="exampleCheckboxSwitch" ></label>
                </div> 
            </li>
            <li>Se tiver dúvidas ou quiser saber mais sobre alguma informação solicitada, clique em <span data-tooltip aria-haspopup="true" class="has-tip" title="Saiba Mais"><img src="{% static 'img/info3.png' %}" alt="info" /></a></span></li>
            <li>Você poderá editar esse perfil sempre que quiser.</li>
            <li>Veja o tutorial detalhado de preenchimento <a href="#">clicando aqui</a></li>
        </ol>

    </div>
    
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="columns medium-12">
                <fieldset>
                    <legend>Identificação</legend>

                    <div class="row">
                        <div class="medium-6 columns">{{ form.data_nascimento|as_fdt }}</div>
                        <div class="medium-6 columns">{{ form.identidade_genero|as_fdt }}</div>
                    </div>
                    <div class="row">
                        <div class="medium-12 columns">{{ form.avatar|as_fdt }}</div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="medium-6 columns ">{{ form.raca_cor_ibge|as_fdt }}</div>
                        <div class="medium-6 columns ">{{ form.etnia|as_fdt }}</div>
                    </div>
                    <div class="row">
                        <div class="medium-6 columns outro">{{ form.raca_cor_ibge_outro|as_fdt }}</div>
                        <div class="medium-6 columns outro">{{ form.etnia_outro|as_fdt }}</div>
                    </div>
                    <div class="row">
                        <div class="medium-6 columns">{{ form.ocupacao|as_fdt }}</div>
                        <div class="medium-6 columns">{{ form.escolaridade|as_fdt }}</div>
                    </div>
                    <div class="row">
                        <div class="medium-6 columns outro">{{ form.ocupacao_outro|as_fdt }}</div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Contato</legend>
                    <div class="row">
                        <div class="medium-6 columns">
                            <span class="data">
                                <label data-privacy-switch="true">E-Mail
                                    <div class="right">
                                        <div
                                        class="switch radius tiny has-tip tip-right"
                                        data-tooltip aria-haspopup="true"
                                        title="{% if user.get_privacy_objects.email.public %}<i class='fa fa-unlock' aria-hidden='true'></i> Público{% else %}<i class='fa fa-lock' aria-hidden='true'></i> Privado{% endif %}"
                                        style="border-bottom:none;">
                                        <input class="switch-input" id="id_email_privacy" type="checkbox" name="privacy_fields" value="{{ user.get_privacy_objects.email.pk }}"{% if user.get_privacy_objects.email.public %} checked{% endif %}>
                                        <label class="switch-paddle" for="id_email_privacy">
                                        </label>
                                    </div>
                                </div>
                            </label>
                            {{ user.email }}
                        </span>
                    </div>
                </div><br>

                <div class="row">
                    <div class="medium-6 columns"> {{ form.telefone1|as_fdt }}</div>
                    <div class="medium-6 columns"> {{ form.telefone2|as_fdt }}</div>
                </div>
                <fieldset>
                    <legend style="font-weight:normal">Redes Sociais</legend>
                    {{ redesocial_formset.management_form }}
                    <div class="row redesocial_row">
                        {% for form in redesocial_formset %}
                        <div class="wrapper">
                            <div class="medium-6 columns">
                                {{ form.non_field_errors }}
                                {{ form.errors }}
                                {{form.plataforma|as_fdt}}
                            </div>
                            <div class="medium-6 columns">
                                {{form.link|as_fdt}}
                            </div>
                            <div >
                                {{ form.id }}
                                {{ form.DELETE }}
                                {{ form.coletivo }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="medium-12 columns">
                            <div class="right">
                                <a class="button radius tiny alert removeForm" data-formset="redesocial" title="Remover Rede Social"><i class="fa fa-close"></i></a>
                                <a class="button radius tiny addForm" data-formset="redesocial" title="Adicionar Rede Social"><i class="fa fa-plus"></i></a>
                            </div> 
                        </div>
                    </div>
                </fieldset>
            </fieldset>
            <fieldset style="position: relative;">
                <legend>Localização/Endereço</legend>
                <div data-alert class="alert-box warning radius">
                    ATENÇÃO: por padrão, o endereço das Pessoas Físicas não é público! Só você poderá ver seu ponto no mapa, para os demais usuários aparecerá apenas seu Município e UF. Você pode mudar essa configuração. A responsabilidade de divulgação do seu endereço pessoal será somente sua.
                </div>
                <div class="row">
                    <div class="right" style="margin-right: 20px;">
                        <div class="switch tiny radius has-tip tip-right"
                        data-tooltip aria-haspopup="true"
                        title="{% if user.get_privacy_objects.endereco.public %}<i class='fa fa-unlock' aria-hidden='true'></i> Público{% else %}<i class='fa fa-lock' aria-hidden='true'></i> Privado{% endif %}"
                        style="border-bottom: none;">
                            <input class="switch-input" id="id_endereco_privacy" type="checkbox" name="privacy_fields" value="{{ user.get_privacy_objects.endereco.pk }}"{% if user.get_privacy_objects.endereco.public %} checked{% endif %}>
                            <label class="switch-paddle" for="id_endereco_privacy"></label>
                        </div>
                    </div>
                </div>
            {% include "endereco_fieldset.html" %}
            </fieldset>
            <fieldset>
                <legend>Atuação</legend>
                <div class="row">
                    <div class="medium-6 columns">{{ form.area_atuacao|as_fdt }} </div>
                    <div class="medium-6 columns">{{ form.atua_desde|as_fdt }}</div>
                </div><br>
                <div class="row">
                    <div class="medium-6 columns outro">{{ form.area_atuacao_outro|as_fdt }}</div>
                </div></br>
                <div class="row">
                    <div class="medium-6 columns">{{ form.tipo_espaco|as_fdt }}</div>
                    <div class="medium-6 columns">{{ form.abrangencia|as_fdt }} </div>
                </div><br>
                <div class="row">
                    <div class="medium-6 columns outro">{{ form.tipo_espaco_outro|as_fdt }}</div>
                </div><br>
                <div class="row">
                    <div class="medium-6 columns">{{ form.publico_focal|as_fdt }}</div>
                    <div class="medium-6 columns">{{ form.area_pesquisa|as_fdt }} </div>
                    
                </div><br>
                
                <!-- <div class="row">
                    <div class="medium-6 columns">{{ form.linguagens_artisticas|as_fdt }} </div>
                    <div class="medium-6 columns">{{ form.manifestacao_cultural|as_fdt }} </div>
                </div><br>
                <div class="row">
                    <div class="medium-6 columns outro">{{ form.manifestacao_cultural_outro|as_fdt }}</div>
                </div><br> -->
                <div class="row">
                    <div class="medium-12 columns">{{ form.atuacao|as_fdt }} </div>
                </div>

            </fieldset>
        </div>
        <div class="row align-right">
            <div class="medium-6 columns">
                <a role="button" class="button small alert" href="/">Cancelar</a>
                <button role="button" class="button small success" type="submit"> Salvar</button>
            </div>
        </div>
    </form>

</div>

{% endblock content %}

{% block extra_js %}
{{ form.media.js }}
<script src="{% static 'js/form/formset.js' %}" type="text/javascript"></script>
<script src="{% static 'js/form/form_field_outros.js' %}" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/3.17.1/ol.js" type="text/javascript"></script>
<script src="{% static 'js/map.js' %}?v=1" type="text/javascript"></script>


<!-- Map Init - Ol -->
<script type="text/javascript">
var initialPointWKT = "{{ form.instance.point.wkt|safe|default:'' }}";
</script>

<script src="{% static 'js/endereco_fieldset.js' %}?v=1.3" type="text/javascript"></script>

<script type="text/javascript">

$(function() {

    $('input[type="checkbox"].switch-input').change(function() {
        estado = "<i class='fa fa-lock' aria-hidden='true'></i> Privado";
        if (this.checked) {
            estado = "<i class='fa fa-unlock' aria-hidden='true'></i> Público";
        }
        var tooltip_selector = '#' + $(this).parents('div.switch').data('selector');
        var arrow = $('<span />').addClass('nub');
        $(tooltip_selector).html(estado).append(arrow);
    });

    initFormSets({prefixes:['redesocial']});

    $('div[data-href]').click(function() {
        window.location.href = $(this).data('href');
    });

});

// Mask : js/jquery.mask.js está no base.html
$('#id_cep').mask('00000-000');

</script>
{% endblock %}
