{% extends 'core/base_detalhe.html' %}
{% load l10n %}

{% block extra_head %}
<meta name="description" content="Visualize o perfil de {{user.nome}} no CulturaEduca. Participe também da 
construção coletiva do mapa de educação e cultura no Brasil.">
<!--Se essa descrição não funcionar, desligaremos os snippets para essa página em específico -->
<!-- <meta name="robots" content="max-snippet:0"> -->
{% endblock %}

{% block titulo %}Usuário: {{ user.nome|default:'' }}{% endblock titulo %}

{% load static %}

{% block ficha %}

    <div class="row">
        <div class="columns medium-12">
        {% if edit_mode %}
          <a class="button secondary small right" href="{% url 'profile_edit' %}">
              <i class="fi-page-edit"></i> Editar
          </a>
        {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="columns medium-12">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2">
                        <h5>Identificação</h5>
                    </th>
                </tr>
                <tr>
                    <th>Data de Nascimento</th>
                    <td>{{ user.get_profile.privacy_data_nascimento|default:'Não disponível' }}</td>
                </tr>
                <tr>
                    <th>Identidade de Gênero</th>
                    <td>
                        {% if user.get_privacy.identidade_genero %}
                            {{ user.get_profile.get_identidade_genero_display|default:'Não disponível' }}
                        {% else %}
                            Não disponível
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Raça ou Cor / Identidade Étnico-cultural</th>
                    <td>
                        {{ user.get_profile.privacy_raca_cor_ibge|default:'Não disponível' }}
                         /
                        {{ user.get_profile.privacy_etnia|default:'Não disponível' }}
                    </td>
                </tr>
                <tr>
                    <th>Escolaridade / Ocupação</th>
                    <td>
                        {{ user.get_profile.privacy_escolaridade|default:'Não disponível' }} 
                        /
                        {{ user.get_profile.privacy_ocupacao|default:'Não disponível' }}
                    </td>
                </tr>
                <tr>
                    <th>Telefone</th>
                    <td>{{ user.get_profile.privacy_telefone1|default:'Não disponível' }} {{ user.get_profile.privacy_telefone2|default:'' }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.get_profile.privacy_email|default:'Não disponível' }}</td>
                </tr>
                <tr>
                    <th>Redes Sociais</th>
                    <td>
                        {% for rede_social in user.redesocial_set.all %}
                            <dd>
                                <a href="{{ rede_social.link }}" target="_blank">{{ rede_social.get_plataforma_display }}</a>
                            </dd>
                        {% empty %}
                            Nenhuma rede social cadastrada
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
        <div class="columns medium-12">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2"><h5>Localização</h5></th>
                </tr>
                <tr>
                    <th>Município</th>
                    <td>
                        {{ user.get_profile.municipio|default:'Não disponível' }}
                    </td>
                </tr>
                <tr>
                    <th>Endereço</th>
                    <td>{{ user.get_profile.privacy_endereco|default:'Não disponível' }}</td>
                </tr>
                {% if edit_mode or user.get_privacy.endereco %}
                <tr>
                    <th>Latitude / Longitude </th>
                    <td>{{ user.get_profile.point.get_x|safe|default:'...' }}, {{ user.get_profile.point.get_y|safe|default:'...' }}</td>
                </tr>
                {% endif %}
            </table>
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2"><h5>Atuação</h5></th>
                </tr>
                <tr>
                    <th>Área(s) de atuação</th>
                    <td>
                        {% for area_atuacao in user.get_profile.privacy_area_atuacao.all %}
                            <dd style="padding-left: 0px;">
                                - {{ area_atuacao.nome }}
                                {% if area_atuacao.nome == "Outros" %}
                                :<dd style="padding-left: 20px;">{{ user.get_profile.area_atuacao_outro }}</dd>
                                {% endif %}
                            </dd>
                        {% empty %}
                            Não informada
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Atua nessa(s) área(s) desde</th>
                    <td>
                        {{ user.get_profile.privacy_atua_desde|default:'Não disponível' }}
                    </td>
                </tr>
                <tr>
                    <th>Público Focal</th>
                    <td>
                        {% for publico_focal in user.get_profile.privacy_publico_focal.all %}
                            <dd style="padding-left: 0px;">- {{ publico_focal.nome }}</dd>
                        {% empty %}
                            Não disponível
                        {% endfor %}
                    </td>
                </tr>
                <!-- <tr>
                    <th>Linguagens Artísticas</th>
                    <td>
                        {% for linguagem_artistica in user.get_profile.privacy_linguagens_artisticas.all %}
                            <dd style="padding-left: 0px;">- {{ linguagem_artistica.nome }}</dd>
                        {% empty %}
                            Nenhuma linguagem artística cadastrada
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Manifestações Culturais</th>
                    <td>
                        {% for manifestacao_cultural in user.get_profile.privacy_manifestacao_cultural.all %}
                            <dd style="padding-left: 0px;">- {{ manifestacao_cultural.nome }}</dd>
                        {% empty %}
                            Nenhuma manifestação cultural cadastrada
                        {% endfor %}
                    </td>
                </tr> -->
                <tr>
                    <th>Área de Estudo e Pesquisa</th>
                    <td>
                        {% for area_pesquisa in user.get_profile.privacy_area_pesquisa.all %}
                            <dd style="padding-left: 0px;">- {{ area_pesquisa.nome }}</dd>
                        {% empty %}
                            Não informada
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Tipo de espaço de atuação</th>
                    <td>
                        {% for tipo_espaco in user.get_profile.privacy_tipo_espaco.all %}
                            <dd style="padding-left: 0px;">
                                - {{ tipo_espaco.nome }}
                                {% if tipo_espaco.nome == "Outros" %}
                                :<dd style="padding-left: 20px;">{{ user.get_profile.tipo_espaco_outro }}</dd>
                                {% endif %}
                            </dd>
                        {% empty %}
                            Não informada
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Breve histórico de atuação</th>
                    <td>
                        {{ user.get_profile.atuacao }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock ficha %}

{% block extra_css %}{{ block.super }}{{ form_vinculo.media.css }}{% endblock extra_css %}
{% block extra_js %}
    {{ block.super }}
    {{ form_vinculo.media.js }}
{% endblock extra_js %}
