{% extends 'base.html' %}
{% load l10n %}

{% block titulo %}
{% if form.instance.pk %}
    Editar Rede Social: {{ form.instance.nome }}
{% else %}
    Novo Rede Social
{% endif %}
{% endblock titulo %}

{% load static %}

{% block extra_css %}
<style type="text/css">
    input[readonly], select[readonly], textarea[readonly] {
        background-color: #ddd !important;
        cursor: default;
        pointer-events: none;
    }
</style>
{% endblock %}

{% block content %}

<div class="columns medium-8 medium-cetered">
    <div class="content-page">
        <a href="{% url 'profile_detail' %}" class="btn">Usuário: {{ user }}</a>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <caption>Rede Social</caption>
                <div class="row">
                   <div class="medium-12 columns"><label for="" >{{ form.plataforma.label_tag }} {{ form.plataforma }}</label></div>
                </div>
                <div class="row">
                   <div class="medium-12 columns"><label for="" >{{ form.link.label_tag }} {{ form.link }}</label></div>
                </div>
                <div class="row">
                   <div class="medium-12 columns"><label for="" >{{ form.nome.label_tag }} {{ form.nome }}</label></div>
                </div>
            </fieldset>
            <button class="btn" type="submit">Salvar</button>
        </form>
    </div>
</div>

{% endblock content %}
