{% extends 'base.html' %}
{% load static foundation_filter %}

{% block titulo %} Cadastro de usuário {% endblock titulo %}

{% block extra_head %}
<meta name="description" content="Crie uma conta no CulturaEduca. Participe da construção coletiva do mapa de educação
e cultura no Brasil.">
{% endblock %}

{% block content %}
<div class="content-page">
	<div class="row">
		<p>&nbsp;</p>
		<div class="columns medium-centered medium-7">
			<div class="panel">
				<div class="columns medium-centered medium-10">
					<h3 class="text-center">Inicie seu cadastro</h3>
					<p>&nbsp;</p>
					<form method="post">{% csrf_token %}

						<div class="row">
							{{ form.nome|as_fdt }}
						</div>
						<div class="row">
							{{ form.email|as_fdt }}
						</div>
						<div class="row">
							{{ form.password1|as_fdt }}
						</div>
						<div class="row">
							{{ form.password2|as_fdt }}
						</div>
						<div class="row">
							<button type="submit" class="button radius expand">Cadastre-se</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block extra_js %}{{ block.super }}
{% endblock extra_js %}