

{% extends 'base.html' %}
{% load l10n %}

{% block titulo %}Usuário: {{ user.nome }}{% endblock titulo %}

{% load static %}
{% block extra_css %}
<style>

</style>
{% endblock extra_css %}
{% block content %}

<div class="columns medium-3">
    <div class="panel">
        <div class="row">
        {% if edit_mode %}
            <a style="float:right;" class="btn button tiny secondary round" role="button" href="{% url 'profile_edit' %}">  <i class="fa fa-edit"></i> Edit
            </a><br>
        {% endif %}
            <div class="columns small-12 medium-12 large-12">
                <dl>
                    <dt><i class="fa fa-user"></i> {{user.nome}}</dt>
                    <dd>{{ user.get_profile.privacy_email|default:'---' }} </dd>
                    <dt><i class="fa fa-calendar"></i>Nascimento</dt>
                    <dd>{{ user.get_profile.privacy_data_nascimento|default:'---' }}</dd>
                    <dt><i class="fa fa-envelope"></i>Contato</dt>
                    <dd>{{ user.get_profile.privacy_email|default:'---' }}</dd>
                    <dt><i class="fa fa-phone"></i></dt>
                    <dd>{{ user.get_profile.privacy_telefone1|default:'---' }}</dd>
                    <dd>{{ user.get_profile.privacy_telefone2|default:'---' }}</dd>
                    <dt><i class="fa fa-share"></i>Redes Sociais</dt>
                    {% for rede_social in user.redesocial_set.all %}
                        <dd>
                            <a href="{{ rede_social.link }}" target="_blank">{{ rede_social.get_plataforma_display }}</a>
                        </dd>
                    {% empty %}
                        <dd>Nenhuma Rede Social Cadastrada</dd>
                    {% endfor %}
                    <dt><i class="fa fa-map-marker"></i>Endereço</dt>
                    <dd>{{ user.get_profile.privacy_logradouro|default:'---' }}, {{ user.get_profile.privacy_numero|default:'---' }}</dd>
                    <dd>{{ user.get_profile.privacy_complemento|default:'---' }}</dd>
                    <dd>{{ user.get_profile.privacy_bairro|default:'---' }} </dd>
                    <dd>{{ user.get_profile.privacy_cep|default:'---' }}</dd>
                    <dd>{{ user.get_profile.privacy_municipio.nome|default:'---' }} / {{ user.get_profile.privacy_municipio.uf_sigla|default:'---' }}</dd>
                    <dt>Sexo / Gênero</dt>
                    <dd>
                        {% if user.get_privacy.sexo %}
                            {{ user.get_profile.get_sexo_display|default:'---' }}
                        {% else %}
                            ---
                        {% endif %} /
                        {% if user.get_privacy.genero %}
                            {{ user.get_profile.get_genero_display|default:'---' }}
                        {% else %}
                            ---
                        {% endif %}
                        </dd>
                    <dt>Raça ou Cor / Identidade étnico-cultural</dt>
                    <dd>
                        {% if user.get_privacy.raca_cor_ibge %}
                            {{ user.get_profile.get_raca_cor_ibge_display|default:'---' }}
                        {% else %}
                            ---
                        {% endif %} /
                        {{ user.get_profile.privacy_etnia|default:'---' }}
                    </dd>
                    <dt><i class="fa fa-graduation-cap"></i>Escolaridade / Ocupação</dt>
                    <dd>
                        {{ user.get_profile.privacy_escolaridade|default:'---' }} /
                        {{ user.get_profile.privacy_ocupacao|default:'---' }}
                    </dd>
                    <dt>Desde: </dt>
                    <dd>{{ user.get_profile.data_inicio }}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="columns medium-9">
    <div class="row">
        <div class="columns small-12 medium-12 large-12">
            <table class="">
                <caption>Ações</caption>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Endereço</th>
                        <th>Início / Fim</th>
                        <th>Tema</th>
                        <th>Formato</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ atividade.nome }}</td>
                        <td>{{ atividade.endereço }}</td>
                        <td>{{ atividade.inicio }}</td>
                        <td>{{ atividade.tema }}</td>
                        <td>{{ atividade.formato }}</td>
                    </tr>
                </tbody>
            </table>

            <table class="">
                <caption>
                    {% if edit_mode %}
                        <a href="{% url 'coletivo_publico_list' %}" style="color:#d86e31; font-weight: normal">
                            Outros agentes <i class="fa fa-external-link" style="color:#666"></i>
                        </a>
                    {% else %}
                        <a href="{% url 'coletivo_publico_list' %}" style="color:#d86e31; font-weight: normal">
                            Agentes <i class="fa  fa-external-link" style="color:#666"></i>
                        </a>
                    {% endif %}
                </caption>
                <thead>
                    <tr>
                        <th>avatar</th>
                        <th>Nome</th>
                        <th>Quantidade de Integrantes</th>
                        <th>E-mail</th>
                        <th>Nome do Contato</th>
                        <th>Telefone</th>
                        <th>Site</th>
                        <th>Abrangência</th>
                    </tr>
                </thead>
                <tbody>
                    {% for coletivo in coletivos %}
                    <tr>
                        <td>{% if coletivo.avatar %}
                        <img class="avatar" src="{{ coletivo.avatar.url }}" width="130px"/>
                        {% endif %}
                        <td>
                            <a href="{% url 'coletivo_detail' coletivo.pk %}">{{ coletivo.nome }}</a>
                        </td>
                        <td>{{ coletivo.nr_integrantes }}</td>
                        <td>{{ coletivo.email }}</td>
                        <td>{{ coletivo.nome_contato }}</td>
                        <td>{{ coletivo.telefone1 }}</td>
                        <td>
                            <a href="{{ coletivo.site }}">
                                {{ coletivo.site }}
                            </a>
                        </td>
                        <td>{{ coletivo.get_abrangencia_display }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
