{% extends 'base.html' %}
{% load static foundation_filter %}

{% block content %}
<div class="row">
    <div class="columns medium-12 medium-centered">
        <div class="content-page">
            <div class="row">
                <div class="columns medium-10">
                    <h1 class="title">
                        CulturaEduca
                    </h1>
                </div>
            </div>
            <form class="form-login" method="post">{% csrf_token %}
                <div class="row">
                    <div class="columns medium-8 medium-offset-2">{{ form.email | as_fdt }}</div>
                </div>
                <div class="row">
                    <div class="columns medium-8 medium-offset-2">
                        <button type="submit">Reenviar e-mail de confirmação</button>
                        <span style="font-size: 11pt;">
                            <a href="{% url 'user_add' %}">Cadastre-se</a>&nbsp;-
                            <a href="{% url 'password_reset' %}">Esqueceu a senha?</a>&nbsp;
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}{{ block.super }}
{% endblock extra_js %}