{% extends 'base.html' %}
{% load static foundation_filter %}

{% block content %}
<div class="row">
    <div class="columns medium-12 medium-centered">
        <div class="content-page">
            <div class="row">
            	<div class="columns medium-10">
            	    <h1 class="title">
            	        CulturaEduca
            	    </h1>
            	</div>
            </div>
            {% if validlink %}

				<p>Por favor, informe sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.</p>

				<form method="post">{% csrf_token %}
	                <div class="row">
	                    <div class="columns medium-8 medium-offset-2">{{ form.new_password1 | as_fdt }}</div>
	                    <div class="columns medium-2"></div>
	                </div>
	                <div class="row">
	                    <div class="columns medium-8 medium-offset-2">{{ form.new_password2 | as_fdt }}</div>
	                    <div class="columns medium-2"></div>
	                </div>
	                <div class="row">
	                    <div class="columns medium-8 medium-offset-2">
	                        <button type="submit">Alterar minha senha</button>
	                    </div>
	                </div>
				</form>

			{% else %}

				<p>O link para a recuperação de senha está inválido, possivelmente porque já foi utilizado. Por favor, solicite uma nova recuperação de senha <a href="{% url 'password_reset' %}" >aqui</a>.</p>

			{% endif %}
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}{{ block.super }}
{% endblock extra_js %}