{% extends 'base.html' %}
{% load static foundation_filter %}

{% block content %}
<div class="content-page">
    <div class="row">
        <p>&nbsp;</p>
        <div class="columns medium-centered medium-7">
            <div class="panel">
                <div class="columns medium-centered medium-10">
                    <h3 class="text-center">Esqueceu a senha?</h3>
                    <p>Digite o endereço de e-mail da sua conta e enviaremos um link para redefinir sua senha.</p>
                    <form method="post">{% csrf_token %}
                        <div class="row">
                            {{ form.email|as_fdt }}
                        </div>
                        <div class="row">
                            <button type="submit" class="button radius expand">Enviar e-mail de redefinição de senha</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}{{ block.super }}
{% endblock extra_js %}