{% extends 'base.html' %}
{% load static foundation_filter %}

{% block content %}
<div class="row">
    <div class="columns medium-12 medium-centered">
        <div class="content-page">
            <div class="row">
                <div class="columns medium-10">
                    <h1 class="title">
                        CulturaEduca
                    </h1>
                </div>
            </div>
            <p>Sua senha foi alterada. Clique <a href="{{ login_url }}">aqui</a> para voltar para a tela de login.</p>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}{{ block.super }}
{% endblock extra_js %}