{% extends 'base.html' %}
{% load static foundation_filter %}

{% block content %}
<div class="content-page">
    <div class="row">
        <p>&nbsp;</p>
        <div class="columns medium-centered medium-7">
            <div class="panel">
                <div class="columns medium-centered medium-10">
                    <h3 class="text-center">Redefinição de senha</h3>
                    
                    <p>Nós te enviamos as instruções para redefinição de sua senha, se existir uma conta com o e-mail que você forneceu você receberá a mensagem em breve.</p>
                    <p>Se você não receber um e-mail, por favor verifique se você digitou o endereço que você usou para se registrar, e verifique a sua pasta de spam.</p>
                    <p><a href="{% url 'login' %}" class="button radius expand">Voltar para o login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}{{ block.super }}
{% endblock extra_js %}