{% load tile_url %}
<div class="map-captions-container">
    <!--<div class="map-captions">
        <div class="title">Símbolos</div>
        <div class="caption-item">
            <div class="square"></div>
            <div>Equipamento Público</div>
        </div>
        <div class="caption-item">
            <div class="triangle"></div>
            <div>Equipamento Privado</div>
        </div>
        <div class="caption-item">
            <div class="circle"></div>
            <div>Outro equipamento</div>
        </div>
        <div class="caption-item caption-item-extra" style="display: none;">
            <div class="inverted-triangle"></div>
            <div>Membro da Rede</div>
        </div>
    </div>-->
    <!-- <div class="map-captions map-captions-extra" style="display: none;">
        <div class="title">Cores</div>
        <div class="caption-item">
            <div class="circle" style="background: #bb1944;"></div>
            <div>Este Agente</div>
        </div>
        <div class="caption-item">
            <div class="circle" style="background: #196fbb;"></div>
            <div>Agente vinculado</div>
        </div>
        <div class="caption-item">
            <div class="circle" style="background: #bba519;"></div>
            <div>Agente que sou membro</div>
        </div>
    </div> -->
    <!-- <div class="map-captions shift-message" style="display: relative;">
        <span id="popup-content" style="text-align: right;">Pressione a tecla <b>SHIFT</b> para utilizar o mapa com o scroll do mouse.</span>
        <span style="text-align: right;"><a class="caption-closer"> ✖ </a></span>
    </div> -->
</div>

<div class="label-map label-left">
    <a href="#" class="filter">CAMADAS</a>
    <div class="content-label-map content-filters">
        <div class="content-clear">
            <a href="#" class="clear-filter">LIMPAR</a>
        </div>
        <div class="list-wrapper">
            <ul class="ul-filters">
                <li><label>Divisões Urbanas</label>
                    <ul class="list-checkbox">
                        <li>
                            <label>
                                <input type="checkbox" data-popup-order="17" value="municipios" data-geojson-url="{% tile_url 'ibge_municipio' %}" data-color="#9b9a9b" data-style="false" data-shapestyle="true" data-tiled="true" id="municipios">
                                <span>Municípios</span>
                            </label>
                        </li>

                        <li>
                            <label>
                                <input type="checkbox" data-popup-order="18" value="ufs" data-geojson-url="{% tile_url 'ibge_uf' %}" data-color="#2E8B57" data-style="false" data-shapestyle="true" data-tiled="true" id="ufs">
                                <span>Estados</span>
                            </label>
                        </li>
                    </ul>
                </li>
                <li><label>Equipamentos</label>
                    <ul class="ul-filters">
                        <li><label>Assistência social</label>
                            <ul class="list-checkbox">
                                <li><label><input type="checkbox" data-popup-order="16" {% if equipamentos_existentes.cras %}  {% endif %} value="cras" data-geojson-url="{% tile_url 'equipamento_cras' %}" data-color="#006400" data-type="equipamento" data-style="true" data-tiled="true">
                                    <span class="square" style="background-color: #006400;"></span>
                                    <span>CRAS &nbsp;</span></label>
                                </li>
                            </ul>
                        </li>
                        <li><label>Ciência e Tecnologia</label>
                            <ul class="list-checkbox">
                                <li><label><input type="checkbox" data-popup-order="15" {% if equipamentos_existentes.centrociencia %}  {% endif %} value="centrociencia" data-geojson-url="{% tile_url 'equipamento_centrociencia' %}" data-color="#CD6090" data-type="equipamento" data-style="true" data-tiled="true">
                                    <span class="square" style="background-color: #CD6090;"></span>
                                    <span>Centros de Ciências</span></label>
                                </li>
                            </ul>
                        </li>
                        <li><label>Cultura</label>
                            <ul class="list-checkbox">
                                <li><label><input type="checkbox" data-popup-order="14" {% if equipamentos_existentes.biblioteca %}  {% endif %} value="biblioteca" data-geojson-url="{% tile_url 'equipamento_biblioteca' %}" data-color="#EEA2AD" data-type="equipamento" data-style="true" data-tiled="true">
                                    <span class="square" style="background-color: #EEA2AD;"></span>
                                    <span>Bibliotecas</span></label>
                                </li>
                                <li><label><input type="checkbox" data-popup-order="13" {% if equipamentos_existentes.museu %}  {% endif %} value="museu" data-geojson-url="{% tile_url 'equipamento_museu' %}" data-color="#AB82FF" data-type="equipamento" data-style="true" data-tiled="true">
                                    <span class="square" style="background-color: #AB82FF;"></span>
                                    <span>Museus</span></label>
                                </li>
                                <li><label><input type="checkbox" data-popup-order="12" {% if equipamentos_existentes.cinema %}  {% endif %} value="cinema" data-geojson-url="{% tile_url 'equipamento_cinema' %}" data-color="#7D26CD" data-type="equipamento" data-style="true" data-tiled="true">
                                    <span class="square" style="background-color: #7D26CD;"></span>
                                    <span>Salas de Cinema</span></label>
                                </li>
                                <li><label><input type="checkbox" data-popup-order="11" {% if equipamentos_existentes.teatro %}  {% endif %} value="teatro" data-geojson-url="{% tile_url 'equipamento_teatro' %}" data-color="#CD3278" data-type="equipamento" data-style="true" data-tiled="true">
                                    <span class="square" style="background-color: #CD3278;"></span>
                                    <span>Salas de Teatro</span></label>
                                </li>
                                <li><label><input type="checkbox" data-popup-order="10" {% if equipamentos_existentes.pontocultura %}  {% endif %} value="pontocultura" data-geojson-url="{% tile_url 'equipamento_pontocultura' %}" data-color="#028985" data-type="equipamento" data-style="true" data-tiled="true">
                                    <span class="square" style="background-color: #028985;"></span>
                                    <span>Pontos de Cultura</span></label>
                                </li>
                            </ul>
                        </li>
                        <li><label>Educação</label>
                            <ul class="list-checkbox">
                                <li><label><input type="checkbox" data-popup-order="9" {% if equipamentos_existentes.escola_creche %}  {% endif %} value="escola_creche" data-geojson-url="{% tile_url 'equipamento_escola_creche' %}" data-color="#215EE6" data-type="equipamento" data-style="true" data-tiled="true">
                                    <span class="square" style="background-color: #215EE6;"></span>
                                    <span>Creche</span></label></li>
                                <li><label><input type="checkbox" data-popup-order="8" {% if equipamentos_existentes.escola_pre %}  {% endif %} value="escola_pre" data-geojson-url="{% tile_url 'equipamento_escola_pre' %}" data-color="#183B88" data-type="equipamento" data-style="true" data-tiled="true">
                                    <span class="square" style="background-color: #183B88;"></span>
                                    <span>Pré-escola</span></label></li>
                                <li><label><input type="checkbox" data-popup-order="8" {% if equipamentos_existentes.escola_fund_ai %}  {% endif %} value="escola_fund_ai" data-geojson-url="{% tile_url 'equipamento_escola_fund_ai' %}" data-color="#46DB29" data-type="equipamento" data-style="true" data-tiled="true">
                                    <span class="square" style="background-color: #46DB29;"></span>
                                    <span>Ensino Fundamental - Anos Iniciais</span></label></li>
                                <li><label><input type="checkbox" data-popup-order="8" {% if equipamentos_existentes.escola_fund_af %}  {% endif %} value="escola_fund_af" data-geojson-url="{% tile_url 'equipamento_escola_fund_af' %}" data-color="#22711B" data-type="equipamento" data-style="true" data-tiled="true">
                                    <span class="square" style="background-color: #22711B;"></span>
                                    <span>Ensino Fundamental - Anos Finais</span></label></li>
                                <li><label><input type="checkbox" data-popup-order="8" {% if equipamentos_existentes.escola_medio %}  {% endif %} value="escola_medio" data-geojson-url="{% tile_url 'equipamento_escola_medio' %}" data-color="#C708CD" data-type="equipamento" data-style="true" data-tiled="true">
                                    <span class="square" style="background-color: #C708CD;"></span>
                                    <span>Ensino Médio</span></label></li>
                                <li><label><input type="checkbox" data-popup-order="8" {% if equipamentos_existentes.escola_medio_integrado %}  {% endif %} value="escola_medio_integrado" data-geojson-url="{% tile_url 'equipamento_escola_medio_integrado' %}" data-color="#E21D1D" data-type="equipamento" data-style="true" data-tiled="true">
                                    <span class="square" style="background-color: #E21D1D;"></span>
                                    <span>Ensino Médio Integrado</span></label></li>
                                <li><label><input type="checkbox" data-popup-order="8" {% if equipamentos_existentes.escola_prof %}  {% endif %} value="escola_prof" data-geojson-url="{% tile_url 'equipamento_escola_prof' %}" data-color="#A1A1A1" data-type="equipamento" data-style="true" data-tiled="true">
                                    <span class="square" style="background-color: #A1A1A1;"></span>
                                    <span>Ensino Profissionalizante</span></label></li>
                                <li><label><input type="checkbox" data-popup-order="8" {% if equipamentos_existentes.escola_eja_fund %}  {% endif %} value="escola_eja_fund" data-geojson-url="{% tile_url 'equipamento_escola_eja_fund' %}" data-color="#6E118B" data-type="equipamento" data-style="true" data-tiled="true">
                                    <span class="square" style="background-color: #6E118B;"></span>
                                    <span>Ensino EJA Fundamental</span></label></li>
                                <li><label><input type="checkbox" data-popup-order="8" {% if equipamentos_existentes.escola_eja_medio %}  {% endif %} value="escola_eja_medio" data-geojson-url="{% tile_url 'equipamento_escola_eja_medio' %}" data-color="#C8A2C8" data-type="equipamento" data-style="true" data-tiled="true">
                                    <span class="square" style="background-color: #C8A2C8;"></span>
                                    <span>Ensino EJA Médio</span></label></li>
                            </ul>

                            <!-- publico/privado' filters

                            <ul class="list-checkbox">
                                <li><label><input type="checkbox" onClick="select_multiple('creche_publica', 'creche_privada')">
                                    <span>Creche</span></label></li>
                                <li><label><input style="display: none;" id="creche_publica" type="checkbox" data-popup-order="8" {% if equipamentos_existentes.creche_publica %}  {% endif %} value="creche_publica" data-geojson-url="{% tile_url 'creche_publica' %}" data-color="#215EE6" data-type="publico" data-style="true" data-tiled="true">
                                    <span style="display: none;">Creche Pública</span></label></li>
                                <li><label><input style="display: none;" id="creche_privada" type="checkbox" data-popup-order="8" {% if equipamentos_existentes.creche_privada %} {% endif %} value="creche_privada" data-geojson-url="{% tile_url 'creche_privada' %}" data-color="#215EE6" data-type="privado" data-style="true" data-tiled="true">
                                    <span style="display: none;">Creche Privada</span></label></li>
                                
                                <li><label><input type="checkbox" onClick="select_multiple('pre_publica', 'pre_privada')">
                                    <span>Pré-escola</span></label></li>
                                <li><label><input style="display: none;" id="pre_publica" type="checkbox" data-popup-order="8" {% if equipamentos_existentes.pre_publica %}  {% endif %} value="pre_publica" data-geojson-url="{% tile_url 'pre_publica' %}" data-color="#183B88" data-type="publico" data-style="true" data-tiled="true">
                                    <span style="display: none;">Pré-escola Pública</span></label></li>
                                <li><label><input style="display: none;" id="pre_privada" type="checkbox" data-popup-order="8" {% if equipamentos_existentes.pre_privada %} {% endif %} value="pre_privada" data-geojson-url="{% tile_url 'pre_privada' %}" data-color="#183B88" data-type="privado" data-style="true" data-tiled="true">
                                    <span style="display: none;">Pré-escola Privada</span></label></li>

                                <li><label><input type="checkbox" onClick="select_multiple('fund_ai_publico', 'fund_ai_privado')">
                                    <span>Ensino Fundamental - Anos Iniciais</span></label></li>
                                <li><label><input style="display: none;" id="fund_ai_publico" type="checkbox" data-popup-order="8" {% if equipamentos_existentes.fund_ai_publico %}  {% endif %} value="fund_ai_publico" data-geojson-url="{% tile_url 'fund_ai_publico' %}" data-color="#46DB29" data-type="publico" data-style="true" data-tiled="true">
                                    <span style="display: none;">Ensino Fundamental Público - Anos Iniciais</span></label></li>
                                <li><label><input style="display: none;" id="fund_ai_privado" type="checkbox" data-popup-order="8" {% if equipamentos_existentes.fund_ai_privado %} {% endif %} value="fund_ai_privado" data-geojson-url="{% tile_url 'fund_ai_privado' %}" data-color="#46DB29" data-type="privado" data-style="true" data-tiled="true">
                                    <span style="display: none;">Ensino Fundamental Privado - Anos Iniciais</span></label></li>

                                <li><label><input type="checkbox" onClick="select_multiple('fund_af_publico', 'fund_af_privado')">
                                    <span>Ensino Fundamental - Anos Finais</span></label></li>
                                <li><label><input style="display: none;" id="fund_af_publico" type="checkbox" data-popup-order="8" {% if equipamentos_existentes.fund_af_publico %}  {% endif %} value="fund_af_publico" data-geojson-url="{% tile_url 'fund_af_publico' %}" data-color="#22711B" data-type="publico" data-style="true" data-tiled="true">
                                    <span style="display: none;">Ensino Fundamental Público - Anos Finais</span></label></li>
                                <li><label><input style="display: none;" id="fund_af_privado" type="checkbox" data-popup-order="8" {% if equipamentos_existentes.fund_af_privado %} {% endif %} value="fund_af_privado" data-geojson-url="{% tile_url 'fund_af_privado' %}" data-color="#22711B" data-type="privado" data-style="true" data-tiled="true">
                                    <span style="display: none;">Ensino Fundamental Privado - Anos Finais</span></label></li>

                                <li><label><input type="checkbox" onClick="select_multiple('escola_medio_publico', 'escola_medio_privado')">
                                    <span>Ensino Médio</span></label></li>
                                <li><label><input style="display: none;" id="escola_medio_publico" type="checkbox" data-popup-order="8" {% if equipamentos_existentes.escola_medio_publico %}  {% endif %} value="escola_medio_publico" data-geojson-url="{% tile_url 'equipamento_escola_medio_publico' %}" data-color="#C708CD" data-type="publico" data-style="true" data-tiled="true">
                                    <span style="display: none;">Ensino Médio Público</span></label></li>
                                <li><label><input style="display: none;" id="escola_medio_privado" type="checkbox" data-popup-order="8" {% if equipamentos_existentes.escola_medio_privado %} {% endif %} value="escola_medio_privado" data-geojson-url="{% tile_url 'equipamento_escola_medio_privado' %}" data-color="#C708CD" data-type="privado" data-style="true" data-tiled="true">
                                    <span style="display: none;">Ensino Médio Privado</span></label></li>                                
                                
                                <li><label><input type="checkbox" onClick="select_multiple('escola_medio_integrado_publico', 'escola_medio_integrado_privado')">
                                    <span>Ensino Médio Integrado</span></label></li>
                                <li><label><input style="display: none;" id="escola_medio_integrado_publico" type="checkbox" data-popup-order="8" {% if equipamentos_existentes.escola_medio_integrado_publico %}  {% endif %} value="escola_medio_integrado_publico" data-geojson-url="{% tile_url 'equipamento_escola_medio_integrado_publico' %}" data-color="#E21D1D" data-type="publico" data-style="true" data-tiled="true">
                                    <span style="display: none;">Ensino Médio Integrado Público</span></label></li>
                                <li><label><input style="display: none;" id="escola_medio_integrado_privado" type="checkbox" data-popup-order="8" {% if equipamentos_existentes.escola_medio_integrado_privado %} {% endif %} value="escola_medio_integrado_privado" data-geojson-url="{% tile_url 'equipamento_escola_medio_integrado_privado' %}" data-color="#E21D1D" data-type="privado" data-style="true" data-tiled="true">
                                    <span style="display: none;">Ensino Médio Integrado Privado</span></label></li>
                                
                                <li><label><input type="checkbox" onClick="select_multiple('escola_prof_publico', 'escola_prof_privado')">
                                    <span>Ensino Profissionalizante</span></label></li>
                                <li><label><input style="display: none;" id="escola_prof_publico" type="checkbox" data-popup-order="8" {% if equipamentos_existentes.escola_prof_publico %}  {% endif %} value="escola_prof_publico" data-geojson-url="{% tile_url 'equipamento_escola_prof_publico' %}" data-color="#A1A1A1" data-type="publico" data-style="true" data-tiled="true">
                                    <span style="display: none;">Ensino Profissionalizante Público</span></label></li>
                                <li><label><input style="display: none;" id="escola_prof_privado" type="checkbox" data-popup-order="8" {% if equipamentos_existentes.escola_prof_privado %} {% endif %} value="escola_prof_privado" data-geojson-url="{% tile_url 'equipamento_escola_prof_privado' %}" data-color="#A1A1A1" data-type="privado" data-style="true" data-tiled="true">
                                    <span style="display: none;">Ensino Profissionalizante Privado</span></label></li>
                                
                                <li><label><input type="checkbox" onClick="select_multiple('escola_eja_fund_publico', 'escola_eja_fund_privado')">
                                    <span>Ensino EJA Fundamental</span></label></li>
                                <li><label><input style="display: none;" id="escola_eja_fund_publico" type="checkbox" data-popup-order="8" {% if equipamentos_existentes.escola_eja_fund_publico %}  {% endif %} value="escola_eja_fund_publico" data-geojson-url="{% tile_url 'equipamento_escola_eja_fund_publico' %}" data-color="#6E118B" data-type="publico" data-style="true" data-tiled="true">
                                    <span style="display: none;">Ensino EJA Fundamental Público</span></label></li>
                                <li><label><input style="display: none;" id="escola_eja_fund_privado" type="checkbox" data-popup-order="8" {% if equipamentos_existentes.escola_eja_fund_privado %} {% endif %} value="escola_eja_fund_privado" data-geojson-url="{% tile_url 'equipamento_escola_eja_fund_privado' %}" data-color="#6E118B" data-type="privado" data-style="true" data-tiled="true">
                                    <span style="display: none;">Ensino EJA Fundamental Privado</span></label></li>
                                
                                <li><label><input type="checkbox" onClick="select_multiple('escola_eja_medio_publico', 'escola_eja_medio_privado')">
                                    <span>Ensino EJA Médio</span></label></li>
                                <li><label><input style="display: none;" id="escola_eja_medio_publico" type="checkbox" data-popup-order="8" {% if equipamentos_existentes.escola_eja_medio_publico %}  {% endif %} value="escola_eja_medio_publico" data-geojson-url="{% tile_url 'equipamento_escola_eja_medio_publico' %}" data-color="#C8A2C8" data-type="publico" data-style="true" data-tiled="true">
                                    <span style="display: none;">Ensino EJA Médio Público</span></label></li>
                                <li><label><input style="display: none;" id="escola_eja_medio_privado" type="checkbox" data-popup-order="8" {% if equipamentos_existentes.escola_eja_medio_privado %} {% endif %} value="escola_eja_medio_privado" data-geojson-url="{% tile_url 'equipamento_escola_eja_medio_privado' %}" data-color="#C8A2C8" data-type="privado" data-style="true" data-tiled="true">
                                    <span style="display: none;">Ensino EJA Médio Privado</span></label></li>
                            </ul>-->
                        </li>
                        <!-- <li><label>Meio Ambiente</label>
                            <ul class="list-checkbox">
                                <li><label><input type="checkbox" data-popup-order="8" {% if equipamentos_existentes.salaverde %}  {% endif %} value="salaverde" data-geojson-url="{% tile_url 'equipamento_salaverde' %}" data-color="#FF00FF" data-type="equipamento" data-style="true" data-tiled="true">
                                    <span>Salas Verdes</span></label></li>
                            </ul>
                        </li> -->
                        <li><label>Saúde</label>
                            <ul class="list-checkbox">
                                <li><label><input type="checkbox" data-popup-order="7" {% if equipamentos_existentes.saude %}  {% endif %} value="saude" data-geojson-url="{% tile_url 'equipamento_saude' %}" data-color="#9b9a9b" data-type="equipamento" data-style="true" data-tiled="true">
                                    <span class="square" style="background-color: #9b9a9b"></span>
                                    <span>Unidades de Saúde</span></label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><label>Rede</label>
                    <ul class="ul-filters">
                        <li><label>Agentes</label>
                            <ul class="list-checkbox">
                                <li>
                                    <label for="lista_pessoafisica">
                                        <input type="checkbox" data-popup-order="6" value="lista_pessoafisica" data-geojson-url="{% tile_url 'core_user' %}" data-color="#611FFF" data-type="agente" data-style="true" data-style="true" id="lista_pessoafisica" data-tiled="true">
                                        <span class="inverted-triangle" style="border-top: 9px solid #611FFF"></span>
                                        <span>Pessoa Física</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="lista_coletivo">
                                        <input type="checkbox" data-popup-order="5" value="lista_coletivo" data-tiled="true" data-geojson-url="{% tile_url 'agente_coletivo' %}" data-color="#699911" data-type="agente" data-style="true" id="lista_coletivo">
                                        <span class="inverted-triangle" style="border-top: 9px solid #699911"></span>
                                        <span>Coletivo / Grupo</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="lista_instituicao">
                                        <input type="checkbox" data-popup-order="4" value="lista_instituicao" data-tiled="true" data-geojson-url="{% tile_url 'agente_instituicao' %}" data-color="#991FFF" data-type="agente" data-style="true" id="lista_instituicao">
                                        <span class="inverted-triangle" style="border-top: 9px solid #991FFF"></span>
                                        <span>Instituição</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="lista_conselho">
                                        <input type="checkbox" data-popup-order="3" value="lista_conselho" data-tiled="true" data-geojson-url="{% tile_url 'agente_conselho' %}" data-color="#C35719" data-type="agente" data-style="true" id="lista_conselho">
                                        <span class="inverted-triangle" style="border-top: 9px solid #C35719"></span>
                                        <span>Fóruns/Conselhos/Comissões</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="lista_movimentosocial">
                                        <input type="checkbox" data-popup-order="2" value="lista_movimentosocial" data-tiled="true" data-geojson-url="{% tile_url 'agente_movimentosocial' %}" data-color="#666FFF" data-type="agente" data-style="true" id="lista_movimentosocial">
                                        <span class="inverted-triangle" style="border-top: 9px solid #666FFF"></span>
                                        <span>Movimentos Sociais</span>
                                    </label>
                                </li>
                            </ul>
                        </li>
                        <li><label>Ações</label>
                            <ul class="list-checkbox">
                                <li><label for="lista_projeto"><input type="checkbox" data-popup-order="1" value="lista_projeto" data-tiled="true" data-geojson-url="{% tile_url 'acao_projeto' %}" data-color="#30C5FF" data-type="acao" data-style="true" id="lista_projeto">
                                    <span class="circle" style="background-color: #30C5FF"></span>
                                    <span>Projeto</span></label>
                                </li>
                                <li><label for="lista_atividade"><input type="checkbox" data-popup-order="0" value="lista_atividade" data-tiled="true" data-geojson-url="{% tile_url 'acao_atividade' %}" data-color="#274743" data-type="acao" data-style="true" id="lista_atividade">
                                    <span class="circle" style="background-color: #274743"></span>
                                    <span>Atividades</span></label>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
