{% load tile_url %}
<div class="label-map label-left">
    <a href="#" class="filter">CAMADAS</a>
    <div class="content-label-map content-filters">
        <div class="content-clear">
            <a href="#" class="clear-filter">LIMPAR</a>
        </div>
        <div class="list-wrapper">
            <ul class="ul-filters">
                <li><label>Divisões Urbanas</label>
                    <ul class="list-checkbox">
                        <li>
                            <label>
                                <input type="checkbox" data-popup-order="17" value="municipios" data-geojson-url="{% tile_url 'ibge_municipio' %}" data-color="#9b9a9b" data-style="false" data-shapestyle="true" data-tiled="true" id="municipios">
                                <span>Municípios</span>
                            </label>
                        </li>

                        <li>
                            <label>
                                <input type="checkbox" data-popup-order="18" value="ufs" data-geojson-url="{% tile_url 'ibge_uf' %}" data-color="#2E8B57" data-style="false" data-shapestyle="true" data-tiled="true" id="ufs">
                                <span>Estados</span>
                            </label>
                        </li>
                    </ul>
                </li>
                <li><label>Equipamentos</label>
                    <ul class="ul-filters">
                        <li><label>Assistência social</label>
                            <ul class="list-checkbox">
                                <li><label><input type="checkbox" data-popup-order="16" {% if equipamentos_existentes.cras %} checked="checked" {% endif %} value="cras" data-geojson-url="{% tile_url 'equipamento_cras' %}" data-color="#006400" data-style="true" data-tiled="true">
                                    <span>CRAS</span></label>
                                </li>
                            </ul>
                        </li>
                        <li><label>Ciência e Tecnologia</label>
                            <ul class="list-checkbox">
                                <li><label><input type="checkbox" data-popup-order="15" {% if equipamentos_existentes.centrociencia %} checked="checked" {% endif %} value="centrociencia" data-geojson-url="{% tile_url 'equipamento_centrociencia' %}" data-color="#CD6090" data-style="true" data-tiled="true"> <span>Centros de Ciências</span></label></li>
                            </ul>
                        </li>
                        <li><label>Cultura</label>
                            <ul class="list-checkbox">
                                <li><label><input type="checkbox" data-popup-order="14" {% if equipamentos_existentes.biblioteca %} checked="checked" {% endif %} value="biblioteca" data-geojson-url="{% tile_url 'equipamento_biblioteca' %}" data-color="#EEA2AD" data-style="true" data-tiled="true">
                                    <span>Bibliotecas</span></label></li>
                                <li><label><input type="checkbox" data-popup-order="13" {% if equipamentos_existentes.museu %} checked="checked" {% endif %} value="museu" data-geojson-url="{% tile_url 'equipamento_museu' %}" data-color="#AB82FF" data-style="true" data-tiled="true">
                                    <span>Museus</span></label></li>
                                <li><label><input type="checkbox" data-popup-order="12" {% if equipamentos_existentes.cinema %} checked="checked" {% endif %} value="cinema" data-geojson-url="{% tile_url 'equipamento_cinema' %}" data-color="#7D26CD" data-style="true" data-tiled="true">
                                    <span>Salas de Cinema</span></label></li>
                                <li><label><input type="checkbox" data-popup-order="11" {% if equipamentos_existentes.teatro %} checked="checked" {% endif %} value="teatro" data-geojson-url="{% tile_url 'equipamento_teatro' %}" data-color="#CD3278" data-style="true" data-tiled="true">
                                    <span>Salas de Teatro</span></label></li>
                                <li><label><input type="checkbox" data-popup-order="10" {% if equipamentos_existentes.pontocultura %} checked="checked" {% endif %} value="pontocultura" data-geojson-url="{% tile_url 'equipamento_pontocultura' %}" data-color="#028985" data-style="true" data-tiled="true">
                                    <span>Pontos de Cultura</span></label></li>
                            </ul>
                        </li>
                        <li><label>Educação</label>
                            <ul class="list-checkbox">
                                <li><label><input type="checkbox" data-popup-order="9" {% if equipamentos_existentes.escola_creche %} checked="checked" {% endif %} value="escola_creche" data-geojson-url="{% tile_url 'equipamento_escola_creche' %}" data-color="#215EE6" data-style="true" data-tiled="true">
                                    <span>Creche</span></label></li>
                                <li><label><input type="checkbox" data-popup-order="8" {% if equipamentos_existentes.escola_pre %} checked="checked" {% endif %} value="escola_pre" data-geojson-url="{% tile_url 'equipamento_escola_pre' %}" data-color="#183B88" data-style="true" data-tiled="true">
                                    <span>Pré-escola</span></label></li>
                                <li><label><input type="checkbox" data-popup-order="8" {% if equipamentos_existentes.escola_fund_ai %} checked="checked" {% endif %} value="escola_fund_ai" data-geojson-url="{% tile_url 'equipamento_escola_fund_ai' %}" data-color="#46DB29" data-style="true" data-tiled="true">
                                    <span>Ensino Fundamental - Anos Iniciais</span></label></li>
                                <li><label><input type="checkbox" data-popup-order="8" {% if equipamentos_existentes.escola_fund_af %} checked="checked" {% endif %} value="escola_fund_af" data-geojson-url="{% tile_url 'equipamento_escola_fund_af' %}" data-color="#22711B" data-style="true" data-tiled="true">
                                    <span>Ensino Fundamental - Anos Finais</span></label></li>
                                <li><label><input type="checkbox" data-popup-order="8" {% if equipamentos_existentes.escola_medio %} checked="checked" {% endif %} value="escola_medio" data-geojson-url="{% tile_url 'equipamento_escola_medio' %}" data-color="#C708CD" data-style="true" data-tiled="true">
                                    <span>Ensino Médio</span></label></li>
                                <li><label><input type="checkbox" data-popup-order="8" {% if equipamentos_existentes.escola_medio_integrado %} checked="checked" {% endif %} value="escola_medio_integrado" data-geojson-url="{% tile_url 'equipamento_escola_medio_integrado' %}" data-color="#E21D1D" data-style="true" data-tiled="true">
                                    <span>Ensino Médio Integrado</span></label></li>
                                <li><label><input type="checkbox" data-popup-order="8" {% if equipamentos_existentes.escola_prof %} checked="checked" {% endif %} value="escola_prof" data-geojson-url="{% tile_url 'equipamento_escola_prof' %}" data-color="#A1A1A1" data-style="true" data-tiled="true">
                                    <span>Ensino Profissionalizante</span></label></li>
                                <li><label><input type="checkbox" data-popup-order="8" {% if equipamentos_existentes.escola_eja_fund %} checked="checked" {% endif %} value="escola_eja_fund" data-geojson-url="{% tile_url 'equipamento_escola_eja_fund' %}" data-color="#6E118B" data-style="true" data-tiled="true">
                                    <span>Ensino EJA Fundamental</span></label></li>
                                <li><label><input type="checkbox" data-popup-order="8" {% if equipamentos_existentes.escola_eja_medio %} checked="checked" {% endif %} value="escola_eja_medio" data-geojson-url="{% tile_url 'equipamento_escola_eja_medio' %}" data-color="#C8A2C8" data-style="true" data-tiled="true">
                                    <span>Ensino EJA Médio</span></label></li>
                            </ul>
                        </li>
                        <!-- <li><label>Meio Ambiente</label>
                            <ul class="list-checkbox">
                                <li><label><input type="checkbox" data-popup-order="8" {% if equipamentos_existentes.salaverde %} checked="checked" {% endif %} value="salaverde" data-geojson-url="{% tile_url 'equipamento_salaverde' %}" data-color="#FF00FF" data-style="true" data-tiled="true">
                                    <span>Salas Verdes</span></label></li>
                            </ul>
                        </li> -->
                        <li><label>Saúde</label>
                            <ul class="list-checkbox">
                                <li><label><input type="checkbox" data-popup-order="7" {% if equipamentos_existentes.saude %} checked="checked" {% endif %} value="saude" data-geojson-url="{% tile_url 'equipamento_saude' %}" data-color="#9b9a9b" data-style="true" data-tiled="true">
                                    <span>Unidades de Saúde</span></label></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><label>Rede</label>
                    <ul class="ul-filters">
                        <li><label>Agentes</label>
                            <ul class="list-checkbox">
                                <li>
                                    <label for="lista_pessoafisica">
                                        <input type="checkbox" data-popup-order="6" value="lista_pessoafisica" data-geojson-url="{% tile_url 'core_user' %}" data-color="#611FFF" data-style="true" data-style="true" id="lista_pessoafisica" data-tiled="true">
                                        <span>Pessoa Física</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="lista_coletivo">
                                        <input type="checkbox" data-popup-order="5" value="lista_coletivo" data-tiled="true" data-geojson-url="{% tile_url 'agente_coletivo' %}" data-color="#699911" data-style="true" id="lista_coletivo">
                                        <span>Coletivo / Grupo</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="lista_instituicao">
                                        <input type="checkbox" data-popup-order="4" value="lista_instituicao" data-tiled="true" data-geojson-url="{% tile_url 'agente_instituicao' %}" data-color="#991FFF" data-style="true" id="lista_instituicao">
                                        <span>Instituição</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="lista_conselho">
                                        <input type="checkbox" data-popup-order="3" value="lista_conselho" data-tiled="true" data-geojson-url="{% tile_url 'agente_conselho' %}" data-color="#C35719" data-style="true" id="lista_conselho">
                                        <span>Fóruns/Conselhos/Comissões</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="lista_movimentosocial">
                                        <input type="checkbox" data-popup-order="2" value="lista_movimentosocial" data-tiled="true" data-geojson-url="{% tile_url 'agente_movimentosocial' %}" data-color="#666FFF" data-style="true" id="lista_movimentosocial">
                                        <span>Movimentos Sociais</span>
                                    </label>
                                </li>
                            </ul>
                        </li>
                        <li><label>Ações</label>
                            <ul class="list-checkbox">
                                <li><label for="lista_projeto"><input type="checkbox" data-popup-order="1" value="lista_projeto" data-tiled="true" data-geojson-url="{% tile_url 'acao_projeto' %}" data-color="#30C5FF" data-style="true" id="lista_projeto"><span>Projeto</span></label></li>
                                <li><label for="lista_atividade"><input type="checkbox" data-popup-order="0" value="lista_atividade" data-tiled="true" data-geojson-url="{% tile_url 'acao_atividade' %}" data-color="#274743" data-style="true" id="lista_atividade"><span>Atividades</span></label></li>
                            </ul>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
