{% load i18n %}
{% autoescape off %}

<p>Parabéns! Você está vinculado a esse(a) {{ acao.tipo|lower }}: <strong>{{ acao.nome }}</strong></p>
<p>Para ver essa ação clique <a href="{{ protocol }}://{{ domain }}{{ acao.get_absolute_url }}">aqui</a> ou cole o link abaixo em um navegador.</p>
<p>{{ protocol }}://{{ domain }}{{ acao.get_absolute_url }}</p>
<p>Equipe {{ site_name }}</p>

{% endautoescape %}
