{% load i18n %}
{% autoescape off %}

<p>Um novo usuário está vinculado a esse(a) {{ acao.tipo|lower }}: <strong>{{ acao.nome }}</strong></p>

<p>Para gerenciar esse agente clique <a href="{{ protocol }}://{{ domain }}{{ acao.get_absolute_url }}">aqui</a> ou cole o link abaixo em um navegador.</p>
<p>{{ protocol }}://{{ domain }}{{ acao.get_absolute_url }}</p>
<p>Você está recebendo este email porque é administrador do(a) {{ acao.tipo|lower }} <strong>{{ acao.nome }}</strong> em {{ site_name }}.</p>
<p>Equipe {{ site_name }}</p>

{% endautoescape %}
