{% load i18n %}
<ul class="{% if not entries %}no-{% endif %}entries-recent">
  {% for entry in entries %}
  <li>
    <a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}" rel="bookmark">
      <h5 style="display: inline-block;">{{ entry.title }}</h5> <span>{{ entry.publication_date }}</span><br>
    </a>
    {{ entry.content|truncatechars:620 }}
  </li>
  {% empty %}
  <li>
    {% trans "No entries yet." %}
  </li>
  {% endfor %}
</ul>
