{% extends 'base.html' %}
{% load l10n staticfiles foundation_filter %}

{% block titulo %} {{ acao.tipo }} - Locais {% endblock titulo %}

{% block content %}
<div class="columns medium-12 medium-centered">
   <div class="content-page">

       {% if form.instance.pk %}
       <h2><small>Editar local:</small></h2>
       {% else %}
       <h2><small>Novo local para {{ acao.tipo }} <a href="{{ acao.get_absolute_url }}">{{ acao.nome }} </a></small></h2>
       {% endif %}

       <form id="endereco_fieldset_form" enctype="multipart/form-data" method="POST">{% csrf_token %}
        <div class="columns medium-12">
          <fieldset>
            <h5>Endereço</h5>
            <div class="row">
              <div class="medium-12 columns">
                {{ form.local_nome|as_fdt }}

                <ul id="drop_local_nome" class="f-dropdown content large open f-open-dropdown" aria-hidden="false" style="position: relative;left: 0px;width: 100%;max-width: 100%;top: 0px;display: none;">
                  <h3>Sugestões de Locais: </h3>
                  <span id="close_drop_local_nome" style="cursor: pointer;position: absolute;right: 10px;top: 5px;font-size: 18px;">&times;</span>
                  <ul id="drop_local_nome_list" class="drop_list" style="margin-left: 0.25rem;">
                    <li class="empty">Nenhuma sugestão disponível</li>
                  </ul>
                </ul>
              </div>
            </div>
            {% include "endereco_fieldset.html" %}
          </fieldset>
        </div>
        <div class="row">
          <div class="medium-12 columns">
            <div class="right">
                <a class="button secondary" href="{{ acao.get_absolute_url }}" role="button">Cancelar</a>
                <button class="button success" role="button" style="color:#fff;" type="submit">
                  {% if form.instance %}
                    Salvar
                  {% else %}
                    Adicionar
                  {% endif %}
                </button>
            </div>
          </div>
        </div>
       </form>
  </div>
</div>
{% endblock content %}

{% block extra_css %}
  {{ form.media.css }}
{% endblock extra_css %}

{% block extra_js %}
  {{ form.media.js }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/3.17.1/ol.js" type="text/javascript"></script>
  <script src="{% static 'js/map.js' %}?v=1" type="text/javascript"></script>

  <!-- Map Init - Ol -->
  <script type="text/javascript">
    var initialPointWKT = "{{ form.instance.point.wkt|safe|default:'' }}";
    var acao_pk = "{{ acao.pk }}";
  </script>

  <script src="{% static 'js/endereco_fieldset.js' %}?v=1.3" type="text/javascript"></script>
{% endblock extra_js %}