{% extends 'base.html' %}
{% load l10n static foundation_filter %}

{% block titulo %}{{ l }}{% endblock titulo %}
{% block menu_mapa %}active{% endblock menu_mapa %}

{% block content %}

<link rel="stylesheet" href="/static/foundation-icons/foundation-icons.css" />
<div class="row content-map map-detail">
    <div id="map">
        <div id="popup" class="ol-popup">
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
            <div id="popup-content"></div>
        </div>
    </div>
    <div class="below-map">{% include "partials/filters_left.html" %}</div>
    <div class="overmap">{% include "partials/clear_map_right.html" %}</div>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="columns medium-12 medium-centered">
        <!-- aqui vem o conteúdo das ações -->
        <div class="info-border-bottom">
            <h3 class="sub-title-profile">
                {% block subtitle %}
                    <span style="opacity: 0.8;">
                        <a href="{{ acao.get_child.get_absolute_url }}" style="opacity: 0.8;">{{ acao.tipo }} - {{ acao.nome }}</a> / 
                    </span>
                    {{ local }}
                {% endblock subtitle %}
            </h3>
        </div>
        <ul id="tabs" class="tabs" data-tab role="tablist" data-options="deep_linking: true;scroll_to_content: false;">
          <li id="tab-ficha" class="tab-title active" role="presentation"><a href="#panel-ficha" role="tab" tabindex="0" aria-selected="false" aria-controls="panel-ficha">Ficha</a></li>
          <li id="tab-perfil" class="tab-title" role="presentation"><a href="#panel-perfil" role="tab" tabindex="0" aria-selected="true" aria-controls="panel-perfil">Perfil</a></li>
          <li id="tab-equipamentos" class="tab-title" role="presentation"><a href="#panel-equipamentos" role="tab" tabindex="0" aria-selected="false" aria-controls="panel-equipamentos">Equipamentos <span class="info radius label">{{ total_equipamentos }}</span></a></li>
        </ul>
        <div class="tabs-content">
          <section role="tabpanel" aria-hidden="true" class="content active" id="panel-ficha">
            
        <div class="columns medium-12">
            <table role="grid" width="100%">
                <tr>
                    <th colspan="2"><h5>Localização</h5></th>
                </tr>
                <tr>
                    <th>Município</th>
                    <td>{{ local.municipio|default:'' }}</td>
                </tr>
                <tr>
                    <th>Endereço</th>
                    <td>{{ local.logradouro|default:'' }} {% if local.cep %} - CEP: {{ local.cep }} {% endif %} - {{ local.bairro|default:'' }}</td>
                </tr>
                <tr>
                    <th>Latitude</th>
                    <td>{{ local.point.x|default:'' }}</td>
                </tr>
                <tr>
                    <th>Longitude</th>
                    <td>{{ local.point.y|default:'' }}</td>
                </tr>
            </table>
        </div>
          </section>
          <section role="tabpanel" aria-hidden="true" class="content" id="panel-equipamentos">
            {% for tipo_equipamento, ct, equips, model_name in equipamentos %}
            <table role="grid" width="100%">
                <tr>
                    <th colspan="2"><h5>{% if ct %}{{ ct }} {% endif %}{{ tipo_equipamento }}</h5></th>
                </tr>
                {% for e in equips %}
                <tr>
                    <td><a href="{{ e.get_absolute_url }}">{{ e }} </a><br/><small>{{ e.endereco }}</small></td>
                    <td width="15%">{{ e.distancia }} metros</td>
                </tr>
                {% empty %}
                <tr>
                    <td>Nenhum equipamento</td>
                    <td width="15%"></td>
                </tr>
                {% endfor %}
            </table>
            {% endfor %}
          </section>
          <section role="tabpanel" aria-hidden="false" class="content" id="panel-perfil">
            {% include "perfil_ponto.html" %}
          </section>
        </div>
    </div>
</div>

</div>
{% endblock content %}

{% block acaolocais %}

    {% if acao.locais_acoes.count >= 1 %}

    <table role="grid" width="100%">
        <tr>
            <th><h5>Locais</h5></th>
        </tr>
        {% for local in acao.locais_acoes.all %}
            <tr>
                <td>
                    <a href="{{ local.get_absolute_url }}" class="noafter">{{ local.local_nome|default:local }}</a><br>
                    <strong>Endereço</strong>: {{ local.endereco }}<br>
                    <strong>Município/UF</strong>: {{ local.municipio }}, <strong>Bairro</strong>: {{ local.bairro }}<br>
                </td>
            </tr>
        {% endfor %}
        {% if edit_mode %}
            <tr style="background: white;">
                <td>
                    <button href="{% url 'local_create' acao.pk %}" class="button small right success dropdown"><i class="fa fa-plus-o"></i> Cadastrar novo local</button><br>
                </td>
            </tr>
        {% endif %}
    </table>

    {% endif %}

{% endblock acaolocais %}

{% block extra_css %}
    {{ form_acaomembro.media.css }}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'openlayers/v3.18.2/ol.css' %}" />
{% endblock extra_css %}

{% block extra_js %}{{ block.super }}
    {{ form_acaomembro.media.js }}

    <script src="{% static 'openlayers/v3.18.2/ol.js' %}"></script>
        <script src="{% static 'js/highcharts/highcharts.js' %}?v=5.0.0"></script>

    {% localize off %}
    <span id='latitude' style="display:none">{{ local.point.y }}</span>
    <span id='longitude' style="display:none">{{ local.point.x }}</span>
    <span id='url_link' style="display:none">{{ local.lista_url }}</span>
    <span id='id_ponto' style="display:none">{{ local.pk }}</span>
    {% endlocalize %}

    <script src="{% static 'js/mapa_detalhe_generico.js' %}?v=_4235123342314235"></script>
    <script src="{% static 'js/camadas.js' %}?v=1"></script>

    <script type="text/javascript">
        var renda_p_h = [
            {{ perfil_setores.p_h_sem_rend|default:0 }},
            {{ perfil_setores.p_h_meio_sm|default:0 }},
            {{ perfil_setores.p_h_meio_1_sm|default:0 }},
            {{ perfil_setores.p_h_1_2_sm|default:0 }},
            {{ perfil_setores.p_h_2_3_sm|default:0 }},
            {{ perfil_setores.p_h_3_5_sm|default:0 }},
            {{ perfil_setores.p_h_5_10_sm|default:0 }},
            {{ perfil_setores.p_h_10_25_sm|default:0 }},
            {{ perfil_setores.p_h_15_20_sm|default:0 }},
            {{ perfil_setores.p_h_20_sm|default:0 }}
        ];
        var renda_p_m = [
            {{ perfil_setores.p_m_sem_rend|default:0 }},
            {{ perfil_setores.p_m_meio_sm|default:0 }},
            {{ perfil_setores.p_m_meio_1_sm|default:0 }},
            {{ perfil_setores.p_m_1_2_sm|default:0 }},
            {{ perfil_setores.p_m_2_3_sm|default:0 }},
            {{ perfil_setores.p_m_3_5_sm|default:0 }},
            {{ perfil_setores.p_m_5_10_sm|default:0 }},
            {{ perfil_setores.p_m_10_25_sm|default:0 }},
            {{ perfil_setores.p_m_15_20_sm|default:0 }},
            {{ perfil_setores.p_m_20_sm|default:0 }}
        ];
        var renda_domicilios = [
            {{ perfil_setores.dom_sem_rend|default:0 }},
            {{ perfil_setores.dom_meio_sm|default:0 }},
            {{ perfil_setores.dom_meio_1_sm|default:0 }},
            {{ perfil_setores.dom_1_2_sm|default:0 }},
            {{ perfil_setores.dom_2_3_sm|default:0 }},
            {{ perfil_setores.dom_3_5_sm|default:0 }},
            {{ perfil_setores.dom_5_10_sm|default:0 }},
            {{ perfil_setores.dom_10_25_sm|default:0 }},
        ];
        var piramide_etaria_h = [
            -{{ perfil_setores.p_h_0_4|default:0 }},
            -{{ perfil_setores.p_h_5_9|default:0 }},
            -{{ perfil_setores.p_h_10_14|default:0 }},
            -{{ perfil_setores.p_h_15_19|default:0 }},
            -{{ perfil_setores.p_h_20_24|default:0 }},
            -{{ perfil_setores.p_h_25_29|default:0 }},
            -{{ perfil_setores.p_h_30_34|default:0 }},
            -{{ perfil_setores.p_h_35_39|default:0 }},
            -{{ perfil_setores.p_h_40_44|default:0 }},
            -{{ perfil_setores.p_h_45_49|default:0 }},
            -{{ perfil_setores.p_h_50_54|default:0 }},
            -{{ perfil_setores.p_h_55_59|default:0 }},
            -{{ perfil_setores.p_h_60_64|default:0 }},
            -{{ perfil_setores.p_h_65_69|default:0 }},
            -{{ perfil_setores.p_h_70_74|default:0 }},
            -{{ perfil_setores.p_h_75_79|default:0 }},
            -{{ perfil_setores.p_h_80_84|default:0 }},
            -{{ perfil_setores.p_h_85_89|default:0 }},
            -{{ perfil_setores.p_h_90_94|default:0 }},
            -{{ perfil_setores.p_h_95_99|default:0 }},
            -{{ perfil_setores.p_h_100|default:0 }}
        ];
        var piramide_etaria_m = [
            {{ perfil_setores.p_m_0_4|default:0 }},
            {{ perfil_setores.p_m_5_9|default:0 }},
            {{ perfil_setores.p_m_10_14|default:0 }},
            {{ perfil_setores.p_m_15_19|default:0 }},
            {{ perfil_setores.p_m_20_24|default:0 }},
            {{ perfil_setores.p_m_25_29|default:0 }},
            {{ perfil_setores.p_m_30_34|default:0 }},
            {{ perfil_setores.p_m_35_39|default:0 }},
            {{ perfil_setores.p_m_40_44|default:0 }},
            {{ perfil_setores.p_m_45_49|default:0 }},
            {{ perfil_setores.p_m_50_54|default:0 }},
            {{ perfil_setores.p_m_55_59|default:0 }},
            {{ perfil_setores.p_m_60_64|default:0 }},
            {{ perfil_setores.p_m_65_69|default:0 }},
            {{ perfil_setores.p_m_70_74|default:0 }},
            {{ perfil_setores.p_m_75_79|default:0 }},
            {{ perfil_setores.p_m_80_84|default:0 }},
            {{ perfil_setores.p_m_85_89|default:0 }},
            {{ perfil_setores.p_m_90_94|default:0 }},
            {{ perfil_setores.p_m_95_99|default:0 }},
            {{ perfil_setores.p_m_100|default:0 }}
        ];
        var raca_cor = {
            'branca': {{ perfil_setores.raca_cor_branca|default:0 }},
            'preta': {{ perfil_setores.raca_cor_preta|default:0 }},
            'amarela': {{ perfil_setores.raca_cor_amarela|default:0 }},
            'parda': {{ perfil_setores.raca_cor_parda|default:0 }},
            'indigena': {{ perfil_setores.raca_cor_indigena|default:0 }},
        };
    </script>
    <script src="{% static 'js/perfil_ponto_highcharts.js' %}"></script>
    <script type="text/javascript">

    $(document).ready(function () {

        {% if is_administrador %}

        // abre modal de novo membro
        $('#novoMembroModalOpener').click(function() {
            $("#novoMembroForm").foundation('reveal', 'open');
        });

        {% endif %}

        // abre modal de escolha do tipo de vinculo
        $('#vincularButton').click(function() {
            $("#modalEscolhaTipoVinculo").foundation('reveal', 'open');
        });

        $('button[data-href]').click(function() {
            window.location.href = $(this).data('href');
        });

        $("#id_vinculo_outro")
            .before('<i class="fa fa-asterisk fdt_required" style="" aria-hidden="true"></i>');

        $("#id_vinculo_tipo").change(function() {
          if ($(this).val() == '{{ VINCULO_OUTRO_VALUE }}') {
            $("#id_vinculo_outro").prop('required', true);
            $("#id_vinculo_outro").prop('disabled', false);
            $("#id_vinculo_outro")[0].focus();
          } else {
            $("#id_vinculo_outro").prop('required', false);
            $("#id_vinculo_outro").prop('disabled', true);
          }
        });

        $("#id_vinculo_tipo").change();

    });
</script>
{% endblock extra_js %}
