{% extends 'base.html' %}
{% load l10n staticfiles foundation_filter %}

{% block titulo %} {{ acao.tipo }} - Locais {% endblock titulo %}

{% block content %}
<div class="panel">
   <table>
      <caption>
         <div class="row">
            <div class="medium-12 columns">
               <form method="GET">
                  <div class="row collapse">
                     <div class="medium-6 columns"><h3>Locais do(a) {{ acao.tipo }} - <a href="{{ acao.get_absolute_url }}">{{ acao.nome }} </a></h3></div>
                     <div class="medium-6 columns">
                        <div class="right">
                            <a href="{% url 'acaolocal_create' acao.pk %}" class="button prefix left success" style="padding-left: 20px;padding-right: 20px;"><i class="fa fa-plus"></i> Cadastrar novo local</a><br>
                       </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </caption>
      {% block listagem %}
         <tr>
            <th>Endereço</th>
            <th></th>
         </tr>
         {% for obj in object_list %}
          {% with obj.local as local %}
           <tr>
              <td>
                <a class="noafter" href="{% url 'acaolocal_detail' acao.tipo.lower acao.pk local.pk %}">{{ local.local_nome }}</a><br>
                <strong>Endereço</strong>: {{ local.endereco }}<br>
                <strong>Município/UF</strong>: {{ local.municipio }}, <strong>Bairro</strong>: {{ local.bairro }}<br>
                <strong>Latitude</strong>: {{ local.point.coords.0|safe }}, <strong>Longitude</strong>: {{ local.point.coords.1|safe }}
              </td>
              <td>
                <div class="right" style="line-height: 75px;">
                  <a href="{% url 'generic_delete' 'acao.LocalAcao' obj.pk %}?next={{ request.path }}" class="button alert noafter" style="font-size: 1.0em;display: inline-block;"><i class="fa fa-times"></i> Remover</a>
                </div>
              </td>
           </tr>
          {% endwith %}
         {% empty %}
            <tr><td colspan="2">Nenhum local cadastrado.</td></tr>
         {% endfor %}
      {% endblock listagem %}
   </table>
</div>

{% endblock content %}

{% block extra_js %}
  <script type="text/javascript">
    $(function() {

      

   });
  </script>
{% endblock extra_js %}