{% extends 'acao/base_detalhe.html' %}
{% load l10n %}

{% block subtitle %}
    {{ block.super }}
    {% if acao.vinculo_projeto %}
    <a href="{{ acao.vinculo_projeto.get_absolute_url }}"
       class="tip-top label"
       data-tooltip
       aria-haspopup="true"
       style="font-size: 18px;padding: 0.35rem 0.5rem 0.25rem;color: white;" 
       title="Essa atividade faz parte do projeto <strong>{{ acao.vinculo_projeto.nome }}</strong>.">
        {{ acao.vinculo_projeto.nome }}
    </a>
    {% endif %}
{% endblock subtitle %}

{% block ficha %}

    <div class="columns medium-12">
        <table role="grid" width="100%">
            <tr>
                <th colspan="2"><h5>Identificação</h5></th>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ acao.nome|default:'' }}</td>
            </tr>
            {% if acao.vinculo_projeto %}
            <tr>
                <th>Projeto</th>
                <td><a class="noafter" href="{{ acao.vinculo_projeto.get_absolute_url }}">{{ acao.vinculo_projeto.nome|default:acao.vinculo_projeto }}</a></td>
            </tr>
            {% endif %}
            <tr>
                <th>Formato</th>
                <td>{{ acao.formato|default:'Não informado' }}</td>
            </tr>
            <tr>
                <th>Descrição</th>
                <td>{{ acao.descricao|default:'Não informado' }}</td>
            </tr>
            <tr>
                <th>Agente</th>
                <td><a class="noafter" href="{{ acao.agente_add.get_absolute_url }}">{{ acao.agente_add.nome|default:'Não informado' }}</a></td>
            </tr>
            <tr>
                <th>Financiamentos</th>
                <td>
                    {% for financiamento in acao.acaofinanciamento_set.all %}
                        {{ financiamento }}<br>
                    {% empty %}
                        Ação não tem financiamento.
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Data Início do Projeto</th>
                <td>{{ acao.inicio|default:'Não definido' }}</td>
            </tr>
            <tr>
                <th>Data Fim do Projeto</th>
                <td>{{ acao.fim|default:'Não definido' }}</td>
            </tr>
        </table>
        {% block acaolocais %}
            {{ block.super }}
        {% endblock acaolocais %}
    </div>
    <div class="columns medium-12">
        <table role="grid" width="100%">
            <tr>
                <th colspan="2"><h5>Atuação</h5></th>
            </tr>
<!--             <tr>
                <th>Linguagens Artísticas</th>
                <td>
                    {% for linguagem_artistica in acao.linguagem_artistica.all %}
                        <span>{{ linguagem_artistica }}</span><br>
                    {% empty %}
                        <span>Não informadas</span>
                    {% endfor %}
                </td>
            </tr> -->
            <tr>
                <th>Temas</th>
                <td>
                    {% for tema in acao.temas.all %}
                        <span>{{ tema }}</span><br>
                    {% empty %}
                        <span>Não informadas</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Público Focal</th>
                <td>
                    {% for publico_focal in acao.publico_focal.all %}
                        <span>{{ publico_focal }}</span><br>
                    {% empty %}
                        <span>Não informado</span>
                    {% endfor %}
                </td>
            </tr>
            <!-- <tr>
                <th>Manifestações Culturais</th>
                <td>
                    {% for manifestacao_cultural in acao.manifestacao_cultural.all %}
                        <span>{{ manifestacao_cultural }}</span><br>
                    {% empty %}
                        <span>Não informadas</span>
                    {% endfor %}
                </td>
            </tr> -->
        </table>
    </div>
    
{% endblock ficha %}
