{% extends 'acao/base_form.html' %}
{% load l10n staticfiles foundation_filter %}

{% block extra_css %}
{{ form.media.css }}
<style type="text/css">
#financiamentos .wrapper {
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
	margin: 10px 0.9375rem;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	border-bottom: 1px solid #E1E1E1;
	background: #F9F9F9;  
}

</style>
{% endblock extra_css %}
{% block form %}
<form enctype="multipart/form-data" method="POST">
	{% csrf_token %}
	<div class="columns medium-12">
		{{form.errors}}
		<fieldset>
			<h5>Identificação</h5>
			<div class="row">
				<div class="medium-6 columns">{{ form.nome|as_fdt }}</div>
				<div class="medium-3 columns" >{{ form.acaomembro_vinculo|as_fdt }}</div>
				<div class="medium-3 columns" >{{ form.acaomembro_vinculo_outro|as_fdt }}</div>
			</div>
			<div class="row">
				<div class="medium-3 columns">{{ form.propositor_tipo|as_fdt }}</div>
				<div id="propositor" class="medium-6 columns left">{{ form.propositor|as_fdt }}</div>
				<div id="propositor_outro" style="display: none;" class="medium-6 columns left">{{ form.propositor_outro|as_fdt }}</div>
				
			</div>
			<div class="row" style="padding-top: 15px;">
				<div class="medium-2 columns">{{ form.financiado|as_fdt }}</div>
				<div class="medium-10 columns">
					<div class="left" id="financiamentos" style="display: none;width: 100%;">
						{{ financiamentoformset.management_form }}
						<div class="acaofinanciamento_row">
							{% for financiamentoform in financiamentoformset %}
							<div class="wrapper">
								<div class="row">
									{{ financiamentoform.tipo|as_fdt }}
								</div>
								<div class="row financiamento_outro" style="display: none;">
									{{ financiamentoform.outro|as_fdt }}
								</div>
								<div class="row financiamento_empresa" style="display: none;">
									{{ financiamentoform.empresa|as_fdt }}
								</div>
								<div >
									{{ financiamentoform.id }}
									{{ financiamentoform.DELETE }}
								</div>
							</div>
							{% endfor %}
						</div>
						<div class="row" style="height:20px;">
							<div class="right" style="margin-right: 0.9375rem;margin-top: 10px;">
								<a class="button round tiny alert removeForm" data-formset="acaofinanciamento" title="Remover Financiamento"><i class="fa fa-close"></i></a>
								<a class="button round tiny addForm" data-formset="acaofinanciamento" title="Adicionar Financiamento"><i class="fa fa-plus"></i></a>
							</div>
						</div>
					</div>
				</div>
				</div>
				<div class="row">
					<div class="medium-6 columns">{{ form.vinculo|as_fdt }}</div>
					<div class="medium-6 columns">{{ form.resumo|as_fdt }}</div>
				</div>
				<div class="row">
					<div class="medium-6 columns column-adjust">
						{{ form.valor|as_fdt }}       
						<br>
						{{ form.inicio|as_fdt }}
						<br>
						{{ form.fim|as_fdt }}
					</div>
					<div class="medium-6 columns">
						{{ form.objetivo|as_fdt }}
					</div>
				</div>
				<div class="row">
					<div class="medium-6 columns">{{ form.temas|as_fdt }} </div>
					<div class="medium-6 columns">{{ form.publico_focal|as_fdt }}</div>
				</div><br>
				<div class="row">
					<div class="medium-6 columns outro">{{ form.temas_outro|as_fdt }}</div>
					<div class="medium-6 columns outro">{{ form.publico_focal_outro|as_fdt }}</div>
				</div>
<!-- 				<div class="row">
					<div class="medium-6 columns">{{ form.manifestacao_cultural|as_fdt }}</div> 
					<div class="medium-6 columns">{{ form.linguagem_artistica|as_fdt }}</div>
				</div><br>
				<div class="row">
					<div class="medium-6 columns outro">{{ form.manifestacao_cultural_outro|as_fdt }}</div>
				</div><br> -->
			</fieldset>
		</div>
		<div class="row align-right">
			<div class="medium-6 medium-offset-6 columns" style="text-align:right;">
				<a class="button secondary" href="/" role="button">Cancelar</a>
				<button class="button success" role="button" style="color:#fff;" type="submit">Salvar</button>
			</div>
		</div>
	</form>
	{% endblock form %}
	{% block extra_js %}
	{{ form.media.js }}
	{{ block.super }}
	<script src="{% static 'js/form/formset.js' %}" type="text/javascript"></script>
	<script type="text/javascript">
	$(function() {
		initFormSets(
          //specify the model in lowercase to build the management variables of the formset extra forms
          {prefixes: ['acaofinanciamento']}
          );

		$("#id_propositor_outro")
		.before('<i class="fa fa-asterisk fdt_required" style="" aria-hidden="true"></i>');

		$("#id_propositor_tipo").change(function() {
			if ($(this).val() == '{{ PROPOSITOR_OUTRO_VALUE }}') {
				$("#propositor_outro").slideDown('fast');
				$("#propositor").slideUp('fast');
				$("#id_propositor_outro")[0].focus();
				$("#id_propositor_outro").prop('required', true);
			} else if ($(this).val() == '{{ PROPOSITOR_ND_VALUE }}') {
				$("#id_propositor").val('Não declarado');
				$("#propositor_outro").slideUp('fast');
				$("#propositor").slideDown('fast');
				$("#id_propositor_outro").prop('required', false);
			} else {
				$("#id_propositor").val($("#id_propositor").data('agente'));
				$("#propositor_outro").slideUp('fast');
				$("#propositor").slideDown('fast');
				$("#id_propositor_outro").prop('required', false);
			}
		});

		$("#id_propositor_tipo").change();

		$("#id_nome").focus();

		$("form").on('submit', function (argument) {
			var money = $("#id_valor").val();
			if (money){
				money = parseFloat(money.replace('.', '').replace(',', '.'));
				$("#id_valor").val(money);
			}
		})

      // FINACIAMENTO_OUTRO_VALUE
      // FINACIAMENTO_EMPRESA_VALUE

    });
</script>
{% endblock extra_js %}