{% extends 'acao/base_detalhe.html' %}
{% load l10n %}
{% load humanize %}

{# block extra_js #}

{{ block.super }}

<script type="text/javascript">
    $(function() {
        $('.removerAtividadeBtn').on('click', function() {
            var remove_url = $(this).data('href');
            $("#remover_atividade_modal .remove-atividade-link").attr('href', remove_url);
            $("#remover_atividade_modal").foundation('reveal', 'open');
        });
    });
</script>
    
{# endblock extra_js #}

{% block ficha %}
    {% include "acao/acao_remocao_modal.html" with acao_tipo="atividade" id="remover_atividade_modal" %}

    <div class="columns medium-12">
        <table role="grid" width="100%">
            <tr>
                <th colspan="2"><h5>Identificação</h5></th>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ acao.nome|default:'' }}</td>
            </tr>
            <tr>
                <th>Propositor</th>
                <td>
                    {% if acao.propositor_tipo == acao.PROPOSITOR_TIPO.PROPRIO_AGENTE %}
                        <a href="{{ acao.propositor.get_absolute_url }}" class="noafter">{{ acao.propositor.nome|default:'Não informado' }}</a>
                    {% else %}
                        {{ acao.propositor|default:'Não informado' }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Valor do Projeto</th>
                {% if acao.valor %}
                <td>R$ {{ acao.valor|intcomma|localize|default:'Não informado' }}</td>
                {% else %}
                <td>Não Informado</td>
                {% endif %}
            </tr>
            <tr>
                <th>Financiamentos</th>
                <td>
                    {% for financiamento in acao.acaofinanciamento_set.all %}
                        {{ financiamento }}<br>
                    {% empty %}
                        Ação não tem financiamento.
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Data Início do Projeto</th>
                <td>{{ acao.inicio|default:'Não declarado' }}</td>
            </tr>
            <tr>
                <th>Data Fim do Projeto</th>
                <td>{{ acao.fim|default:'Não declarado' }}</td>
            </tr>
        </table>
    </div>
    <div class="columns medium-12">
        <table role="grid" width="100%">
            <tr>
                <th colspan="2"><h5>Atuação</h5></th>
            </tr>
            {% if acao.vinculo %}
            <tr>
                <th>Vínculo do Projeto</th>
                <td>{{ acao.vinculo|default:'' }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Resumo do Projeto</th>
                <td>{{ acao.resumo|default:'' }}</td>
            </tr>
            <tr>
                <th>Objetivo</th>
                <td>{{ acao.objetivo|default:'' }}</td>
            </tr>
<!--             <tr>
                <th>Linguagens Artísticas</th>
                <td>
                    {% for linguagem_artistica in acao.linguagem_artistica.all %}
                        <span>{{ linguagem_artistica }}</span><br>
                    {% empty %}
                        <span>Não informadas</span>
                    {% endfor %}
                </td>
            </tr> -->
            <tr>
                <th>Temas</th>
                <td>
                    {% for tema in acao.temas.all %}
                        <span>{{ tema }}</span><br>
                    {% empty %}
                        <span>Não informadas</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Público Focal</th>
                <td>
                    {% for publico_focal in acao.publico_focal.all %}
                        <span>{{ publico_focal }}</span><br>
                    {% empty %}
                        <span>Não informado</span>
                    {% endfor %}
                </td>
            </tr>
<!--             <tr>
                <th>Manifestações Culturais</th>
                <td>
                    {% for manifestacao_cultural in acao.manifestacao_cultural.all %}
                        <span>{{ manifestacao_cultural }}</span><br>
                    {% empty %}
                        <span>Não informadas</span>
                    {% endfor %}
                </td>
            </tr> -->
        </table>
        {% block acaolocais %}{{ block.super }}{% endblock acaolocais %}
        <table role="grid" width="100%">
            <tr>
                <th>
                    <h5 style="display: inline-block;">Atividades</h5>
                    {% if is_administrador %}
                    <a href="{% url 'atividade_create' acao.pk %}" class="noafter button tiny right success">Cadastrar nova atividade</a><br>
                    {% endif %}
                </th>
            </tr>
            {% for atividade in acao.atividades.all %}
                <tr>
                    <td>
                        <a class="noafter" href="{{ atividade.get_absolute_url }}" >{{ atividade.nome }}</a>
                    </td>
                    {% if is_administrador %}
                    <!-- <td>
                        <a class="noafter button alert tiny right removerAtividadeBtn" style="margin-right: 5px;" data-href="{% url 'generic_delete' 'acao.Atividade' atividade.pk %}?next={% url 'profile_detail' %}#fndtn-panel-acoes">
                            <i class="fa fa-user-times" aria-hidden="true"></i> Remover {{ atividade.tipo|lower }}
                        </a>
                    </td> -->
                    {% endif %}
                </tr>
            {% empty %}
                {% if is_administrador %}
                    <tr>
                        <td style="background: white;" class="row">
                            <div class="columns medium-12">
                                <p>Esse projeto possui alguma <strong>Atividade</strong>? Clique no botão abaixo para cadastrar uma nova atividade vinculada a esse projeto.</p>
                            </div>
                        </td>
                    </tr>
                {% else %}
                <tr>
                    <td style="background: white;" class="row">
                        <div class="columns medium-12" style="text-align: center;">
                            <p>Nenhuma atividade está vinculada a esse projeto.</p>
                        </div>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>        
    </div>
    
{% endblock ficha %}