{% extends 'base_form.html' %}
{% load l10n staticfiles foundation_filter %}

{% block form %}
<form enctype="multipart/form-data" method="POST">
	{% csrf_token %}
	<div class="row">
		<div class="columns medium-12">
			<fieldset>
				<h5>Identificação</h5>
				<div class="row">
					<div class="medium-12 columns">{{ form.nome|as_fdt }}</div>
				</div>
				<div class="row">
					<div class="medium-4 columns">{{ form.avatar|as_fdt }}</div>
				</div>
				<div class="row">
					<div class="medium-2 columns">{{ form.numero_integrantes|as_fdt }}</div>
				</div>
				<div class="row">
					<div class="medium-3 columns">{{ form.vinculo_orgao_publico|as_fdt }}</div>
				</div>
				<div id="vinculo_orgao_publico" {% if not form.vinculo_orgao_publico.value %}style="display: none;"{% endif %}><br>
					<div class="row">
						<div class="medium-6 columns">{{ form.vinculo_orgao_publico_nome|as_fdt }}</div>
						<div class="medium-6 columns">{{ form.vinculo_orgao_publico_esfera|as_fdt }}</div>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<h5>Contato</h5>
				<div class="row">
					<div class="medium-4 columns">
						{{ form.email|as_fdt }}
					</div>
					<div class="medium-4 columns">
						{{ form.telefone1|as_fdt }}
					</div>
					<div class="medium-4 columns left">
						{{ form.telefone2|as_fdt }}
					</div>
				</div>
				<div class="row">
					<div class="medium-12 columns">
						{{ form.site|as_fdt }}
					</div>
				</div>
				<fieldset>
					<legend style="font-weight:normal;color:#D86E31">Redes Sociais</legend>
					{{ redesocialformset.management_form }}
					<div class="row agenteredesocial_row">
						{% for redesocial in redesocialformset %}
						<div class="wrapper">
							<div class="medium-6 columns">
								{{redesocial.plataforma|as_fdt}}
							</div>
							<div class="medium-6 columns">
								{{redesocial.link|as_fdt}}
							</div>
							<div >
								{{ redesocial.id }}
								{{ redesocial.DELETE }}
							</div>
						</div>
						{% endfor %}
					</div>
					<div class="row">
						<div class="medium-1 medium-push-11 columns" style="height:20px; padding-left:0px;">
							<div class="right">
								<a class="button round tiny alert removeForm" data-formset="agenteredesocial" title="Remover Rede Social"><i class="fa fa-close"></i></a>
								<a class="button round tiny addForm" data-formset="agenteredesocial" title="Adicionar Rede Social"><i class="fa fa-plus"></i></a>
							</div>
						</div>
					</div>
				</fieldset>
			</fieldset>
			<fieldset>
				<h5>Endereço</h5>
				<div class="row">
					<div class="medium-12 columns">
						{{ form.local_sede|as_fdt }}
					</div>
				</div>
				{% include "endereco_fieldset.html" %}
			</fieldset>
			<fieldset>
				<h5>Atuação</h5>
				<div class="row">
					<div class="medium-6 columns">{{ form.area_atuacao|as_fdt }} </div>
					<div class="medium-6 columns">{{ form.publico_focal|as_fdt }}</div>
				</div><br>
				<div class="row">
					<div class="medium-6 columns outro">{{ form.area_atuacao_outro|as_fdt }}</div>
					<div class="medium-6 columns outro">{{ form.publico_focal_outro|as_fdt }}</div>
				</div>
				<div class="row">
					<div class="medium-6 columns">{{ form.data_abertura|as_fdt }}</div>
					<div class="medium-6 columns">{{ form.abrangencia|as_fdt }} </div>
				</div><br>
				<div class="row">
					<div class="medium-6 columns">{{ form.atuacao|as_fdt }}</div>
					<div class="medium-6 columns">{{ form.objetivo|as_fdt }}</div>
				</div>
				<fieldset>
					<legend style="font-weight:normal;color:#D86E31">Composição Atual</legend>
					{{ conselhocomposicaomembroformset.management_form }}
					<div class="row conselhocomposicaomembro_row">
						{% for composicao in conselhocomposicaomembroformset %}
						<div class="wrapper">
							<div class="medium-6 columns">
								{{composicao.nome|as_fdt}}
							</div>
							<div class="medium-6 columns">
								{{composicao.cargo|as_fdt}}
							</div>
							<div >
								{{ composicao.id }}
								{{ composicao.DELETE }}
							</div>
						</div>
						{% endfor %}
					</div>
					<div class="row">
						<div class="medium-1 medium-push-11 columns" style="height:20px; padding-left:0px;">
							<div class="right">
								<a class="button round tiny alert removeForm" data-formset="conselhocomposicaomembro" title="Remover Composiçao"><i class="fa fa-close"></i></a>
								<a class="button round tiny addForm" data-formset="conselhocomposicaomembro"  title="Adicionar Composição"><i class="fa fa-plus"></i></a>
							</div>
						</div>
					</div>
				</fieldset>
				<div class="row">
					<div class="medium-4 columns">{{ form.periodicidade_reunioes|as_fdt }}</div>
					<div class="medium-4 columns">
						{{ form.mandato_inicio|as_fdt }}
					</div>
					<div class="medium-4 columns">
						{{ form.mandato_fim|as_fdt }}
					</div>
				</div>
			</fieldset>
		</div>
	</div>
	<div class="row align-right">
		<div class="medium-6 medium-offset-6 columns" style="text-align:right;">
			<a class="button secondary" href="/" role="button">Cancelar</a>
			<button class="button success" role="button" style="color:#fff;" type="submit">Salvar</button>
		</div>
	</div>
</form>
{% endblock form %}
{% block extra_js %}
{{ block.super }}
<script type="text/javascript">
$(function() {
	$("#id_vinculo_orgao_publico").change(function() {
		if ($(this).is(":checked")) {
			$("#vinculo_orgao_publico").slideDown();
			$("#id_vinculo_orgao_publico_nome").prop('required', true);
			$("#id_vinculo_orgao_publico_esfera").prop('required', true);
		} else {
			$("#vinculo_orgao_publico").slideUp();
			$("#id_vinculo_orgao_publico_nome").prop('required', false);
			$("#id_vinculo_orgao_publico_esfera").prop('required', false);
		}
	});
});
</script>
{% endblock extra_js %}

{% block formsets_js %}
<script type="text/javascript">
$(function(){
	initFormSets(
        //specify the model in lowercase to build the management variables of the formset extra forms
        {prefixes: ['agenteredesocial', 'conselhocomposicaomembro']}
        );
})
</script>
{% endblock formsets_js %}