{% load i18n %}
{% autoescape off %}

<p>Você está recebendo este email porque solicitou o cadastro da sua conta em {{ site_name }}.</p>

<p>Por favor, acesse o seguinte endereço para concluir o cadastro:</p>
<a href="{{ protocol }}://{{ domain }}{% url 'email_verification_confirm' uid token %}">
	{{ protocol }}://{{ domain }}{% url 'email_verification_confirm' uid token %}
</a>

<p>Obrigado por usar nosso site!</p>

<p>Equipe {{ site_name }}</p>

{% endautoescape %}
