p, li {
    font-size: 13px;
}

li {
    list-style: none;
}

table{
    border:0 solid transparent;
  border-collapse: collapse;
}

table>caption{
    text-align: left;
    /*padding-left: 10px;*/
    /*background-color: transparent;*/
    color: #d86e31;
    font-weight: normal;
}

table>thead {
    background-color: transparent;
    border: 0;
    /* border-top: 1px solid #ececec; */
    border: 0 solid transparent;
    border-bottom: 1px solid #969696;
    border-top: 1px solid #969696;
    /*border-top: 1px dashed #48cfcc;*/
}

table>thead>tr>th {
    font-weight: normal;
    color: #969696;
}

table> tbody > tr > td {
  border:0;
  color:#444;
}

table> tbody > tr > td >a{
  color:#1564ff;
}

table> tbody > tr > td >a:not(.noafter)::after{
  font-family: "FontAwesome";
  content: "\f08e";
  color: #999;
}

table> tfoot > tr > td >a{
    font-size: 11px;
}


.social-buttons > .facebook-this > a,
.social-buttons > .tweet-this > a,
.social-buttons > .gplus-this > a{
    display:block;
    padding: 0.1em;
    margin-left: 5px;
    border-radius: 50%;
    text-align: center;
    color:#fff;
    line-height: 2.5em;
    height: 10px;
    min-width: 2.5em;
    min-height: 2.5em;
    max-width: 2.5em;
    max-height: 2.5em;
    opacity: 0.8;
}
.social-buttons > .facebook-this > a:hover,
.social-buttons > .tweet-this > a:hover,
.social-buttons > .gplus-this > a:hover{
    opacity: 1;
}

.social-buttons  > a{
    border-radius: 50%;
    color:#fff;
    margin-left: 5px;
    text-align: center;
    padding: 0.2em;
    min-width: 2em;
    min-height: 2em;
    max-width: 2em;
    max-height: 2em;
    opacity: 0.8;
}
.social-buttons > a:hover{
    opacity: 1;
}

.social > li.social-buttons {
    margin-left: 0px;
}

.facebook-this > a,
a.facebook-icon{
    background-image: linear-gradient(#4e69a2, #3b5998 50%);

}

.tweet-this > a,
a.twitter-icon{
    background-color: #1da1f2;
}

.gplus-this > a,
a.gplus-icon{
    background-color: rgb(216,104,94);
}


.breadcrumbs{
    padding:5px;
}

.continue-reading > a{
    color: #bb1944;
    font-size: 14px;
    font-weight: bold;
}
.comment {
    text-align: justify;
    text-justify: inter-word;
    display: block;
}
p.comment-info {
    display: inline-block;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.entries-calendar{
    border:none;
}

.divider{
    display: block;
    background-color: #d0d0d0;
    width: 10px;
}

table.entries-calendar > tfoot,
table.entries-calendar > thead,
table.entries-calendar > td,
table.entries-calendar > th,
.mon, .sun, .tue, .wed, .thu, .fri, .sat, .noday {
    background-color: #f2f2f2;
    color:#bb1944;
    font-size: 11px;
}
table.entries-calendar > tfoot,
table.entries-calendar > thead,{
    border-top:1px solid black;
    border-bottom: 1px solid black;
    font-size: 11px;
}
th {
    color: #bb1944;
}
.gravatar{
    margin: 5px;
}
.entry-title > a{
    color:#bb1944;
}
.entry-summary{
    color:#222222;
}
.entry-footer {
    border-top: none;
    /*border-bottom: 1px solid black;*/
    padding: 10px;
    min-height: 100px;
    margin-bottom: 2em;
    background-color: #f7f7f7
}
.entry-info{
    padding-top: 0;
    font-style: italic;
}
.entry-next > p{
    padding-left: 1.2em;
}
.entry-content{
    text-align: justify;
    text-justify: inter-word;
    color:#222222;
}
.searchbutton{
    padding-left: 0;
}
.submitbutton{
    display: block;
    background-color: #d0d0d0;
    border-radius: 5px;
    height: 37px;
}
.zinnia #comment-list li, .zinnia #pingback-list li, .zinnia #trackback-list li {
    list-style: none;
    padding: 1em 1em 0 1em;
    margin-bottom: 1em; }

span.vcard{
    display: block;
}
span.author{
    display: inline-block;
    border: none;
}

h1 {
    color:#181818;
    font-size: 1.3rem;
}

h3 {
    color:#bb1944;
    font-size: 1.3rem;
    font-weight: bold;
}

fieldset > legend{
    font-weight:normal;
    color:#D86E31
}

input.dateTimeWidget{
    width: 25%;
    display: inline-block;
    margin-right: 5px;
}

input.select2-search__field{
    margin-bottom: 5px;
}

.meta{
    margin-bottom:20px;
}
div.content-page{
    margin-bottom: 30px;
}

ul.paginator {
    text-align: center;
    margin: 0;
    padding: 1.5em 0;
    font-size: 1.2em;
}
li.page{
    /*border-style: solid;*/
    border-radius: 50%;
}
.zinnia ul.paginator li {
    list-style: none;
    display: inline-block;
    margin-right: 0.3em;
}
.zinnia ul.paginator li.current {
    font-weight: bold;
}
.zinnia ul.paginator li.current, .zinnia ul.paginator li.index, .zinnia ul.paginator li.ellipsis, .zinnia ul.paginator li * {
    padding: 0 0.5em;
}
.zinnia ul.paginator li.index, .zinnia ul.paginator li.previous, .zinnia ul.paginator li.next, .zinnia ul.paginator li.ellipsis {
    display: none;
}
@media (min-width: 480px) {
.zinnia ul.paginator li.previous, .zinnia ul.paginator li.next, .zinnia ul.paginator li.ellipsis {
    display: inline-block;
    }
}
@media (min-width: 1024px) {
.zinnia ul.paginator li.index {
    display: inline-block;
    }
}
