.page-padding {
    padding-top: 24px; 
    padding-bottom: 24px;
}

.tab-content {
    border: 2px solid rgb(225, 225, 225); 
    padding: 12px;
}

.font-default {
    font-size: 14px;
}

.checkbox-container {
    display: flex; 
    flex-wrap: wrap;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
}

.busca-btn {
    padding-top: 18px; 
    padding-right: 0; 
    width: 100%;
}

.busca-table {
    margin-bottom: 0px; 
    margin-top: 6px;
}

.pagination-btn-first {
    padding-right: 6px;
} 

.pagination-btn-prev {
    padding-right: 3px;
}

.pagination-btn-next {
    padding-left: 3px;
}

.pagination-btn-last {
    padding-left: 6px;
}