body {
  font-family:"Open Sans","Helvetica","Arial",sans-serif; !important;
  color: #181818;
  font-size: 13px;
}

.discreet {
  color: #e7e7e7;
}

a:hover {
  text-decoration: underline;
}
.content-page {
  background-color: #fff;
}
  .content-page p, .content-page li  {
    font-size: 14px;
    
  }


.select2--culturaeduca .select2-container--default .select2-selection--single {
  height: 37px;
  border-radius: 0px;

}

.select2--culturaeduca .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
}

.content-map {
  max-width: 100%;
  display: block;
  min-height: 490px;
  margin-top: 0px;
  position: relative;
  overflow-y: hidden; }

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.breadcrumb_map {
  -moz-box-shadow: 0 3px 5px #666;
  -webkit-box-shadow: 0 3px 5px #666;
  box-shadow: 0 3px 5px #666;
  background: url("../img/bg_breadcrumb_map.png") repeat !important;
  color: #fff;
  padding: 10px 10px 10px 20px;
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
}

.breadcrumb_map a {
  color: #fff;
}

.detail_title h3 {
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
}

.avatar {
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

/* TABS */
  .tabs .tab-title {
    margin: 10px 10px 0px 0;
  }
    .tabs .tab-title > a {
      background-color: #d86e31;
      color: #4c4c4c;
      padding: 10px 20px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.8rem;
    }
      .tabs .tab-title > a:hover {
          background-color: #e1e1e1;
      }
      .tabs .tab-title.active a {
          background-color: #e1e1e1;
          color: #222222;
      }
/* END TABS */

/* Table Dados */
  .table_dados table {
    width: 100%;
  }
  .table_dados th, .table_dados td, .table_equip th, .table_equip td {
    font-size: 13px;
  }
/*  .table_dados th {
    width: 38%;
  }*/

/* END Table Dados */

/* Top Bar */
  @media only screen and (min-width: 40.063em) {
    .top-bar {
      background: #fff;
      overflow: visible; }
      .top-bar:before, .top-bar:after {
        content: " ";
        display: table; }
      .top-bar:after {
        clear: both; }
      .top-bar .toggle-topbar {
        display: none; }
      .top-bar .title-area {
        float: left; }
      .top-bar .name h1 a {
        width: auto; }
      .top-bar input,
      .top-bar .button,
      .top-bar button {
        font-size: 0.875rem;
        position: relative;
        top: 7px; }
      .top-bar.expanded {
        background: #fff; }

    .contain-to-grid .top-bar {
      max-width: 62.5em;
      margin: 0 auto;
      margin-bottom: 0; }

    .top-bar-section {
      transition: none 0 0;
      left: 0 !important; }
      .top-bar-section ul {
        width: auto;
        height: auto !important;
        display: inline; }
        .top-bar-section ul li {
          float: left; }
          .top-bar-section ul li .js-generated {
            display: none; }
      .top-bar-section li.hover > a:not(.button) {
        background-color: #fff;
        background: #fff;
        color: #9b9a9b; }
      .top-bar-section li:not(.has-form) a:not(.button) {
        padding: 0 15px;
        line-height: 45px;
        background: #fff; }
        .top-bar-section li:not(.has-form) a:not(.button):hover {
          background-color: #fff;
          background: #fff; }
      .top-bar-section li.active:not(.has-form) a:not(.button) {
        padding: 0 15px;
        line-height: 45px;
        color: #9b9a9b;
        background: #fff; }
        .top-bar-section li.active:not(.has-form) a:not(.button):hover {
          background: #fff;
          color: #9b9a9b; }
  }
  .top-bar {
    background: #FFFFFF;
    height: 90px;
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
    border-top: 5px solid #b52647;
    box-shadow: 0px 2px 10px #c0c0c0; 
  }
  .top-bar .title-area {
    margin: 0;
    padding: 5px 0 0 20px;
    position: relative; 
  }
  .top-bar-section ul {
    background: #fff;
    display: inherit; block;
    height: auto;
    margin: 0;
    padding-top: 20px; 
  }  
  .top-bar-section ul li {
    background: #fff; }
    .top-bar-section ul li > a {
      background: #fff;
      color: #b52647;
      display: block;
      font-family: 'Open Sans', sans-serif;
      font-size: 0.9rem;
      font-weight: 600;
      padding: 12px 0 12px 1.04167rem;
      text-transform: uppercase;
      width: 100%; }
      
    .top-bar-section ul li:hover:not(.has-form) > a {
      color: #9b9a9b;
      background: #fff; }
    .top-bar-section ul li.active > a {
      background: #fff;
      color: #9b9a9b; }
      .top-bar-section ul li.active > a:hover {
        background: #fff;
        color: #9b9a9b; }
/* END Top Bar */

/* Camadas Mapa */
  .label-map {
    margin: 20px 0 0 20px;
    width: 330px !important;
    position: relative; }
    .label-map.label-left .content-label-map {
      margin-left: 0 !important;
      max-height: 370px; }
    .label-map.label-right {
        margin-right: 0 !important;
        max-height: 370px; }
    .label-map a.filter {
      -moz-box-shadow: 2px 3px 5px #666;
      -webkit-box-shadow: 2px 3px 5px #666;
      box-shadow: 2px 3px 5px #666;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background: url("../img/bg_camadas.png") repeat !important;
      padding: 8px 5px 8px 45px;
      position: relative;
      font-size: 0.9rem;
      font-weight: bold;
      color: #222222;
      display: inline-block; }
      .label-map a.filter.active, .label-map a.filter:hover {
        text-decoration: none; }
        .label-map a.filter.active:before, .label-map a.filter:hover:before {
          background: url("../img/layers.png") no-repeat 0 0; }
      .label-map a.filter:hover + span {
        display: inline; }
      .label-map a.filter:before {
        content: " ";
        background: url("../img/layers.png") no-repeat 0 0;
        display: inline-block;
        height: 32px;
        width: 32px;
        position: absolute;
        left: 3px;
        top: 3px; }

    .label-map .content-label-map {
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      padding: 10px;
      position: relative;
      box-shadow: 1px 0px 10px #666;
      display: none;
      width: 100%;
      margin: 10px 0 10px 0;
      /*z-index: 1000;*/
    }

    .map-captions-container {
      float: right;
    }

    .map-captions {
      margin: 20px 20px 0 20px;
      position: relative;
      -moz-box-shadow: 2px 3px 5px #666;
      -webkit-box-shadow: 2px 3px 5px #666;
      box-shadow: 2px 3px 5px #666;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background: url("../img/bg_camadas.png") repeat !important;
      padding: 8px 10px 8px 10px;
      position: relative;
      color: #222222;
      display: block;
    }
    .map-captions .title {
      font-size: 0.9rem;
      font-weight: bold;
      padding-bottom: 5px;
    }

    .map-captions .caption-item {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .map-captions .square {
      width: 7px;
      height: 7px;
      background: black;
      margin-right: 5px;
    }

    .map-captions .triangle {
      width: 0;
      height: 0;
      border-left: 3.5px solid transparent;
      border-right: 3.5px solid transparent;
      border-bottom: 7px solid black;
      margin-right: 5px;
    }

    .map-captions .inverted-triangle {
      width: 0;
      height: 0;
      border-left: 3.5px solid transparent;
      border-right: 3.5px solid transparent;
      border-top: 7px solid black;
      margin-right: 5px;
    }

    .map-captions .circle {
      width: 7px;
      height: 7px;
      background: black;
      border-radius: 50%;
      margin-right: 5px;
    }

  .content-label-map .clear-filter {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #222222;
    font-size: 1rem;
    cursor: pointer;
    /*z-index: 1000;*/
    padding: 5px 10px; }
    .content-label-map .clear-filter:hover {
      text-decoration: none; }

  .content-filters {
    background: url("../img/bg_camadas.png") repeat !important;
    width: 340px !important; 
  }

  label input[type="checkbox"], label input[type="radio"] {
    margin: 0 5px 8px 0; }
    label input[type="checkbox"]:before, label input[type="radio"]:before {
      display: inline-block;
      content: " ";
      background: url("../img/checkbox.png") no-repeat top;
      width: 18px;
      height: 19px;
      margin-right: 10px; }
    label input[type="checkbox"]:checked:before, label input[type="radio"]:checked:before {
      background-position: bottom; }
    label input[type="checkbox"]:hover:before, label input[type="radio"]:hover:before {
      background-position: bottom; }

  .ul-filters {
    list-style: none;
    margin: 0; }
    .ul-filters > li {
      margin-bottom: 10px;
      padding-left: 0;
      position: relative;  }
      .ul-filters > li.active > label {
        background-position: 0 -20px; }
      .ul-filters > li > label {
        font-weight: 900;
        font-size: 0.8rem;
        color: #222222;
        cursor: pointer;
        padding-left: 25px;
        background: url("../img/filters-arrows.png") no-repeat 0 3px; }
      .ul-filters > li > ul {
        margin-top: 10px;
        margin-left: 25px; }
        .ul-filters > li > ul.ul-filters {
          display: none; }

  .list-checkbox {
    list-style: none;
    display: none;
    margin-left: -20px; }
    .list-checkbox li {
    padding: 0 5px; }
    .list-checkbox > li:before {
      content: initial; }
    .list-checkbox > li > label {
      font-size: 0.8rem; }
      .list-checkbox > li > label > span {
        display: inline-block;
        vertical-align: 3px;
      }
  
  .list-checkbox .square {
    width: 9px;
    height: 9px;
    background: black;
    margin-right: 5px;
  }
  
  .list-checkbox .inverted-triangle {
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
    border-top: 9px solid black;
    margin-right: 5px;
  }
  
  .list-checkbox .circle {
    width: 9px;
    height: 9px;
    background: black;
    border-radius: 50%;
    margin-right: 5px;
  }
      
  .list-wrapper{
    margin-top: 30px;
    max-height: 270px;
    overflow-y: auto; }

  .content-clear {
    display: block; }
/*  END Camadas Mapa */


#popup-menu {
    margin: 0;
  }
  #popup-menu .is-accordion-submenu-parent[aria-expanded="false"] > a > h6::after {
    content: "\f0d7";
    font-family: "FontAwesome";
    float: right;
  }
  #popup-menu .is-accordion-submenu-parent[aria-expanded="true"] > a > h6::after {
    content: "\f0d8";
    font-family: "FontAwesome";
    float: right;
  }

  #popup-menu ul.is-accordion-submenu {
    margin-left: 0.5rem;
  }

  #popup-menu ul.menu.vertical.nested {
    margin-left: 0.35rem;
}

/* Open Layers */
  .ol-control {
    top: inherit !important;
    left: inherit !important;
    bottom: .5em !important;
    right: .5em !important; }

  .ol-logo-only {
    display: none !important; }

  .ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 225px;
    z-index: 1000; }
    .ol-popup ul, .ol-popup li {
    list-style: none; }
    .ol-popup:after, .ol-popup:before {
      top: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    .ol-popup:after {
      border-top-color: white;
      border-width: 10px;
      left: 48px;
      margin-left: -10px; }
    .ol-popup:before {
      border-top-color: #cccccc;
      border-width: 11px;
      left: 48px;
      margin-left: -11px; }
    .ol-popup .ol-popup-closer {
      text-decoration: none;
      position: absolute;
      top: 2px;
      right: 8px; }
      .ol-popup .ol-popup-closer:after {
        content: "✖";
        color: #000; }
      .ol-popup .ol-popup-closer:hover {
        text-decoration: none; }
/* END Open Layers */

/* ----------- FOOTER ----------- */

.site-footer {
  background: #fff;
  color: #8aa0ae;
  padding: 0;
  margin-bottom: 20px;
  /*margin-top: 10px;*/
}
  .site-footer a {
    padding-right: 2rem;
  }

.site-footer-title {
  color: #9b9a9b;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}
.site-footer-bottom {
  background: #2c3840;
  padding: 0.7rem 0;
  box-shadow: 0px 3px 10px #c0c0c0; 
}
.site-footer-bottom p {
  margin-bottom: 0; }
  .site-footer-bottom a {
    padding: 10px;
  }


@media screen and (max-width: 39.9375em) {
  .site-footer .columns {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 63.9375em) {
  .site-footer-bottom .site-footer-bottom-links {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 63.9375em) {
  .site-footer-bottom {
    text-align: center;
  }
}

