body {
  padding-top: 0em; }

.opacity-60 {
  opacity: 0.6;
}

a:hover {text-decoration: underline; }

/*li {list-style: none; }*/

/*.row, .table, .table .thead {
  max-width: 1280px; }*/
  .row.full-width, .full-width.table, .table .full-width.thead {
    max-width: 100% !important; }

@media only screen and (min-width: 40.063em) {
  .top-bar {
    background: #fff;
    overflow: visible; }
    .top-bar:before, .top-bar:after {
      content: " ";
      display: table; }
    .top-bar:after {
      clear: both; }
    .top-bar .toggle-topbar {
      display: none; }
    .top-bar .title-area {
      float: left; }
    .top-bar .name h1 a {
      width: auto; }
    .top-bar input,
    .top-bar .button,
    .top-bar button {
      font-size: 0.875rem;
      position: relative;
      top: 7px; }
    .top-bar.expanded {
      background: #fff; }

  .contain-to-grid .top-bar {
    max-width: 62.5em;
    margin: 0 auto;
    margin-bottom: 0; }

  .top-bar-section {
    transition: none 0 0;
    left: 0 !important; }
    .top-bar-section ul {
      width: auto;
      height: auto !important;
      display: inline; }
      .top-bar-section ul li {
        float: left; }
        .top-bar-section ul li .js-generated {
          display: none; }
    .top-bar-section li.hover > a:not(.button) {
      background-color: #fff;
      background: #fff;
      color: #9b9a9b; }
    .top-bar-section li:not(.has-form) a:not(.button) {
      padding: 0 15px;
      line-height: 45px;
      background: #fff; }
      .top-bar-section li:not(.has-form) a:not(.button):hover {
        background-color: #fff;
        background: #fff; }
    .top-bar-section li.active:not(.has-form) a:not(.button) {
      padding: 0 15px;
      line-height: 45px;
      color: #9b9a9b;
      background: #fff; }
      .top-bar-section li.active:not(.has-form) a:not(.button):hover {
        background: #fff;
        color: #9b9a9b; }
}

.top-bar {
  background: #FFFFFF;
  height: 5rem;
  line-height: 5rem;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
  border-top: 5px solid #b52647;
  box-shadow: 0px 2px 10px #c0c0c0;
  /*border-bottom: 1px solid #c0c0c0;*/
  /*padding-left: 100px;*/
  /*padding-right: 70px;*/
   }
  .top-bar .title-area {
    margin: 0;
    padding-left: 10px;
    position: relative; }
  .top-bar .name {
    font-size: 16px;
    height: 3.125rem;
    margin: 0; }
    .top-bar .name h1, .top-bar .name h2, .top-bar .name h3, .top-bar .name h4, .top-bar .name p, .top-bar .name span {
      font-size: 0.8125rem;
      line-height: 3.125rem;
      margin: 0; }
      .top-bar .name h1 a, .top-bar .name h2 a, .top-bar .name h3 a, .top-bar .name h4 a, .top-bar .name p a, .top-bar .name span a {
        color: #d86e31;
        display: block;
        font-weight: normal;
        /*padding: 0 1.04167rem;*/
        width: 75%; }

.top-bar-section {
  left: 0;
  position: relative;
  width: auto;
  transition: left 300ms ease-out; }
  .top-bar-section ul {
    background: #fff;
    display: inherit; block;
    font-size: 16px;
    height: auto;
    margin: 0;
    padding-top: 15px; 
    /*padding-right: 80px;*/
    }
  .top-bar-section .divider,
  .top-bar-section [role="separator"] {
    border-top: solid 1px gray;
    clear: both;
    height: 1px;
    width: 100%; }
  .top-bar-section ul li {
    background: #fff; }
    .top-bar-section ul li > a {
      background: #fff;
      color: #b52647;
      display: block;
      font-family: 'Open Sans', sans-serif;
      font-size: 0.9rem;
      font-weight: 600;
      padding: 12px 0 12px 1.04167rem;
      text-transform: uppercase;
      width: 100%; }
      
    .top-bar-section ul li:hover:not(.has-form) > a {
      background-color: #fff;
      color: #9b9a9b;
      background: #fff; }
    .top-bar-section ul li.active > a {
      background: #fff;
      color: #9b9a9b; }
      .top-bar-section ul li.active > a:hover {
        background: #fff;
        color: #9b9a9b; }

  .top-bar-section .has-form {
    padding: 1.04167rem; }
  .top-bar-section .has-dropdown {
    position: relative; }
    .top-bar-section .has-dropdown > a:after {
      border: inset 5px;
      content: "";
      display: block;
      height: 0;
      width: 0;
      border-color: transparent transparent transparent rgba(255, 255, 255, 0.4);
      border-left-style: solid;
      margin-right: 1.04167rem;
      margin-top: -4.5px;
      position: absolute;
      top: 50%;
      right: 0; }
    .top-bar-section .has-dropdown.moved {
      position: static; }
      .top-bar-section .has-dropdown.moved > .dropdown {
        position: static !important;
        height: auto;
        width: auto;
        overflow: visible;
        clip: auto;
        display: block;
        position: absolute !important;
        width: 100%; }
      .top-bar-section .has-dropdown.moved > a:after {
        display: none; }
  .top-bar-section .dropdown {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    display: block;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 99;
    left: 100%; }
    .top-bar-section .dropdown li {
      height: auto;
      width: 100%; }
      .top-bar-section .dropdown li a {
        font-weight: normal;
        padding: 8px 1.04167rem; }
        .top-bar-section .dropdown li a.parent-link {
          font-weight: normal; }
      .top-bar-section .dropdown li.title h5,
      .top-bar-section .dropdown li.title-legends h5,
      .top-bar-section .dropdown .profile li.sub-title-profile h5,
      .profile .top-bar-section .dropdown li.sub-title-profile h5, .top-bar-section .dropdown .content-detail li.title-detail h5,
      .content-detail .top-bar-section .dropdown li.title-detail h5, .top-bar-section .dropdown li.parent-link {
        margin-bottom: 0;
        margin-top: 0;
        font-size: 1.125rem; }
        .top-bar-section .dropdown li.title h5 a,
        .top-bar-section .dropdown li.title-legends h5 a,
        .top-bar-section .dropdown .profile li.sub-title-profile h5 a,
        .profile .top-bar-section .dropdown li.sub-title-profile h5 a, .top-bar-section .dropdown .content-detail li.title-detail h5 a,
        .content-detail .top-bar-section .dropdown li.title-detail h5 a, .top-bar-section .dropdown li.parent-link a {
          color: #9b9a9b;
          display: block; }
          .top-bar-section .dropdown li.title h5 a:hover,
          .top-bar-section .dropdown li.title-legends h5 a:hover,
          .top-bar-section .dropdown .profile li.sub-title-profile h5 a:hover,
          .profile .top-bar-section .dropdown li.sub-title-profile h5 a:hover, .top-bar-section .dropdown .content-detail li.title-detail h5 a:hover,
          .content-detail .top-bar-section .dropdown li.title-detail h5 a:hover, .top-bar-section .dropdown li.parent-link a:hover {
            background: none; }
      .top-bar-section .dropdown li.has-form {
        padding: 8px 1.04167rem; }
      .top-bar-section .dropdown li .button,
      .top-bar-section .dropdown li button {
        top: auto; }
    .top-bar-section .dropdown label {
      color: #999999;
      font-size: 0.625rem;
      font-weight: bold;
      margin-bottom: 0;
      padding: 8px 1.04167rem 2px;
      text-transform: uppercase; }

.content-page p, .content-page ul, ul {
  font-size: 0.9rem; }

/*.content-page li {
  list-style: square; }*/

.content-page a, .content-page a:hover, .content-page a:visited {
  color: #bc024d; }

.content-page a:hover {
  text-decoration: underline; }

.content-page .button, .content-page .button:hover  {
  color: #fff;
  text-decoration: none; }

.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #b52647;
  padding: 1.2rem;
  margin-bottom: 10px;
  width: auto;
  position: relative;
  background: #cfcfcf;
  border-bottom: 1px solid #b52647;
  text-transform: uppercase;
}

select {
  -moz-appearance: none !important; }

legend {
  color: #D86E31;
}

.content-map {
  display: block;
  min-height: 38.35em;
  position: relative;
  padding-bottom: 50px;
  overflow-y: hidden; }

.content-map.map-detail {
  min-height: 400px; }

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.below-map {
  z-index: 10;
  left: 0;
  margin-left: 10px;
  position: absolute;
  top: 0;
  width: 25%; }

/* Camadas Mapa */
  .content-filters {
    background: url("../img/filters-bg.png") repeat !important;
    width: 350px !important; }

  .content-label-map .clear-filter {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #222222;
    font-size: 1em;
    cursor: pointer;
    z-index: 1000;
    padding: 5px 10px; }
    .content-label-map .clear-filter:hover {
      text-decoration: none; }

  .ul-filters {
    list-style: none;
    margin: 0; }
    .ul-filters > li {
      margin-bottom: 10px;
      padding-left: 0;
      position: relative;  }
      .ul-filters > li.active > label {
        background-position: 0 -20px; }
      .ul-filters > li > label {
        font-weight: 900;
        font-size: 1em;
        color: #222222;
        cursor: pointer;
        padding-left: 30px;
        background: url("../img/filters-arrows.png") no-repeat 0 3px; }
      .ul-filters > li > ul {
        margin-top: 10px;
        margin-left: 30px; }
        .ul-filters > li > ul.ul-filters {
          display: none; }

  .list-checkbox {
    list-style: none;
    display: none;
    margin-left: -20px; }
    .list-checkbox > li:before {
      content: initial; }

  .label-map {
    margin-top: 20px;
    position: relative; }
    .label-map.label-left .content-label-map {
      margin-left: 0 !important;
      max-height: 380px; }
    .label-map.label-right {
        margin-right: 0 !important;
        max-height: 380px; }
    .label-map a.filter {
      -moz-box-shadow: 0 1px 2px #666;
      -webkit-box-shadow: 0 1px 2px #666;
      box-shadow: 0 1px 2px #666;
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      background: #FFFFFF;
      padding: 5px 10px 0 45px;
      position: relative;
      font-size: 18px;
      font-weight: 100;
      color: #222222;
      display: inline-block; }
      .label-map a.filter.active, .label-map a.filter:hover {
        text-decoration: none; }
        .label-map a.filter.active:before, .label-map a.filter:hover:before {
          background: url("../img/labels-map.png") no-repeat 0 0; }
      .label-map a.filter:hover + span {
        display: inline; }
      .label-map a.filter:before {
        content: " ";
        background: url("../img/labels-map.png") no-repeat 0 -35px;
        display: inline-block;
        height: 32px;
        width: 35px;
        position: absolute;
        left: 0;
        top: 0; }
      .label-map a.clear-map{
        -moz-box-shadow: 0 1px 2px #666;
        -webkit-box-shadow: 0 1px 2px #666;
        box-shadow: 0 1px 2px #666;
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        background: #FFFFFF;
        padding: 5px 45px 0px 10px;
        font-size: 18px;
        font-weight: 100;
        color: #222222;
        display: inline-block;
        content: " ";
        background: url("../img/title-block-left-corner.png") no-repeat 0 -35px;
        display: inline-block;
        height: 32px;
        width: 35px;
        position: absolute;
        left: 0;
        top: 0;
      }
      .label-map a.filter:after {
        -moz-box-shadow: 0px 3px 3px -2px #666;
        -webkit-box-shadow: 0px 3px 3px -2px #666;
        box-shadow: 0px 3px 3px -2px #666;
        -moz-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.3);
        content: " ";
        background: url("../img/title-block-bottom-right-corner.png") no-repeat 0 0;
        display: inline-block;
        width: 40px;
        position: absolute;
        right: -40px;
        top: 0;
        height: 32px; }
    .label-map .content-label-map {
      background: #FFFFFF;
      padding: 15px 10px 5px 10px;
      position: relative;
      margin-left: 20px;
      box-shadow: 1px 0px 10px #666;
      display: none;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 20px;
      z-index: 1; }

  label input[type="checkbox"], label input[type="radio"] {
    margin-right: 5px; }
    label input[type="checkbox"]:before, label input[type="radio"]:before {
      display: inline-block;
      content: " ";
      background: url("../img/checkbox.png") no-repeat top;
      width: 18px;
      height: 19px;
      margin-right: 10px; }
    label input[type="checkbox"]:checked:before, label input[type="radio"]:checked:before {
      background-position: bottom; }
    label input[type="checkbox"]:hover:before, label input[type="radio"]:hover:before {
      background-position: bottom; }

  .content-page .list-checkbox li {
    padding: 0 5px; }

  .list-wrapper{
    margin-top: 20px;
    max-height: 290px;
    overflow-y: auto; }

  .content-clear {
    display: block; }
/*  END Camadas Mapa */


/* Botão Mapa Inicial */
  .overmap {
      position: relative;
      min-width: 45px;
      min-height: 20px;
  }

  .overmap .overmap-right {
      float: right;
      margin-top: 20px;
      margin-right: 10px;
  }

  .overmap .overmap-item {
      box-shadow: 0 1px 0px rgba(0, 0, 0, 0.3);
      background: #FFFFFF;
      padding: 5px 10px 0 10px;
      position: relative;
      font-size: 18px;
      font-weight: 100;
      color: #222222;
      display: inline-block;
      text-decoration: none;
  }

  .overmap-right:before {
          box-shadow: 0 1px 0px rgba(0, 0, 0, 0.3);
          content: " ";
          background: url("../img/title-block-bottom-left-corner.png") no-repeat 0 0;
          width: 35px;
          float: left;
          height: 32px;
          border-left: none;
  }
  .overmap-right:after {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      content: " ";
      background: url("../img/labels-map.png") no-repeat 0 -35px;
      display: inline-block;
      height: 32px;
      width: 35px;
      float:right;
  }
/* END Botão Mapa Inicial */

.table {
  margin-top: 20px !important; }
  .table .table-columns {
    border: 1px solid #bb1944; }
    .table .table-columns.no-border {
      border: none; }
    .table .table-columns.no-padding {
      padding: 0; }
  .table .thead {
    border-bottom: 1px solid #d9d9db;
    padding-bottom: 10px;
    text-align: center;
    color: #bb1944;
    margin-right: -0.3em;
    padding-right: 0.2em; }
    .table .thead .table-columns {
      border: none; }
  .table .tbody {
    overflow-y: scroll;
    margin-right: -0.3em;
    padding-right: 0.2em;
    margin-top: 20px;
    max-height: 500px; }
    .table .tbody .link-row {
      color: #1e1e1c;
      font-weight: 100; }
      .table .tbody .link-row:hover .index-row {
        background: #FFFFFF !important; }
      .table .tbody .link-row:hover .table-columns {
        background: #f6f4f9; }
    .table .tbody .index-row {
      padding-top: 25px; }
    .table .tbody .table-columns {
      min-height: 80px; }
    .table .tbody .row, .table .tbody .table, .table .tbody .thead {
      margin: 0; }
      .table .tbody .row.row-active, .table .tbody .row-active.table, .table .tbody .row-active.thead {
        background: #f6f4f9; }
  .table.table-no-spacing {
    margin: 0; }
    .table.table-no-spacing .thead {
      border-bottom: none;
      padding-bottom: 0; }
    .table.table-no-spacing .tbody {
      overflow-y: auto;
      max-height: inherit;
      margin-top: 0; }

.ol-control {
  top: inherit !important;
  left: inherit !important;
  bottom: .5em !important;
  right: .5em !important; }

.ol-logo-only {
  display: none !important; }


#popup-menu {
    margin: 0;
  }
  #popup-menu .is-accordion-submenu-parent[aria-expanded="false"] > a > h6::after {
    content: "\f0d7";
    font-family: "FontAwesome";
    float: right;
  }
  #popup-menu .is-accordion-submenu-parent[aria-expanded="true"] > a > h6::after {
    content: "\f0d8";
    font-family: "FontAwesome";
    float: right;
  }

  #popup-menu ul.is-accordion-submenu {
    margin-left: 0.5rem;
  }

  #popup-menu ul.menu.vertical.nested {
    margin-left: 0.35rem;
  }

.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 225px;
  z-index: 1000; }
  .ol-popup ul, .ol-popup li {
  list-style: none; }
  .ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px; }
  .ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px; }
  .ol-popup .ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px; }
    .ol-popup .ol-popup-closer:after {
      content: "✖";
      color: #000; }
    .ol-popup .ol-popup-closer:hover {
      text-decoration: none; }



.select2--culturaeduca .select2-container--default .select2-selection--single {
  height: 37px;
  border-radius: 0px;
}

.select2--culturaeduca .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
}



/* ----------- ZNC ----------- */

body {font-family: 'Open Sans', sans-serif; !important;}

.discreet {
	color: #e7e7e7;
}

.graph-panel {
	margin-bottom: 1.2em;
}

small.help-block {
    display: block;
    font-size: 0.8rem;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 1rem;
    margin-top: -18px;
    padding: 0.375rem 0.5625rem 0.5625rem;
    background: transparent;
    color: #777;
}

label>i.fdt_required{
    color:red;
    font-size: .5em;
    vertical-align: top;
    margin-top: 3px;
}

.panel{
        background-color: #3a75b1;
    }
    dl {
        display: block;
        margin-top: 0;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        padding-left: 20px;
    }
    dt{
        padding: 0;
        color:#90d9cb;
        font-weight: normal;
    }
    dt>.fa{
        font-size: 2em;
        padding-left: -10px;
        float:right;
        color:#90d9cb;
    }
    dd{
        padding:0;
        padding-left: 10px;
        color:#fdfdfd;
        font-size: 1.2em;
    }
    table{
        width:100%;
    }
    table>caption{
        text-align: left;
        padding-left: 10px;
       background-color: #90d9cb;
    }
    table>thead>tr>th{
        font-weight: normal;
    }

#content{
    min-height: 38.35em;
}

label[data-privacy-switch="true"] div.switch {
    display: inline-block;
    opacity: 0.42;
    margin-bottom: 0.5rem;
}

label[data-privacy-switch="true"]:hover div.switch {
    opacity: 1;
    -webkit-transition: opacity 0.2s linear;
       -moz-transition: opacity 0.2s linear;
         -o-transition: opacity 0.2s linear;
            transition: opacity 0.2s linear;
}


/* ----------- FOOTER ----------- */

.site-footer {
  background: #fff;
  color: #8aa0ae;
  padding: 0;
}


.site-footer .column-block {
  margin-bottom: 20px;
  margin-top: 20px;
}

@media screen and (max-width: 39.9375em) {
  .site-footer .columns {
    margin-bottom: 2rem;
  }
}

.site-footer-name {
  color: #8aa0ae;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.site-footer-title {
  color: #8aa0ae;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.site-footer-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.site-footer-block p {
  margin-left: 1rem;
  line-height: 1.125rem;
}

.site-footer-bottom {
  background: #2c3840;
  padding: 1rem 0;
}

.site-footer-bottom p,
.site-footer-bottom .menu {
  margin-bottom: 0;
}

@media screen and (max-width: 63.9375em) {
  .site-footer-bottom .site-footer-bottom-links {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 63.9375em) {
  .site-footer-bottom {
    text-align: center;
  }
}

#pointFieldValidator{
  display:none;
}
