@font-face{
	font-family:oswaldbold;
	src:url(../fonts/oswald-bold-webfont.eot);
	src:url(../fonts/oswald-bold-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/oswald-bold-webfont.woff2) format('woff2'),url(../fonts/oswald-bold-webfont.woff) format('woff'),url(../fonts/oswald-bold-webfont.ttf) format('truetype'),url(../fonts/oswald-bold-webfont.svg#oswaldbold) format('svg');font-weight:400;font-style:normal}

@font-face{
	font-family:oswaldlight;
	src:url(../fonts/oswald-light-webfont.eot);
	src:url(../fonts/oswald-light-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/oswald-light-webfont.woff2) format('woff2'),url(../fonts/oswald-light-webfont.woff) format('woff'),url(../fonts/oswald-light-webfont.ttf) format('truetype'),url(../fonts/oswald-light-webfont.svg#oswaldlight) format('svg');font-weight:400;font-style:normal}

@font-face{
	font-family:oswald_regularregular;
	src:url(../fonts/oswald-regular-webfont.eot);
	src:url(../fonts/oswald-regular-webfont.eot?#iefix) format('embedded-opentype'),
	url(../fonts/oswald-regular-webfont.woff2) format('woff2'),
	url(../fonts/oswald-regular-webfont.woff) format('woff'),
	url(../fonts/oswald-regular-webfont.ttf) format('truetype'),
	url(../fonts/oswald-regular-webfont.svg#oswald_regularregular) format('svg');font-weight:400;font-style:normal}

@font-face{
	font-family:anaheim_regular;
	src:url(../fonts/anaheim_regular.ttf) format('truetype');}
