<input type="text" name="{{ name }}"{% if value %} value="{{ value }}"{% endif %}{% if required %} required{% endif %}{% include "floppyforms/attrs.html" %}{% if datalist %} list="{{ attrs.id }}_list"{% endif %}>{% if datalist %}
<datalist id="{{ attrs.id }}_list">{% for item in datalist %}
<option value="{{ item }}">{% endfor %}
</datalist>{% endif %}


<script type="text/javascript">
  $(document).ready(function() {
    
      var options = {
        dateFormat: 'yy-mm-dd'
      };

      $('#{{ attrs.id }}').datepicker(options);
    
  });
</script>