<script src="/static/js/jquery.quicksearch.js"></script>
<select name="{{ name }}" multiple="multiple" {% if required %} required{% endif %}{% include "floppyforms/attrs.html" %}>{% for group_name, group_choices in optgroups %}{% if group_name %}
        <optgroup label="{{ group_name }}">{% endif %}{% for option in group_choices %}
        <option value="{{ option.0 }}"{% if option.0 in value %} selected="selected"{% endif %}>{{ option.1 }}</option>{% endfor %}{% if group_name %}
        </optgroup>{% endif %}{% endfor %}
</select>


<script type="text/javascript">
  $(document).ready(function() {


      $("#{{ attrs.id }}").multiSelect({
        "selectionHeader": "<input type='text' class='search-input' autocomplete='off' placeholder='Busca (clique duas vezes)'>",
        "selectableHeader": "<input type='text' class='search-input' autocomplete='off' placeholder='Busca (clique duas vezes)'>",
        afterInit: function(ms){
            var that = this,
                $selectableSearch = that.$selectableUl.prev(),
                $selectionSearch = that.$selectionUl.prev(),
                selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
                selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

            that.qs1 = $selectableSearch.quicksearch(selectableSearchString)

            .on('keydown', function(e){
                if (e.which === 40){
                    that.$selectableUl.focus();
                    return false;
                }
            });
        },
        afterSelect: function(){
            this.qs1.cache();
            this.qs2.cache();
        },
        afterDeselect: function(){
            this.qs1.cache();
            this.qs2.cache();
        }
      });
    
  });
</script>