{% extends 'base.html' %}
{% load l10n static staticfiles foundation_filter %}

{% block titulo %}
  {% if form.instance.pk %}
    Editar {{ form.tipo|lower }}: {{ form.instance.nome }}
  {% else %}
    Novo {{ form.tipo|lower }}
  {% endif %}
{% endblock titulo %}

{% block extra_css %}
{{ form.media.css }}
{% endblock %}

{% block extra_js %}
{{ form.media.js }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/3.17.1/ol.js" type="text/javascript"></script>
<script src="{% static 'js/form/formset.js' %}" type="text/javascript"></script>
<script src="{% static 'js/form/form_field_outros.js' %}" type="text/javascript"></script>
<script src="{% static 'js/map.js' %}?v=1" type="text/javascript"></script>

<!-- Map Init - Ol -->
<script type="text/javascript">
  var initialPointWKT = "{{ form.instance.point.wkt|safe|default:'' }}";
</script>

<script src="{% static 'js/endereco_fieldset.js' %}?v=1.3" type="text/javascript"></script>

<script type="text/javascript">
// Mask : js/jquery.mask.js está no base.html
$('#id_cep').mask('00000-000');

</script>

{% endblock extra_js %}

{% block formsets_js %}
<script type="text/javascript">
$(function(){
    initFormSets(
        //specify the model in lowercase to build the management variables of the formset extra forms
        {prefixes: ['agenteredesocial']}
    );
})
</script>
{% endblock formsets_js %}

{% block content %}
<div class="columns medium-12 medium-centered">
   <div class="content-page">
       {% if form.instance.pk %}
       <h2>
           <small>
               Editar {{ form.tipo|lower }}:
           </small>
           {{ form.instance.nome }}
       </h2>
       {% else %}
       <h2>
           <small>
               Novo {{ form.tipo|lower }}
           </small>
       </h2>
       {% endif %}
       {% block form %}{% endblock form %}
  </div>
</div>
{% endblock content %}
