body {
  color: #969696;
}
.top {
  background-color: #90d9cb;
  padding: 0.3em 0 0.3em;
}

/* Itens top menu */
nav.top-bar section ul li a {
  color: #d86e31;
  font-size: 18px;
  font-weight: 300;
  display: block;
  text-align: center;
}

.logout{
  color:#444;
}

.username-link{
  color:
}


.panel {
  background-color: #fff;
  border: 1px solid #90d9cb;
}


dl{
  line-height: 1em;
  font-size: 1em;
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 0;
  font-weight: normal;
}

dd, dt{
  font-weight: 1;
  line-height: 1.3em;
  font-size: .9em;
}

dt{
  padding-top: 3px;
  color:#d86e31;
  font-size: 0.8em;
}

dt>.fa{
  font-size: 1.2em;
  padding-left: -10px;
  float:right;
  color:#d86e31;
}

dd{
  padding-left: 10px;
  color:#444;
}


table{
    border:0 solid transparent;
  border-collapse: collapse;
}



table>caption{

    text-align: left;
    padding-left: 10px;
    background-color: transparent;
    color: #d86e31;
    font-weight: normal;
}

table>thead {
    background-color: transparent;
    border: 0;
    /* border-top: 1px solid #ececec; */
    border: 0 solid transparent;
    border-bottom: 1px solid #969696;
    border-top: 1px solid #969696;
    /*border-top: 1px dashed #48cfcc;*/
}

table>thead>tr>th {
    font-weight: normal;
    color: #969696;
}

table> tbody > tr > td {
  border:0;
  color:#444;
}

table> tbody > tr > td >a{
  color:#1564ff;
}

table> tbody > tr > td >a:not(.noafter)::after{
  font-family: "FontAwesome";
  content: "\f08e";
  color: #999;
}


footer{
    background-color: #fff;
    color:#969696;
    min-height: 180px;
}

.social-buttons > .facebook-this > a,
.social-buttons > .tweet-this > a,
.social-buttons > .gplus-this > a{
    display:block;
    padding: 0.1em;
    margin-left: 5px;
    border-radius: 50%;
    text-align: center;
    color:#fff;
    line-height: 2.5em;
    height: 10px;
    min-width: 2.5em;
    min-height: 2.5em;
    max-width: 2.5em;
    max-height: 2.5em;
    opacity: 0.8;
}
.social-buttons > .facebook-this > a:hover,
.social-buttons > .tweet-this > a:hover,
.social-buttons > .gplus-this > a:hover{
    opacity: 1;
}

.social-buttons  > a{
    border-radius: 50%;
    color:#fff;
    margin-left: 5px;
    text-align: center;
    padding: 0.2em;
    min-width: 2em;
    min-height: 2em;
    max-width: 2em;
    max-height: 2em;
    opacity: 0.8;
}
.social-buttons > a:hover{
    opacity: 1;
}

.social > li.social-buttons {
    margin-left: 0px;
}

.facebook-this > a,
a.facebook-icon{
    background-image: linear-gradient(#4e69a2, #3b5998 50%);

}

.tweet-this > a,
a.twitter-icon{
    background-color: #1da1f2;
}

.gplus-this > a,
a.gplus-icon{
    background-color: rgb(216,104,94);
}

span.user-menu {
    color: #579488;
}

span.user-menu a {
    color: #2D6D60;
    font-weight: 200;
}

.tab-title.active .label {
  background: white;
}

.grayscale{
    opacity: 0.8;
}
.grayscale:hover{
    opacity: 1;
}
table.detail-grid tr:not(:first-child) th:nth-child(1) {
  width: 35.5%;
}
.help-column {
  background-color: #F3F3F3;
  color: #A2A2A2 !important;
  font-weight: 100 !important;
  text-align: center;
  line-height: 35px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: inline-block;
}
#pointFieldValidator {
  position: absolute;
  top: 20px;
  right: 20px;
}
.pointFieldValidator {
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  font-family: "FontAwesome";
  font-size: 4em;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: none;
}
.pointFieldValidator.ok {
  background: #D3FFD0;
  display: block;
}
.pointFieldValidator.not_ok {
  background: #544C1D;
  display: block;
}
.pointFieldValidator.ok::after {
  content: "\f058";
  color: #1DAD11;
}
.pointFieldValidator.not_ok::after {
  content: "\f057";
  color: #FFDF44;
}

div.column-adjust input {
    margin-bottom: 20.5px;
}