{% load i18n %}
{% autoescape off %}

<p>Parabéns! Você está vinculado a esse(a) {{ agente.tipo|lower }}: <strong>{{ agente.nome }}</strong></p>
<p>Para ver esse agente clique <a href="{{ protocol }}://{{ domain }}{{ agente.get_absolute_url }}">aqui</a> ou cole o link abaixo em um navegador.</p>
<p>{{ protocol }}://{{ domain }}{{ agente.get_absolute_url }}</p>
<p>Equipe {{ site_name }}</p>

{% endautoescape %}
