{% extends 'base.html' %}
{% load l10n static %}

{% block menu_busca %}active{% endblock menu_busca %}
{% block titulo %} Listagem {% endblock titulo %}

{% block content %}

<div class="content-page page-padding">
   <div class="row">
      <div class="columns medium-12">
         <div class="row">
            <div class="medium-12 columns">
                <h5>Buscar</h5>
                <p>
                  Faça uma busca textual por todo o acervo do Cultura Educa. Procure por divisões urbanas, equipamentos, agentes, ações ou até mesmo por todos, filtrando pelo nome e/ou município.<br>
                </p>
                <hr>
                <ul id="tabs" class="tabs">
                    {% block tabs %}{% endblock tabs %}
                </ul>
                <div class="tab-content">
                    <form method="GET">
                        <div class="row">
                            {% block text_inputs %}{% endblock text_inputs %}
                        </div>
                        <div class="row">
                            <div class="columns medium-2 font-default">Exibir: </div>
                            <div class="columns medium-10 checkbox-container">
                                {% block checkbox_inputs %}{% endblock checkbox_inputs %}
                            </div>
                        </div>
                        <div class="row btn-container">
                            <div class="columns medium-2">
                                <div class="busca-btn">
                                    <a href="{{ request.path }}" class="button prefix warning" style="margin-bottom: 0; padding-top: 0.1em; text-decoration: none;"><i class="fa fi-refresh" style="margin-right: 0.25em;"></i> LIMPAR </a>
                                </div>
                            </div>
                            <div class="columns medium-2">
                                <div class="busca-btn">
                                    <button type="submit" class="button prefix" style="margin-bottom: 0;"><i class="fa fa-search" style="margin-right: 0.25em;"></i> BUSCAR </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    {% if data.nome or data.municipio or data.tipos %}
                    <div class="font-default">Resultados encontrados: {{ paginator.count }}</div>
                    <table class="busca-table" role="grid" width="100%">
                        <tr>
                            <th>Tipo</th>
                            <th>Nome</th>
                        </tr>
                        {% for obj in object_list %}
                        <tr>
                            <td nowrap>
                                {{ obj.tipo_texto }}
                            </td>
                            <td>
                                {% block table_item %}{% endblock table_item %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td>N/A</td>
                            <td>Nenhum resultado encontrado.</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <div class="pagination">
                        <span class="step-links">
                        {% if page_obj.has_previous %}
                        <a href="?{{ page_url }}page=1" class="pagination-btn-first">&laquo; primeiro</a>
                        <a href="?{{ page_url }}page={{ page_obj.previous_page_number }}" class="pagination-btn-prev">anterior</a>
                        {% endif %}
        
                        <span class="current">
                            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                        </span>
        
                        {% if page_obj.has_next %}
                        <a href="?{{ page_url }}page={{ page_obj.next_page_number }}" class="pagination-btn-next">próximo</a>
                        <a href="?{{ page_url }}page={{ page_obj.paginator.num_pages }}" class="pagination-btn-last">último &raquo;</a>
                        {% endif %}
                        </span>
                    </div>
                    {% endif %}
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

{% endblock content %}

{% block extra_css %}
{{ form.media.css }}
<link href="{% static 'css/busca.css' %}" rel="stylesheet"/> 
{% endblock extra_css %}

{% block extra_js %}{{ form.media.js }}
   <script type="text/javascript">
      $(function() {
         $(".reset_municipio").click(function() {
            if ($("#id_municipio").val() != "") {
               $("#id_municipio").select2("val", "");
               $(this).css('cursor', 'default');
               $(this).fadeTo('fast', '0');
            }
         });
         $("#id_municipio").change(function() {
            if ($("#id_municipio").val() != undefined) {
               $(".reset_municipio").css('cursor', 'pointer');
               $(".reset_municipio").fadeTo('fast', '1');
            }
         });
      });
   </script>
{% endblock extra_js %}
