{% extends 'busca/base_listagem.html' %}
{% load l10n static %}

{% block tabs %}
<li id="tab-equipamentos" class="tab-title"><a href="{% url 'equipamento_list' %}">Equipamentos</a></li>
<li id="tab-agentes" class="tab-title"><a href="{% url 'agente_list' %}">Agentes</a></li>
<li id="tab-acoes" class="tab-title"><a href="{% url 'acao_list' %}">Ações</a></li>
<li id="tab-divisoes-urbanas" class="tab-title active"><a href="#">Divisões Urbanas</a></li>
{% endblock tabs %}

{% block text_inputs %}
<div class="columns medium-12">
   <div class="font-default">Nome do Estado ou município:</div>
   <div class="select2--culturaeduca font-default" lang="pt">
      {{ form.nome }}
   </div>
</div>
{% endblock text_inputs %}

{% block checkbox_inputs %}
{% for div_urb in form.divisoes_urbanas %}
<div class="columns medium-4">
   {{ div_urb }}
</div>
{% endfor %}
{% endblock checkbox_inputs %}

{% block table_item %}
<a href="{{ obj.target_url }}">{{ obj.nome }}</a>
{% if obj.tipo_texto == 'Municipio' %}
- {{ obj.uf }}
{% endif %}
{% endblock table_item %}