{% extends 'busca/base_listagem.html' %}
{% load l10n static %}

{% block tabs %}
<li id="tab-equipamentos" class="tab-title active"><a href="#">Equipamentos</a></li>
<li id="tab-agentes" class="tab-title"><a href="{% url 'agente_list' %}">Agentes</a></li>
<li id="tab-acoes" class="tab-title"><a href="{% url 'acao_list' %}">Ações</a></li>
<li id="tab-divisoes-urbanas" class="tab-title"><a href="{% url 'divisaourbana_list' %}">Divisões Urbanas</a></li>
{% endblock tabs %}

{% block text_inputs %}
<div class="columns medium-6">
   <div class="font-default">Nome da escola, biblioteca, etc.:</div>
   <div class="select2--culturaeduca font-default" lang="pt">
      {{ form.nome }}
   </div>
</div>
<div class="columns medium-6">
   <div class="font-default">Município da escola, biblioteca, etc.:</div>
   <div class="select2--culturaeduca font-default" lang="pt">
      {{ form.municipio }}
   </div>
</div>
{% endblock text_inputs %}

{% block checkbox_inputs %}
{% for equip in form.equipamentos %}
<div class="columns medium-4">
   {{ equip }}
</div>
{% endfor %}
{% endblock checkbox_inputs %}

{% block table_item %}
<a href="{{ obj.target_url }}">{{ obj.nome }}</a> - {{ obj.municipio }}
{% endblock table_item %}