{% extends 'base.html' %}
{% load l10n static foundation_filter %}

{% block titulo %}{{ l }}{% endblock titulo %}

{% block menu_mapa %}active{% endblock menu_mapa %}

{% block content %}

{% if is_administrador %}
    {% include "agente/agente_membro_remocao_modal.html" %}
    <div aria-hidden="true" aria-labelledby="modalTitle" class="reveal-modal" data-reveal="" id="novoMembroForm" role="dialog">
        <h2 id="modalTitle">Adicionar novo membro</h2>
        <p class="lead">Digite abaixo o nome do usuário que deseja adicionar à esse agente.</p>
        <form action="{% url 'agente_membership_add' agente.pk %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="medium-8 columns">
                    <label for="id_user">
                        Usuário <i class="fa fa-asterisk fdt_required" aria-hidden="true"></i><br>
                    </label>
                    {{ form_agentemembro.user }}
                </div>
                <div class="medium-4 columns">
                    <label>Administrador {{ form_agentemembro.is_administrador }}</label>
                </div>
            </div>
            <button type="submit" class="secondary button right" href="#" >Adicionar membro</button>
        </form>
        <a aria-label="Close" class="close-reveal-modal">&times;</a>
    </div>
{% endif %}

<div class="row content-map">
    <div id="map">
        <div id="popup" class="ol-popup">
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
            <div id="popup-content"></div>
        </div>
    </div>
    <div class="breadcrumb_map">
        <a href="{% url 'mapa_index' %}">Brasil</a> &nbsp; / &nbsp; 
        <a href="{% url 'uf_detail' agente.municipio.uf_sigla %}">{{ agente.municipio.uf_sigla }}</a> &nbsp; / &nbsp; 
        <a href="{% url 'municipio_detail' agente.municipio.uf_sigla agente.municipio.nm_municip agente.municipio_id %}">{{ agente.municipio.nome }}</a> &nbsp; / &nbsp; 
        Entorno de {{ agente.tipo }}
    </div>
    {% include "partials/filters_left.html" %}
</div>

<div class="row" style="margin-top: 20px;">
    <div class="detail_title">
        {% if agente.avatar %}
            <img src="{{ agente.avatar.url }}" alt="avatar" class="avatar" />
        {% else %}
            <img src="{% static 'img/logo_culturaeduca2.png' %}" alt="avatar" class="avatar" />
        {% endif %}
        <h3>{{ agente.nome }}<br><small>{{ agente.tipo }}</small></h3>
    </div>
    
        <ul id="tabs" class="tabs" data-tab role="tablist" data-options="deep_linking: true;scroll_to_content: false;">
          <li id="tab-ficha" class="tab-title active" role="presentation"><a href="#panel-ficha" role="tab" tabindex="0" aria-selected="false" aria-controls="panel-ficha">Ficha</a></li>
          <li id="tab-rede" class="tab-title" role="presentation"><a href="#panel-rede" role="tab" tabindex="0" aria-selected="false" aria-controls="panel-rede">Rede <span class="info radius label" id="rede_counter_span">{{ agente.total_rede }}</span></a></li>
          <li id="tab-perfil" class="tab-title" role="presentation"><a href="#panel-perfil" role="tab" tabindex="0" aria-selected="true" aria-controls="panel-perfil">Entorno</a></li>
          <li id="tab-equipamentos" class="tab-title" role="presentation"><a href="#panel-equipamentos" role="tab" tabindex="0" aria-selected="false" aria-controls="panel-equipamentos">Equipamentos <span class="info radius label">{{ total_equipamentos }}</span></a></li>
          <li id="tab-membros" class="tab-title" role="presentation"><a href="#panel-membros" role="tab" tabindex="0" aria-selected="false" aria-controls="panel-membros">Membros <span class="info radius label">{{ total_membros }}</span></a></li>
          <li id="tab-acoes" class="tab-title" role="presentation"><a href="#panel-acoes" role="tab" tabindex="0" aria-selected="true" aria-controls="panel-acoes">Ações <span class="info radius label">{{ agente.acoes.count }}</span></a></li>
          <li id="tab-galeria" class="tab-title" role="presentation"><a href="#panel-galeria" role="tab" tabindex="0" aria-selected="false" aria-controls="panel-galeria">Galeria <span class="info radius label" id="galeria_counter_span">{{ total_galeria }}</span></a></li>
        </ul>
        <div class="tabs-content">
          <section role="tabpanel" aria-hidden="true" class="content active" id="panel-ficha">
            <div class="row">
                <div class="columns medium-12">
                {% if is_administrador %}
                  <a class="button secondary small right" href="{{ agente.get_edit_url }}">
                      <i class="fi-page-edit"></i> Editar
                  </a>
                {% endif %}
                </div>
            </div>
            {% block ficha %}{% endblock ficha %}
          </section>
          <section role="tabpanel" aria-hidden="true" class="content" id="panel-rede">
            {% include "rede_tab.html" with is_pessoafisica=False %}
          </section>
          <section role="tabpanel" aria-hidden="false" class="content" id="panel-perfil">
            {% include "perfil_ponto.html" %}
          </section>
          <section role="tabpanel" aria-hidden="true" class="content" id="panel-acoes">
            {% include "acao/acao_tab.html" %}
          </section>

          <section role="tabpanel" aria-hidden="true" class="content" id="panel-equipamentos">
            {% for tipo_equipamento, ct, equips, model_name in equipamentos %}
            <table role="grid" width="100%">
                <tr>
                    <th colspan="2"><h5>{% if ct %}{{ ct }} {% endif %}{{ tipo_equipamento }}</h5></th>
                </tr>
                {% for e in equips %}
                <tr>
                    <td><a href="{{ e.get_absolute_url }}">{{ e }} </a><br/><small>{{ e.endereco }}</small></td>
                    <td width="15%">{{ e.distancia }} metros</td>
                </tr>
                {% empty %}
                <tr>
                    <td>Nenhum equipamento</td>
                    <td width="15%"></td>
                </tr>
                {% endfor %}
            </table>
            {% endfor %}
          </section>
          <section role="tabpanel" aria-hidden="true" class="content" id="panel-membros">
            <div class="row">
                <div class="columns medium-12">
                {% if not is_administrador %}
                      {% if is_member %}
                          <a class="noafter button warning small vinculacao_btn right" href="{% url 'agente_membership_add_remove_me' 'remove' object.pk %}">
                              <i class="fa fa-user-times" aria-hidden="true"></i> Sair do(a) {{ agente.tipo|lower }}
                          </a>
                      {% endif %}
                {% endif %}
                </div>
            </div>
            <table role="grid" width="100%">
                <tr>
                    <th>
                        <h5>
                            Membros
                            {% if is_administrador %}
                                <button id="novoMembroModalOpener" class="button secondary small right">
                                    <i class="fa fa-user-plus"></i> Adicionar novo membro
                                </button>
                            {% endif %}
                        </h5>
                    </th>
                </tr>
                {% for membro in membros %}
                    {% with membro.user.get_profile as membroperfil %}
                        <tr>
                            <td>
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <a class="noafter" href="{{ membroperfil.target_url }}">{{ membro.user.nome }} </a>
                                {% if membro.is_administrador %}
                                    <span style="opacity: 0.8;">(Administrador)</span>
                                {% endif %}<br/>
                                <small>{{ membroperfil.privacy_endereco|default:"Endereço não disponível" }}</small>
                                {% if is_administrador and membro.user != request.user %}
                                    {% if membro.is_administrador %}
                                        <button class="button secondary small right" style="margin: -20px 2px 0px 2px;" data-href="{% url 'agente_membership_make_undo_admin' 'undo' membro.pk %}">
                                            <i class="fa fa-star-o" aria-hidden="true"></i> Desfazer administrador
                                        </button>
                                    {% else %}
                                        <button class="button secondary small right" style="margin: -20px 2px 0px 2px;" data-href="{% url 'agente_membership_make_undo_admin' 'make' membro.pk %}">
                                            <i class="fa fa-star" aria-hidden="true"></i> Tornar administrador
                                        </button>
                                    {% endif %}
                                    <a class="button secondary small right openRemoveMembroModal" style="margin: -20px 2px 0px 2px;" data-href="{% url 'generic_delete' 'agente.AgenteMembro' membro.pk %}?next={{ request.path }}#fndtn-panel-membros" data-block-href="{% url 'agente_membership_block' membro.pk %}?next={{ request.path }}#fndtn-panel-membros">
                                        <i class="fa fa-times" aria-hidden="true"></i> Remover
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endwith %}
                {% empty %}
                <tr>
                    <td>Nenhum membro</td>
                </tr>
                {% endfor %}
            </table>
          </section>
          <section role="tabpanel" aria-hidden="true" class="content" id="panel-galeria">
            {% include "acao/galeria_tab.html" with agente=user is_administrador=edit_mode is_pessoafisica=True %}
          </section>
        </div>
    </div>
</div>

</div>
{% endblock content %}

{% block extra_css %}
    {{ form_agentemembro.media.css }}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'openlayers/v3.18.2/ol.css' %}" />
    <link rel="stylesheet" href="{% static 'css/select2-fix.css' %}" />
{% endblock extra_css %}

{% block extra_js %}{{ block.super }}
    {{ form_agentemembro.media.js }}

    <script src="{% static 'openlayers/v3.18.2/ol.js' %}"></script>
        <script src="{% static 'js/highcharts/highcharts.js' %}?v=5.0.0"></script>

    {% localize off %}
    <span id='latitude' style="display:none">{{ agente.point.y }}</span>
    <span id='longitude' style="display:none">{{ agente.point.x }}</span>
    <span id='url_link' style="display:none">{{ agente.lista_url }}</span>
    <span id='id_ponto' style="display:none">{{ agente.pk }}</span>
    {% endlocalize %}

    <script src="{% static 'js/mapa_detalhe_generico.js' %}?v=_4235123342314235"></script>
    <script src="{% static 'js/camadas.js' %}"></script>
    <!-- filters right -->
    <script src="{% static 'js/d3.min.js' %}"></script>
    <script type="text/javascript">
        var renda_p_h = [
            {{ perfil_setores.p_h_sem_rend|default:0 }},
            {{ perfil_setores.p_h_meio_sm|default:0 }},
            {{ perfil_setores.p_h_meio_1_sm|default:0 }},
            {{ perfil_setores.p_h_1_2_sm|default:0 }},
            {{ perfil_setores.p_h_2_3_sm|default:0 }},
            {{ perfil_setores.p_h_3_5_sm|default:0 }},
            {{ perfil_setores.p_h_5_10_sm|default:0 }},
            {{ perfil_setores.p_h_10_25_sm|default:0 }},
            {{ perfil_setores.p_h_15_20_sm|default:0 }},
            {{ perfil_setores.p_h_20_sm|default:0 }}
        ];
        var renda_p_m = [
            {{ perfil_setores.p_m_sem_rend|default:0 }},
            {{ perfil_setores.p_m_meio_sm|default:0 }},
            {{ perfil_setores.p_m_meio_1_sm|default:0 }},
            {{ perfil_setores.p_m_1_2_sm|default:0 }},
            {{ perfil_setores.p_m_2_3_sm|default:0 }},
            {{ perfil_setores.p_m_3_5_sm|default:0 }},
            {{ perfil_setores.p_m_5_10_sm|default:0 }},
            {{ perfil_setores.p_m_10_25_sm|default:0 }},
            {{ perfil_setores.p_m_15_20_sm|default:0 }},
            {{ perfil_setores.p_m_20_sm|default:0 }}
        ];
        var renda_domicilios = [
            {{ perfil_setores.dom_sem_rend|default:0 }},
            {{ perfil_setores.dom_meio_sm|default:0 }},
            {{ perfil_setores.dom_meio_1_sm|default:0 }},
            {{ perfil_setores.dom_1_2_sm|default:0 }},
            {{ perfil_setores.dom_2_3_sm|default:0 }},
            {{ perfil_setores.dom_3_5_sm|default:0 }},
            {{ perfil_setores.dom_5_10_sm|default:0 }},
            {{ perfil_setores.dom_10_25_sm|default:0 }},
        ];
        var piramide_etaria_h = [
            -{{ perfil_setores.p_h_0_4|default:0 }},
            -{{ perfil_setores.p_h_5_9|default:0 }},
            -{{ perfil_setores.p_h_10_14|default:0 }},
            -{{ perfil_setores.p_h_15_19|default:0 }},
            -{{ perfil_setores.p_h_20_24|default:0 }},
            -{{ perfil_setores.p_h_25_29|default:0 }},
            -{{ perfil_setores.p_h_30_34|default:0 }},
            -{{ perfil_setores.p_h_35_39|default:0 }},
            -{{ perfil_setores.p_h_40_44|default:0 }},
            -{{ perfil_setores.p_h_45_49|default:0 }},
            -{{ perfil_setores.p_h_50_54|default:0 }},
            -{{ perfil_setores.p_h_55_59|default:0 }},
            -{{ perfil_setores.p_h_60_64|default:0 }},
            -{{ perfil_setores.p_h_65_69|default:0 }},
            -{{ perfil_setores.p_h_70_74|default:0 }},
            -{{ perfil_setores.p_h_75_79|default:0 }},
            -{{ perfil_setores.p_h_80_84|default:0 }},
            -{{ perfil_setores.p_h_85_89|default:0 }},
            -{{ perfil_setores.p_h_90_94|default:0 }},
            -{{ perfil_setores.p_h_95_99|default:0 }},
            -{{ perfil_setores.p_h_100|default:0 }}
        ];
        var piramide_etaria_m = [
            {{ perfil_setores.p_m_0_4|default:0 }},
            {{ perfil_setores.p_m_5_9|default:0 }},
            {{ perfil_setores.p_m_10_14|default:0 }},
            {{ perfil_setores.p_m_15_19|default:0 }},
            {{ perfil_setores.p_m_20_24|default:0 }},
            {{ perfil_setores.p_m_25_29|default:0 }},
            {{ perfil_setores.p_m_30_34|default:0 }},
            {{ perfil_setores.p_m_35_39|default:0 }},
            {{ perfil_setores.p_m_40_44|default:0 }},
            {{ perfil_setores.p_m_45_49|default:0 }},
            {{ perfil_setores.p_m_50_54|default:0 }},
            {{ perfil_setores.p_m_55_59|default:0 }},
            {{ perfil_setores.p_m_60_64|default:0 }},
            {{ perfil_setores.p_m_65_69|default:0 }},
            {{ perfil_setores.p_m_70_74|default:0 }},
            {{ perfil_setores.p_m_75_79|default:0 }},
            {{ perfil_setores.p_m_80_84|default:0 }},
            {{ perfil_setores.p_m_85_89|default:0 }},
            {{ perfil_setores.p_m_90_94|default:0 }},
            {{ perfil_setores.p_m_95_99|default:0 }},
            {{ perfil_setores.p_m_100|default:0 }}
        ];
        var raca_cor = {
            'branca': {{ perfil_setores.raca_cor_branca|default:0 }},
            'preta': {{ perfil_setores.raca_cor_preta|default:0 }},
            'amarela': {{ perfil_setores.raca_cor_amarela|default:0 }},
            'parda': {{ perfil_setores.raca_cor_parda|default:0 }},
            'indigena': {{ perfil_setores.raca_cor_indigena|default:0 }},
        };
    </script>
    <script src="{% static 'js/perfil_ponto_highcharts.js' %}"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            {% if is_administrador %}

            // abre modal de novo membro
            $('#novoMembroModalOpener').click(function() {
                $("#novoMembroForm").foundation('reveal', 'open');
            });

            $('.openRemoveMembroModal').click(function() {
                var remove_url = $(this).data('href');
                $("#deleteAgenteMembroModal .remove-membro-link").attr('href', remove_url);

                var bloqueia_remove_url = $(this).data('block-href');
                $("#deleteAgenteMembroModal .remove-bloqueia-membro-link").attr('href', bloqueia_remove_url);

                $("#deleteAgenteMembroModal").foundation('reveal', 'open');
            });

            {% endif %}

            $('button[data-href]').click(function() {
                window.location.href = $(this).data('href');
            });

            $('#tabs').on('toggled', function (event, panel) {
                if ($(panel).is("#panel-perfil:not(.already-loaded)")) {
                    $(panel).addClass("already-loaded");
                    $('#hc-renda-pessoas').highcharts().reflow();
                    $('#hc-renda-domicilios').highcharts().reflow();
                    $('#hc-piramide-etaria').highcharts().reflow();
                    $('#hc-populacao-cor').highcharts().reflow();
                }
            });

        });

    </script>
    <script src="{% static 'js/remover_acao_modal.js' %}"></script>
    <script src="{% static 'js/agente-vinculo.js' %}"></script>
{% endblock extra_js %}
