{% extends 'base.html' %}
{% load l10n static %}

{% block titulo %} {{ agente.tipo }} - Listagem {% endblock titulo %}

{% block content %}

<div class="content-page">
   <div class="row">
      <div class="columns medium-12">
         <p></p>
         <h5>Agentes - {{ agente.tipo }}</h5>
         <div class="row">
            <div class="medium-12 columns">
               {% block descricao %}
               <p></p>
               {% endblock descricao %}

               <div class="medium-3 columns" style="padding-left: 0;">
                     <a href="{% url 'rede' %}" class="button prefix left secondary"><i class="fa fi-arrow-left"></i> Voltar para Rede </a>
               </div>

               {% if request.user.is_authenticated %}
                  <div class="medium-4 columns" style="padding: 0 0;">
                     {% block create_btn %}
                        <a href="{{ agente.get_create_url }}" class="button prefix left success"><i class="fa fa-plus"></i> Cadastrar novo(a)</a>
                     {% endblock create_btn %}
                  </div>
               {% endif %}
            </div>
         </div>
         <div class="row">
            <div class="medium-12 columns">
               <h5>Buscar</h5>
               <p>Procure um agente pelo nome ou pelo município a que ele pertence.</p>
               <form method="GET">
                  <div class="medium-4 columns select2--culturaeduca" lang="pt" style="padding-left: 0;">
                     {{ form.municipio }}
                  </div>
                  <div class="medium-4 columns select2--culturaeduca" lang="pt">
                     {{ form.nome }}
                  </div>
                  <div class="medium-2 columns" style="padding-left: 0;">
                      <a href="{{ request.path }}" class="button prefix"><i class="fa fi-refresh"></i> LIMPAR </a>
                  </div>
                  <div class="medium-2 columns" style="padding-right: 0;">
                     <button type="submit" class="button prefix"><i class="fa fa-search"></i> BUSCAR </button>
                 </div>
               </form>

            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="columns medium-12">
         <table role="grid" width="100%">
            {% block listagem %}
               <tr><th>Nome</th></tr>
               {% for obj in object_list %}
               <tr>
                  <td>
                     {% if obj.avatar %}
                       <img src="{{ obj.avatar.url }}" alt="avatar" style="width: 30px;" />&nbsp;
                     {% else %}
                       &nbsp;
                     {% endif %}
                     <a class="noafter" href="{{ obj.get_absolute_url }}">{{ obj.nome }} </a> - {{ obj.municipio|default:'município não disponível' }}
                  </td>
               </tr>
               {% empty %}
               <tr><td>Nenhum(a) {{ agente.tipo|lower }} encontrado(a).</td></tr>
               {% endfor %}
            {% endblock listagem %}
         </table>
      </div>
   </div>
</div>


{% endblock content %}

{% block extra_css %}{{ form.media.css }}{% endblock extra_css %}
{% block extra_js %}{{ form.media.js }}
   <script type="text/javascript">
      $(function() {
         $(".reset_municipio").click(function() {
            if ($("#id_municipio").val() != "") {
               $("#id_municipio").select2("val", "");
               $(this).css('cursor', 'default');
               $(this).fadeTo('fast', '0');
            }
         });
         $("#id_municipio").change(function() {
            if ($("#id_municipio").val() != undefined) {
               $(".reset_municipio").css('cursor', 'pointer');
               $(".reset_municipio").fadeTo('fast', '1');
            }
         });
      });
   </script>
{% endblock extra_js %}
