{% extends 'agente/base_detalhe.html' %}
{% load l10n %}

{% block ficha %}

    <div class="row">
        <div class="columns medium-12">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2"><h5>Identificação</h5></th>
                </tr>
                <tr>
                    <th>Nome</th>
                    <td>{{ agente.nome|default:'' }}</td>
                </tr>
                <tr>
                    <th>Telefone</th>
                    {% if not agente.telefone1 and not agente.telefone2 %}
                        <td>Nenhum telefone informado.</td>
                    {% else %}
                        <td>{{ agente.telefone1 }} {{ agente.telefone2 }} </td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ agente.email|default:'Não informado' }}</td>
                </tr>
                <tr>
                    <th>Site</th>
                    <td>{{ agente.site|default:'Não informado' }}</td>
                </tr>
                <tr>
                    <th>Redes Sociais</th>
                    <td>
                        {% for rede_social in agente.agenteredesocial_set.all %}
                            <dd>
                                <a href="{{ rede_social.link }}" target="_blank">{{ rede_social.get_plataforma_display }}</a>
                            </dd>
                        {% empty %}
                            Nenhuma Rede Social Cadastrada
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Contato de referência</th>
                    {% if agente.nome_contato %}
                        <td>{{ agente.nome_contato|default:'' }}{% if agente.email_contato %} ({{ agente.email_contato }}){% endif %}</td>
                    {% else %}
                        <td>Não informado</td>
                    {% endif %}
                </tr>
            </table>
            <table role="grid" width="100%">
                <tr>
                    <th><h5>Objetivo/Fim</h5></th>
                </tr>
                <tr>
                    <td>{{ agente.objetivo }}</td>
                </tr>
            </table>
            <table role="grid" width="100%">
                <tr>
                    <th><h5>Breve histório de atuação</h5></th>
                </tr>
                <tr>
                    <td>{{ agente.atuacao }}</td>
                </tr>
            </table>
        </div>
        <div class="columns medium-12">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2"><h5>Localização</h5></th>
                </tr>
                <tr>
                    <th>Município</th>
                    <td>{{ agente.municipio|default:'' }}</td>
                </tr>
                <tr>
                    <th>Endereço</th>
                    <td>{{ agente.logradouro|default:'' }}{% if agente.cep %} - CEP: {{ agente.cep }} {% endif %} - {{ agente.bairro|default:'' }}</td>
                </tr>
                <tr>
                    <th>Latitude</th>
                    <td>
                        {{ agente.point.x|default:'' }}
                    </td>
                </tr>
                <tr>
                    <th>Longitude</th>
                    <td>
                        {{ agente.point.y|default:'' }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="columns medium-12">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2"><h5>Atuação</h5></th>
                </tr>
                <tr>
                    <th>Atua desde</th>
                    <td>
                        {{ agente.data_abertura|default:'Não informado' }}
                    </td>
                </tr>
                <tr>
                    <th>Número de integrantes</th>
                    <td>
                        {{ agente.numero_integrantes|default:'Não informado' }}
                    </td>
                </tr>
                <tr>
                    <th>Abrangência Geográfica</th>
                    <td>
                        {{ agente.get_abrangencia_display|default:'Não informada' }}
                    </td>
                </tr>
                <tr>
                    <th>Área de atuação</th>
                    <td>
                        {% for area_atuacao in agente.area_atuacao.all%}
                            <dd style="padding-left: 0px;">
                                - {{ area_atuacao.nome }}
                                {% if area_atuacao.nome == "Outros" %}
                                :<dd style="padding-left: 20px;">{{ agente.area_atuacao_outro }}</dd>
                                {% endif %}
                            </dd>
                        {% empty %}
                            Não informada
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Área de estudo e pesquisa</th>
                    <td>
                        {% for area_pesquisa in agente.area_pesquisa.all %}
                            <span>{{ area_pesquisa }}</span><br>
                        {% empty %}
                            <span>Não informada</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Objetivo</th>
                    <td style="text-align:justify;">{{ agente.objetivo|default:"Não Informado"}}</td>
                </tr>
                <tr>
                    <th>Breve Histórico de Atuação</th>
                    <td style="text-align:justify;">{{ agente.atuacao|default:"Não Informado"}}</td>
                </tr>
            </table>
        </div>
    </div>
    
{% endblock ficha %}