{% extends "agente/base_listagem.html" %}

{% block descricao %}

{% endblock descricao %}


{% block listagem %}

   <tr>
      <th>Nome</th>
   </tr>
   {% for obj in object_list %}
   <tr>
      <td><a class="noafter" href="{{ obj.get_absolute_url }}">{{ obj.nome }} </a> - <small>{{ obj.municipio|default:'município não disponível' }}</small></td>
   </tr>
   {% empty %}
   <tr>
      <td>Nenhum(a) {{ agente.tipo|lower }} encontrado(a).</td>
   </tr>
   {% endfor %}

{% endblock listagem %}