<label class="{% if field.errors %} error{% endif %}">{{ field.label }} 
{% if field.field.required %} <i class="fa fa-asterisk fdt_required" style=""></i>{% endif %}</label>
{% for choice_id, choice_label in field.field.choices %}
    <input
        type="{{ type }}"
        name="{{ field.html_name }}"
        value="{{ choice_id }}"
        id="fdt_{{ choice_id }}"
    >
    <label for="fdt_{{ choice_id }}">
    {{ choice_label }}
    </label>
{% endfor %}
{% include "foundation_filter/field_help.html" %}
{% include "foundation_filter/field_errors.html" %}