{% load static %}
{% if input_type == "multicheckbox" or input_type == "radioset" %}
	{% if input_type == "multicheckbox" %}
		{% include "foundation_filter/field_choices.html" with type="checkbox" %}
	{% else %}
		{% include "foundation_filter/field_choices.html" with type="radio" %}
	{% endif %}
{% else %}

	<label
	for="{{ field.auto_id }}"
	class="{% if field.errors %}error{% endif %}"
	{% if field.field.privacy %}data-privacy-switch="true"{% endif %} >
	{{ field.label }}

	{% if field.field.required %}
	<i class="fa fa-asterisk fdt_required" style="" aria-hidden="true"></i>
	{% endif %}

	{% if field.help_text %}{% autoescape off %}
	<span data-tooltip aria-haspopup="true" class="has-tip" title="Saiba Mais">
		<a href="#" data-reveal-id="{{ field.auto_id }}"><img src="{% static 'img/info3.png' %}" alt="info" /></a>
	</span>

	<div id="{{ field.auto_id }}" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<h3 id="modalTitle">{{ field.label }}</h3>
		<p>{{ field.help_text }}</p>
		<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>
	{% endautoescape %}{% endif %}

	{% if field.field.privacy %}
	<div class="right">
		<div 
		class="switch tiny radius has-tip tip-right"
		data-tooltip aria-haspopup="true"
		title="{% if field.field.privacy_checked %}<i class='fa fa-unlock' aria-hidden='true'></i> Público{% else %}<i class='fa fa-lock' aria-hidden='true'></i> Privado{% endif %}"
		style="border-bottom: none;">

			<input class="switch-input" id="id_{{ field.name }}_privacy" type="checkbox" name="privacy_fields" value="{{ field.field.privacy_pk }}" {% if field.field.privacy_checked %}checked{% endif %}>
			<label class="switch-paddle" for="id_{{ field.name }}_privacy"></label>
		</div>
	</div>
	{% endif %}
	{{ field }}
	</label>
	{% include "foundation_filter/field_errors.html" %}
{% endif %}