{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="columns medium-8 medium-offset-2">
        <div data-alert="" class="alert-box" style="margin-top: 20px;text-align: center;background-color: rgb(255, 255, 255);border-color: rgb(216, 110, 49);">
            <h2 style="display: inline-block;color: #94491E;">404</h2>
            <h3 style="color: #9C4C1E;display: inline-block;"> - Página não encontrada.</h3>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}{{ block.super }}
{% endblock extra_js %}
