{% load static %}
<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en" ><!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>{% block 'titulo' %}Cultura Educa{% endblock %}</title>

	{% block extra_head %}
		<meta name="description" content="" />
	{% endblock %}

	<link rel="stylesheet" href="{% static 'foundation-icons/foundation-icons.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/foundation.css' %}" />
	<!-- <link rel="stylesheet" href="{% static 'css/fonts.css' %}" /> -->
	<link rel="stylesheet" href="{% static 'css/custom.css' %}" />

	<link rel="stylesheet" href="{% static 'font-awesome-4.6.3/css/font-awesome.min.css' %}" >
	<link href="https://fonts.googleapis.com/css?family=Anaheim|Open+Sans" rel="stylesheet">

	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

	<script type="text/javascript" src="{% static 'js/vendor/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/foundation.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.mask.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/form/field_masks.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/nunjucks.min.js' %}"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    {% block extra_css %}{% endblock extra_css %}

	{% if MATOMO_URL %}
		<!-- Matomo (analytics) -->
		<script>
			var _paq = window._paq = window._paq || [];
			/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
				var u="{{ MATOMO_URL }}";
				_paq.push(['setTrackerUrl', u+'matomo.php']);
				_paq.push(['setSiteId', '{{ MATOMO_SITE_ID }}']);
				var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
				g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
			})();
		</script>
		<!-- End Matomo Code -->
	{% endif %}
</head>
<body data-static-url="/static/">
<!-- TOP BAR -->
	<div class="sticky">
		<nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
			<ul class="title-area">
				<li class="name">
					<a href="{% url 'index' %}"><img width="80px" src="{% static 'img/logo_culturaeduca2_sem_texto.png' %}" alt="CulturaEduca" /><img width="60px" src="{% static 'img/logo_texto.png' %}" alt="CulturaEduca" /></a>
				</li>
				<li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
			</ul>
			<section class="top-bar-section">
				<ul class="right">
					<li class="{% block menu_mapa %}{% endblock menu_mapa %}"><a href="{% url 'mapa_index' %}">Mapa</a></li>
					<li class="{% block menu_rede %}{% endblock menu_rede %}"><a href="{% url 'rede' %}">Rede</a></li>
					<li class="{% block menu_sobre %}{% endblock menu_sobre %}"><a href="{% url 'sobre' %}">Sobre</a></li>
					<li class="{% block menu_busca %}{% endblock menu_busca %}"><a href="{% url 'equipamento_list' %}"><i class="fa fa-search"></i> Busca</a></li>

					{% if not request.user.is_authenticated %}
					<li class="{% block menu_login %}{% endblock menu_login %}"><a href="{% url 'login' %}"><i class="fi-lock"></i> Entrar</a></li>
					{% else %}
					<li class="{% block menu_user %}{% endblock menu_user %}">
						{% if not request.user.get_profile %}
							<a class="username_link" href="{% url 'profile_edit' %}">
						{% else %}
							<a class="username_link" href="{% url 'profile_detail' %}">
						{% endif %} 
							<i class="fi-torso"></i> {{ request.user.nome }}
						</a>
					</li>
					<li>
						<a class="logout" href="{% url 'logout' %}">
							<i class="fi-arrow-right"></i> Sair
						</a>
					</li>
					{% endif %} 
				</ul>
			</section>
		</nav>
	</div>
<!-- END TOP BAR -->

	<!-- <div id="content" class="row full-width"> -->
	<div id="content">

		<!-- <div class="row full-width"> -->
		{% for message in messages %}
		<div data-alert class="alert-box {{ message.tags }}">{{ message|safe }} <a class="close">&times;</a></div>
		{% endfor %}
		{% block _content %}
		{% block content %}

		{% endblock %}
		{% endblock %}
		<!-- </div> -->
	</div>

<!-- FOOTER -->
	<footer class="site-footer">
		<div class="site-footer-bottom">
			<div class="row">
				<div class="right">
					<p>
						Creative Commons BY-NC-SA 4.0 
						<a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.pt_BR" target="_blank"><img alt="Licença Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
						
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="medium-3 columns">
					<h4 class="site-footer-title">Realização:</h4>
					<a href="http://lidas.org.br" target="_blank"><img width="120px" src="{% static 'img/logos/logo_lidas.png' %}" alt="LIDAS"></a>
			</div>
			<div class="medium-9 columns">
				<h4 class="site-footer-title">Desenvolvimento:</h4>
				<a href="https://interscity.org/" target="_blank"><img width="160px" src="{% static 'img/logos/logo_interscity.png' %}" alt="INTERSCITY"></a>
				<a href="https://www.ime.usp.br/" target="_blank"><img width="160px" src="{% static 'img/logos/logo_ime.jpg' %}" alt="IME USP"></a>
				<a href="https://www.unifesp.br/" target="_blank"><img width="120px" src="{% static 'img/logos/logo_unifesp.png' %}" alt="UNIFESP"></a>
			</div>
		</div>
		<div class="row">
			<div class="medium-12 columns">
				<h4 class="site-footer-title">Parceiros:</h4>
				<a href="http://candeeiro.org.br/" target="_blank"><img width="120px" src="{% static 'img/logos/logo_candeeiro.png'%}" alt="CANDEEIRO"></a>
				<a href="https://sites.usp.br/naifeusp" target="_blank"><img width="100px" src="{% static 'img/logos/logo_nai.png'%}" alt="NAI"></a>
				<a href="http://www4.fe.usp.br/" target="_blank"><img width="160px" src="{% static 'img/logos/logo_feusp.png'%}" alt="FEUSP"></a>
			</div>
		</div>
	</footer>
<!-- END FOOTER -->

	<script>$(document).foundation();</script>
	
	<script type="text/javascript">
		var openCloseSubmenu = function(obj, event) {
			event.preventDefault();
			var parent = $(obj).parents('li.is-accordion-submenu-parent');
			if ($(parent).is('[aria-expanded=false]')) {
				$('ul.menu.vertical.nested', parent).slideDown('fast');
				$(parent).attr('aria-expanded', true);
				$(parent).prop('aria-expanded', true);
			} else {
				$('ul.menu.vertical.nested', parent).slideUp('fast');
				$(parent).attr('aria-expanded', false);
				$(parent).prop('aria-expanded', false);
			}
			return false;
		};    

		{% verbatim %}

		var popup_layer_templates = {
			'default': '<a href="{{ target_url }}">{{ name }}</a><br><small style="font-size: 85%;">{{ local }}</small>',
			'lista_atividade': '<a href="{{ target_url }}">{{ name }}</a>{% if project_name %}<br><small style="font-size: 85%;">Projeto: <a href="{{ project_target_url }}">{{ project_name }}</a></small>{% endif %}<br><small style="font-size: 85%;">{{ local }}</small>',
			'municipios': '<a href="{{ target_url }}">{{ name }}</a>',
			'ufs': '<a href="{{ target_url }}">{{ name }}</a>',
			'tiled': '{{ count }} item(s)',
		};

		{% endverbatim %}

	</script>
	{% block extra_js %}{% endblock extra_js %}
	{% block formsets_js %}{% endblock formsets_js %}

</body>
</html>