{% load foundation_filter %}

<style type="text/css">
  #geoModalConfirm {
    max-height: 800px;
    overflow: auto;
  }
</style>

<div style="z-index: 1007;" aria-hidden="true" aria-labelledby="modalTitle" class="reveal-modal" data-reveal="" id="geoModalConfirm" role="dialog">
  <h2 id="modalTitle">Dados do Mapa</h2>
  <p class="lead">Endereços encontrados:</p>
  <a aria-label="Close" class="close-reveal-modal" title="Fechar">&times;</a>
  <div id="tabela_opcoes_enderecos"></div>
  <p>Nenhum desses é o seu endereço?</p>
  <p>Clique aqui e coloque manualmente no mapa</p>
  <button class="setMapCenterOnCity" onclick="close_confirm_modal();" >Fechar Lista</button>
</div>

<div class="endereco">
  <div class="row">
    <div class="medium-3 columns">
      <div class="row collapse ">
        <div class="medium-8 small-8 columns" >
          {{ form.cep|as_fdt }}
          <small class="help-block" >
            <a
              data-tooltip
              class="tip-right"
              target="_blank"
              aria-haspopup="true"
              title="Clique aqui para utilizar o <strong>Busca CEP</strong> dos Correios para encontrar seu CEP."
              href="http://www.buscacep.correios.com.br/sistemas/buscacep">
                Não sabe seu CEP?
            </a>
          </small>
        </div>
        <div class="medium-3 small-3 columns">
          <button
            style="margin-top:21px;"
            class="button postfix"
            onclick="getCep();return(false);">
              <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="medium-9 small-9 columns">{{ form.logradouro|as_fdt }}</div>
  </div>

  <div class="row">
    <div class="medium-3 columns">{{ form.numero|as_fdt }}</div>
    <div class="medium-4 columns">{{ form.complemento|as_fdt }}</div>
    <div class="medium-5 columns">{{ form.bairro|as_fdt }}</div>
  </div>

  <div class="row">
    <div class="medium-5 columns" style="display: flex;">{{ form.municipio }}</div>
    <div class="medium-6 columns" style="display: flex; flex-direction: column;">
      <button
        style="margin-top: 20px;"
        type="button"
        class="btn_geo_coding expand button tiny">
          Mostrar no Mapa
      </button>
      <small class="help-block">
        use o botão acima para posicionar o mapa pelos campos que estiverem definidos
      </small>
    </div>
  </div>
</div>

<div class="row">
  <div class="callout alert">
    <p
      align="center"
      class="alert-box alert radius"
      id="id_geocoding_response"
      style="display:none;">
    </p>
  </div>
</div>

{% if form.point.errors %}
  {% for error in form.point.errors %}
    <div data-alert class="alert-box alert">
        {{ error }}
        <a href="#" class="close">&times;</a>
      </div>
  {% endfor %}
{% endif %}

<div class="row" style="height: 400px;">
  <div class="medium-12 columns">
    {{ form.point }}
    <div id="map" style="height: 400px;"></div>
    <i id="pointFieldValidator"
    data-tooltip
    aria-haspopup="true"
    class="fa tip-left pointFieldValidator{% if form.point.errors %} not_ok{% elif form.instance.point %} ok{% endif %}"
    aria-hidden="true">
    </i>
  </div>
</div>
