{% extends 'base.html' %}

{% load static zinnia %}

{% block content %}

<div class="row content-map">
    <div id="map">
        <div id="popup" class="ol-popup">
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
            <div id="popup-content"></div>
        </div>
    </div>
    {% include "partials/filters_left.html" %}
</div>

{% endblock content %}

{% block extra_css %}{{ block.super }}
<link rel="stylesheet" href="{% static 'openlayers/v3.18.2/ol.css' %}" />
{% endblock extra_css %}

{% block extra_js %}{{ block.super }}
<script src="{% static 'openlayers/v3.18.2/ol.js' %}"></script>
<script src="{% static 'js/mapa_ol.js' %}?v=3"></script>
<script src="{% static 'js/camadas.js' %}?v=1"></script>
{% endblock extra_js %}
