{% extends 'base.html' %}

{% load static zinnia %}

{% block content %}

<style>
.column, .table .table-columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: right;
}
</style>

<div class="row content-map">
    <div id="map">
        <div id="popup" class="ol-popup">
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
            <div id="popup-content"></div>
        </div>
    </div>
    <div class="below-map">{% include "partials/filters_left.html" %}</div>
    <div class="column medium-4">
        <div id="block-one" class="content-block purple">
            <span class="current-block"> </span>
            <ul class="controls-block"> </ul>
            <div class="content-inner">
                <div data-read-more-href='{% url "sobre" %}'>
                    <p>O portal CulturaEduca oferece ferramentas para possíveis experiências de cartografia social que trabalhem a noção de apropriação terrritorial por parte de cidadãs e cidadãos. Na versão 2.0 do CulturaEduca, as novidades vão desde a possibilidade de ver no mapa o entorno de qualquer equipamento público ou iniciativa cultural com perfil socioeconômico até a implantação da função “REDE”, que permite a interação do usuário com a plataforma. Nesta funcionalidade, o usuário poderá cadastrar suas iniciativas: o grupo de teatro, a roda de capoeira, a oficina de música, a horta comunitária, qualquer tipo de ação sociocultural.</p>
                </div>
                <!--<div data-read-more-href='{% url "zinnia:entry_archive_index" %}'>
                    <p>{% get_recent_entries 1 "zinnia/entries_recent.html" %}</p>
                </div> -->
                <div data-read-more-href='{% url "zinnia:entry_archive_index" %}'>
                    <p>{% get_recent_entries 1 "zinnia/entries_recent.html" %}</p>
                </div>
            </div>
            <a href="#" class="left close-block">&times;</a>
            <a href="#" class="right read-more">Saiba Mais</a>
        </div>
        <br>
    </div>

</div>
{% endblock content %}

{% block extra_css %}{{ block.super }}
<link rel="stylesheet" href="{% static 'openlayers/v3.18.2/ol.css' %}" />
{% endblock extra_css %}

{% block extra_js %}{{ block.super }}
<script src="{% static 'openlayers/v3.18.2/ol.js' %}"></script>
<script src="{% static 'js/mapa_ol.js' %}?v=3"></script>
<script src="{% static 'js/camadas.js' %}?v=1"></script>
<script src="{% static 'js/home.js' %}?v=2"></script>
{% endblock extra_js %}
