{% extends 'base.html' %}
{% load static foundation_filter %}

{% block menu_login %}active{% endblock menu_login %}

{% block content %}
<div class="content-page">
	<div class="row">
		{% if form.non_field_errors %}
			<div data-alert class="alert-box alert">{{ form.non_field_errors }} <a class="close">&times;</a></div>
		{% endif %}
		<p>&nbsp;</p>
		<div class="columns medium-centered medium-7">
			<div class="panel">
				<div class="columns medium-centered medium-10">
					<!-- <img class="avatar" src="/static/img/icon-profile2.png"> -->
					<h3 class="text-center">Login/Entrar</h3>
					<p>&nbsp;</p>
					<form action="{{ request.path }}" class="form-login" method="post">{% csrf_token %}
						<div class="row">
							{{ form.username|as_fdt }}
						</div>
						<div class="row">
							{{ form.password|as_fdt }}
							<button type="submit" class="button radius expand">Entrar</button>
						</div>	
						<div class="row">
							<p><a href="{% url 'password_reset' %}">Esqueceu a senha?</a> </p>
							<!-- <p><a href="{% url 'email_verification_resend' %}">Reenviar e-mail de confirmação do cadastro</a></p>
 -->						</div>
											
						<div class="row">
								<h5 class="text-center">Ainda não é cadastrado? </h5>
								<a href="{% url 'user_add' %}" class="button radius expand ">Cadastre-se</a>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
</div>

{% endblock content %}

{% block extra_js %}{{ block.super }}
{% endblock extra_js %}