<div class="row">
    <div class="columns medium-12">
        <table role="grid" width="100%" class="table_dados">
            <tr>
                <th colspan="2"><h5>Identificação</h5></th>
            </tr>
            <tr>
                <th>Área em km<sup>2</sup></th>
                <td>{{ perfil_setores.area }}</td>
            </tr>
            <tr>
                <th>Número de domicílios</th>
                <td>{{ perfil_setores.num_domicilios|default:'N/D' }}</td>
            </tr>
            <tr>
                <th>Número de moradores</th>
                <td>{{ perfil_setores.num_moradores|default:'N/D' }}</td>
            </tr>
            <tr>
                <th>Média de moradores por domicílios</th>
                <td>{{ perfil_setores.med_moradores_domicilios|default:'N/D' }}</td>
            </tr>
            <tr>
                <th>Número de setores censitários</th>
                <td>{{ perfil_setores.num_setores }}</td>
            </tr>
            <tr>
                <td colspan="2" style="background: #FFF;" class="text-right"><a class="noafter" href="http://censo2010.ibge.gov.br" target="_blank"> Fonte: Censo Demográfico 2010 - IBGE</a></td>
            </tr>
        </table>

        <div class="panel graph-panel">
            <h5>População</h5>
            <div id="hc-piramide-etaria" style="min-height: 320px; margin: 0  auto;"></div>
            <p>&nbsp;</p>
            <div id="hc-populacao-cor" style="min-height: 300px; margin: 0  auto;"></div>
        </div>

        <div class="panel graph-panel">
            <h5>Renda</h5>
            <div id="hc-renda-pessoas" style="min-height: 320px; margin: 0  auto;"></div>
            <p>&nbsp;</p>
            <div id="hc-renda-domicilios" style="min-height: 300px; margin: 0  auto;"></div>
        </div>

        <div class="panel graph-panel">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="7"><h5>Alfabetização</h5></th>
                </tr>
                <tr>
                    <th></th>
                    <th colspan="3">Alfabetizados</th>
                    <th colspan="3">Não alfabetizados</th>
                </tr>
                <tr>
                    <th></th>
                    <th>Homens</th>
                    <th>Mulheres</th>
                    <th>Total</th>
                    <th>Homens</th>
                    <th>Mulheres</th>
                    <th>Total</th>
                </tr>
                <tr>
                    <th>De 5 a 9 anos</th>
                    <td>{{ perfil_setores.alfa_h_5_9|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_m_5_9|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_t_5_9|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_h_5_9|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_m_5_9|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_t_5_9|default:'' }}</td>
                </tr>
                <tr>
                    <th>De 10 a 14 anos</th>
                    <td>{{ perfil_setores.alfa_h_10_14|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_m_10_14|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_t_10_14|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_h_10_14|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_m_10_14|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_t_10_14|default:'' }}</td>
                </tr>
                <tr>
                    <th>De 15 a 19 anos</th>
                    <td>{{ perfil_setores.alfa_h_15_19|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_m_15_19|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_t_15_19|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_h_15_19|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_m_15_19|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_t_15_19|default:'' }}</td>
                </tr>
                <tr>
                    <th>De 20 a 24 anos</th>
                    <td>{{ perfil_setores.alfa_h_20_24|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_m_20_24|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_t_20_24|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_h_20_24|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_m_20_24|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_t_20_24|default:'' }}</td>
                </tr>
                <tr>
                    <th>De 25 a 29 anos</th>
                    <td>{{ perfil_setores.alfa_h_25_29|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_m_25_29|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_t_25_29|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_h_25_29|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_m_25_29|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_t_25_29|default:'' }}</td>
                </tr>
                <tr>
                    <th>De 30 a 34 anos</th>
                    <td>{{ perfil_setores.alfa_h_30_34|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_m_30_34|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_t_30_34|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_h_30_34|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_m_30_34|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_t_30_34|default:'' }}</td>
                </tr>
                <tr>
                    <th>De 35 a 39 anos</th>
                    <td>{{ perfil_setores.alfa_h_35_39|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_m_35_39|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_t_35_39|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_h_35_39|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_m_35_39|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_t_35_39|default:'' }}</td>
                </tr>
                <tr>
                    <th>De 40 a 44 anos</th>
                    <td>{{ perfil_setores.alfa_h_40_44|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_m_40_44|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_t_40_44|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_h_40_44|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_m_40_44|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_t_40_44|default:'' }}</td>
                </tr>

                <tr>
                    <th>De 45 a 49 anos</th>
                    <td>{{ perfil_setores.alfa_h_45_49|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_m_45_49|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_t_45_49|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_h_45_49|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_m_45_49|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_t_45_49|default:'' }}</td>
                </tr>
                <tr>
                    <th>De 50 a 54 anos</th>
                    <td>{{ perfil_setores.alfa_h_50_54|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_m_50_54|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_t_50_54|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_h_50_54|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_m_50_54|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_t_50_54|default:'' }}</td>
                </tr>
                <tr>
                    <th>De 55 a 59 anos</th>
                    <td>{{ perfil_setores.alfa_h_55_59|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_m_55_59|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_t_55_59|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_h_55_59|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_m_55_59|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_t_55_59|default:'' }}</td>
                </tr>
                <tr>
                    <th>De 60 a 64 anos</th>
                    <td>{{ perfil_setores.alfa_h_60_64|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_m_60_64|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_t_60_64|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_h_60_64|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_m_60_64|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_t_60_64|default:'' }}</td>
                </tr>
                <tr>
                    <th>De 65 a 69 anos</th>
                    <td>{{ perfil_setores.alfa_h_65_69|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_m_65_69|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_t_65_69|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_h_65_69|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_m_65_69|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_t_65_69|default:'' }}</td>
                </tr>
                <tr>
                    <th>De 70 a 74 anos</th>
                    <td>{{ perfil_setores.alfa_h_70_74|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_m_70_74|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_t_70_74|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_h_70_74|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_m_70_74|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_t_70_74|default:'' }}</td>
                </tr>
                <tr>
                    <th>De 75 a 79 anos</th>
                    <td>{{ perfil_setores.alfa_h_75_79|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_m_75_79|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_t_75_79|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_h_75_79|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_m_75_79|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_t_75_79|default:'' }}</td>
                </tr>
                <tr>
                    <th>Mais de 80 anos</th>
                    <td>{{ perfil_setores.alfa_h_80|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_m_80|default:'' }}</td>
                    <td>{{ perfil_setores.alfa_t_80|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_h_80|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_m_80|default:'' }}</td>
                    <td>{{ perfil_setores.nao_alfa_t_80|default:'' }}</td>
                </tr>
                <tr>
                    <td colspan="7" style="background: #FFF;" class="text-right"><a class="noafter" href="http://censo2010.ibge.gov.br">Fonte: Censo Demográfico 2010 - IBGE</a></td>
                </tr>
            </table>
        </div>

        <div class="panel graph-panel">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="7"><h5>Responsáveis por domicílios</h5></th>
                </tr>
                <tr>
                    <th></th>
                    <th colspan="2">Homens</th>
                    <th colspan="2">Mulheres</th>
                    <th colspan="2">Total</th>
                </tr>
                <tr>
                    <th></th>
                    <th>N.</th>
                    <th>%</th>
                    <th>N.</th>
                    <th>%</th>
                    <th>N.</th>
                    <th>%</th>
                </tr>
                <tr>
                    <th>Responsáveis</th>
                    <td>{{ perfil_setores.resp_h }}</td>
                    <td>{{ perfil_setores.resp_h_perc }}</td>
                    <td>{{ perfil_setores.resp_m }}</td>
                    <td>{{ perfil_setores.resp_m_perc }}</td>
                    <td>{{ perfil_setores.resp_t }}</td>
                    <td>{{ perfil_setores.resp_t_perc }}</td>
                </tr>
                <tr>
                    <th>Não alfabetizados</th>
                    <td>{{ perfil_setores.resp_h_nao_alfa }}</td>
                    <td>{{ perfil_setores.resp_h_nao_alfa_perc }}</td>
                    <td>{{ perfil_setores.resp_m_nao_alfa }}</td>
                    <td>{{ perfil_setores.resp_m_nao_alfa_perc }}</td>
                    <td>{{ perfil_setores.resp_t_nao_alfa }}</td>
                    <td>{{ perfil_setores.resp_t_nao_alfa_perc }}</td>
                </tr>
                <tr>
                    <th>Com até 18 anos</th>
                    <td>{{ perfil_setores.resp_h_18 }}</td>
                    <td>{{ perfil_setores.resp_h_18_perc }}</td>
                    <td>{{ perfil_setores.resp_m_18 }}</td>
                    <td>{{ perfil_setores.resp_m_18_perc }}</td>
                    <td>{{ perfil_setores.resp_t_18 }}</td>
                    <td>{{ perfil_setores.resp_t_18_perc }}</td>
                </tr>
                <tr>
                    <th>Sem rendimento</th>
                    <td>{{ perfil_setores.resp_h_sem_rend }}</td>
                    <td>{{ perfil_setores.resp_h_sem_rend_perc }}</td>
                    <td>{{ perfil_setores.resp_m_sem_rend }}</td>
                    <td>{{ perfil_setores.resp_m_sem_rend_perc }}</td>
                    <td>{{ perfil_setores.resp_t_sem_rend }}</td>
                    <td>{{ perfil_setores.resp_t_sem_rend_perc }}</td>
                </tr>
                <tr>
                    <th>Rendimento até 1 SM</th>
                    <td>{{ perfil_setores.resp_h_rend_1_sm }}</td>
                    <td>{{ perfil_setores.resp_h_rend_1_sm_perc }}</td>
                    <td>{{ perfil_setores.resp_m_rend_1_sm }}</td>
                    <td>{{ perfil_setores.resp_m_rend_1_sm_perc }}</td>
                    <td>{{ perfil_setores.resp_t_rend_1_sm }}</td>
                    <td>{{ perfil_setores.resp_t_rend_1_sm_perc }}</td>
                </tr>
                <tr>
                    <td colspan="7" style="background: #FFF;" class="text-right"><a class="noafter" href="http://censo2010.ibge.gov.br">Fonte: Censo Demográfico 2010 - IBGE</a></td>
                </tr>
            </table>
        </div>

        <div class="panel graph-panel">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="5"><h5>Infraestrutura Urbana</h5></th>
                </tr>
                <tr>
                    <th></th>
                    <th colspan="2">Domicílios</th>
                    <th colspan="2">Moradores</th>
                </tr>
                <tr>
                    <th>Existe</th>
                    <th>Sim</th>
                    <th>Não</th>
                    <th>Sim</th>
                    <th>Não</th>
                </tr>
                <tr>
                    <th>Arborização</th>
                    <td>{{ perfil_setores.arborizacao_dom_sim|default:'' }}</td>
                    <td>{{ perfil_setores.arborizacao_dom_nao|default:'' }}</td>
                    <td>{{ perfil_setores.arborizacao_mor_sim|default:'' }}</td>
                    <td>{{ perfil_setores.arborizacao_mor_nao|default:'' }}</td>
                </tr>
                <tr>
                    <th>Calçada</th>
                    <td>{{ perfil_setores.calcada_dom_sim|default:'' }}</td>
                    <td>{{ perfil_setores.calcada_dom_nao|default:'' }}</td>
                    <td>{{ perfil_setores.calcada_mor_sim|default:'' }}</td>
                    <td>{{ perfil_setores.calcada_mor_nao|default:'' }}</td>
                </tr>
                <tr>
                    <th>Iluminação Pública</th>
                    <td>{{ perfil_setores.iluminacao_dom_sim|default:'' }}</td>
                    <td>{{ perfil_setores.iluminacao_dom_nao|default:'' }}</td>
                    <td>{{ perfil_setores.iluminacao_mor_sim|default:'' }}</td>
                    <td>{{ perfil_setores.iluminacao_mor_nao|default:'' }}</td>
                </tr>
                <tr>
                    <th>Pavimentação</th>
                    <td>{{ perfil_setores.pavimentacao_dom_sim|default:'' }}</td>
                    <td>{{ perfil_setores.pavimentacao_dom_nao|default:'' }}</td>
                    <td>{{ perfil_setores.pavimentacao_mor_sim|default:'' }}</td>
                    <td>{{ perfil_setores.pavimentacao_mor_nao|default:'' }}</td>
                </tr>
                <tr>
                    <th>Rampa para cadeirante</th>
                    <td>{{ perfil_setores.rampa_dom_sim|default:'' }}</td>
                    <td>{{ perfil_setores.rampa_dom_nao|default:'' }}</td>
                    <td>{{ perfil_setores.rampa_mor_sim|default:'' }}</td>
                    <td>{{ perfil_setores.rampa_mor_nao|default:'' }}</td>
                </tr>
                <tr>
                    <th>Esgoto a céu aberto</th>
                    <td>{{ perfil_setores.esgoto_dom_sim|default:'' }}</td>
                    <td>{{ perfil_setores.esgoto_dom_nao|default:'' }}</td>
                    <td>{{ perfil_setores.esgoto_mor_sim|default:'' }}</td>
                    <td>{{ perfil_setores.esgoto_mor_nao|default:'' }}</td>
                </tr>
                <tr>
                    <th>Lixo acumulado na rua</th>
                    <td>{{ perfil_setores.lixo_dom_sim|default:'' }}</td>
                    <td>{{ perfil_setores.lixo_dom_nao|default:'' }}</td>
                    <td>{{ perfil_setores.lixo_mor_sim|default:'' }}</td>
                    <td>{{ perfil_setores.lixo_mor_nao|default:'' }}</td>
                </tr>
                <tr>
                    <td colspan="5" style="background: #FFF;" class="text-right"><a class="noafter" href="http://censo2010.ibge.gov.br">Fonte: Censo Demográfico 2010 - IBGE</a></td>
                </tr>
            </table>
        </div>

        <div class="panel graph-panel">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="5"><h5>Características dos Domicílios</h5></th>
                </tr>
                <tr>
                    <th></th>
                    <th colspan="2">Domicílios</th>
                    <th colspan="2">Moradores</th>
                </tr>
                <tr>
                    <th></th>
                    <th>N.</th>
                    <th>%</th>
                    <th>N.</th>
                    <th>%</th>
                </tr>
                <tr>
                    <th>Casas</th>
                    <td>{{ perfil_setores.num_dom_casas }}</td>
                    <td>{{ perfil_setores.perc_dom_casas }}</td>
                    <td>{{ perfil_setores.num_mor_casas }}</td>
                    <td>{{ perfil_setores.perc_mor_casas }}</td>
                </tr>

                <tr>
                    <th>Apartamentos</th>
                    <td>{{ perfil_setores.num_dom_ap }}</td>
                    <td>{{ perfil_setores.perc_dom_ap }}</td>
                    <td>{{ perfil_setores.num_mor_ap }}</td>
                    <td>{{ perfil_setores.perc_mor_ap }}</td>
                </tr>
                <tr>
                    <th>Sem abastecimento de água por rede geral</th>
                    <td>{{ perfil_setores.num_dom_sem_agua }}</td>
                    <td>{{ perfil_setores.perc_dom_sem_agua }}</td>
                    <td>{{ perfil_setores.num_mor_sem_agua }}</td>
                    <td>{{ perfil_setores.perc_mor_sem_agua }}</td>
                </tr>
                <tr>
                    <th>Sem banheiro ou sanitário</th>
                    <td>{{ perfil_setores.num_dom_sem_san }}</td>
                    <td>{{ perfil_setores.perc_dom_sem_san }}</td>
                    <td>{{ perfil_setores.num_mor_sem_san }}</td>
                    <td>{{ perfil_setores.perc_mor_sem_san }}</td>
                </tr>
                <tr>
                    <th>Sem lixo coletado</th>
                    <td>{{ perfil_setores.num_dom_lixo }}</td>
                    <td>{{ perfil_setores.perc_dom_lixo }}</td>
                    <td>{{ perfil_setores.num_mor_lixo }}</td>
                    <td>{{ perfil_setores.perc_mor_lixo }}</td>
                </tr>
                <tr>
                    <th>Sem energia elétrica</th>
                    <td>{{ perfil_setores.num_dom_sem_ee }}</td>
                    <td>{{ perfil_setores.perc_dom_sem_ee }}</td>
                    <td>{{ perfil_setores.num_mor_sem_ee }}</td>
                    <td>{{ perfil_setores.perc_mor_sem_ee }}</td>
                </tr>
                <tr>
                    <td colspan="5" style="background: #FFF;" class="text-right"><a class="noafter" href="http://censo2010.ibge.gov.br">Fonte: Censo Demográfico 2010 - IBGE</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>