{% load staticfiles %}

<div class="row">
    <div class="columns medium-12">
        {% if is_administrador and is_pessoafisica %}
        <button
          href="#"
          data-dropdown="drop1"
          aria-controls="drop1"
          aria-expanded="false"
          class="button small right secondary dropdown"
        >
            <i class="fa fa-plus-o"></i> Cadastrar novo agente
        </button>
        <br>
        <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
            <li style="width: 100%;"><a href="{% url 'coletivo_create' %}">Coletivo ou Grupo</a></li>
            <li style="width: 100%;"><a href="{% url 'instituicao_create' %}">Instituição</a></li>
            <li style="width: 100%;"><a href="{% url 'conselho_create' %}">Fóruns, Conselhos ou Comitês</a></li>
            <li style="width: 100%;"><a href="{% url 'movimentosocial_create' %}">Movimentos Sociais</a></li>
        </ul>
        {% endif %}
    </div>

    <!-- Membros -->
    <div class="columns medium-12">
        <table role="grid" width="100%">
            <tr>
                <th>
                    <h5>
                        Vínculo com outros agentes
                        {% if agente.transformed_vinculos.count > 0 %}
                            <a
                            href="#"
                            class="button secondary tiny right map-show-vinculos"
                            data-layer-name="agentes_vinculados"
                            data-layer-title="Agentes Vinculados"
                            >
                                <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                Ver no mapa
                            </a>
                        {% endif %}
                    </h5>
                </th>
            </tr>
            {% if is_administrador %}
                <tr>
                    <td style="background: white;" class="row">
                        <div class="columns medium-12">
                            {% if agente.transformed_vinculos.count <= 0 %}
                                {{ form_vinculo.empty_help_text|safe }}
                            {% endif %}
                        </div>
                        <div class="columns medium-10">{{ form_vinculo.agente }}</div>
                        <div class="columns medium-2">
                            {% if is_pessoafisica %}
                                <button
                                id="btnVincular"
                                data-url="{% url vinculo_add_remove 'adiciona' 0 %}?next={{ request.path }}#fndtn-panel-rede"
                                type="submit"
                                class="button secondary small expand"
                                >
                                    <i class="fa fa-plus"></i> Vincular
                                </button>
                            {% else %}
                                <button
                                id="btnVincular"
                                data-url="{% url vinculo_add_remove 'adiciona' agente.pk 0 %}?next={{ request.path }}#fndtn-panel-rede"
                                type="submit"
                                class="button secondary small expand"
                                >
                                    <i class="fa fa-plus"></i> Vincular
                                </button>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td style="background: white;" class="row">
                        <div class="columns medium-12" style="text-align: center;">
                            {% if agente.transformed_vinculos.count <= 0 %}
                                <p>Este agente não está vinculado(a) a nenhum outro agente.</p>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endif %}
            {% for agente_vinculado in agente.transformed_vinculos %}
                <tr>
                    <td>
                        <input
                        type="hidden"
                        data-geometry="{{ agente_vinculado.point.geojson }}"
                        data-name="{{ agente_vinculado.nome }}"
                        data-local="{{ agente_vinculado.municipio }}"
                        data-layer="agentes_vinculados"
                        data-title="Agentes Vinculadas"
                        data-target-url="{{ agente_vinculado.target_url }}"
                        >
                        {% if agente_vinculado.avatar %}
                            <img
                            src="{{ agente_vinculado.avatar.url }}"
                            alt="{{ agente_vinculado.nome }} ({{ agente_vinculado.tipo }})"
                            style="height: 30px;"
                            />&nbsp;
                        {% else %}
                            <img
                            src="{% static 'img/logo_culturaeduca2.png' %}"
                            alt="{{ agente_vinculado.nome }} ({{ agente_vinculado.tipo }})"
                            style="height: 30px;"
                            />&nbsp;
                        {% endif %}
                        <a href="{{ agente_vinculado.get_child.target_url }}" >{{ agente_vinculado.nome }} ({{ agente_vinculado.tipo }}) </a>
                        {% if is_administrador %}
                            {% if is_pessoafisica %}
                                <a
                                class="noafter right"
                                href="{% url vinculo_add_remove 'remove' agente_vinculado.pk %}?next={{ request.path }}#fndtn-panel-rede"
                                >
                                    <i class="fa fa-times"></i> Desvincular 
                                </a>
                            {% else %}
                                <a
                                class="noafter right"
                                href="{% url vinculo_add_remove 'remove' agente.pk agente_vinculado.pk %}?next={{ request.path }}#fndtn-panel-rede"
                                >
                                    <i class="fa fa-times"></i> Desvincular 
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% if tipo_agente == "user" %}
            <table role="grid" width="100%">
                <tr>
                    <th>
                        <h5>Agentes que sou membro</h5>
                    </th>
                </tr>
                {% for agente_vinculado in agente.agentes %}
                    <tr>
                        <td>
                            {% if agente_vinculado.avatar %}
                                <img
                                  src="{{ agente_vinculado.avatar.url }}"
                                  alt="{{ agente_vinculado.nome }} ({{ agente_vinculado.tipo }})"
                                  style="height: 30px;" />&nbsp;
                            {% else %}
                                <img
                                  src="{% static 'img/logo_culturaeduca2.png' %}"
                                  alt="{{ agente_vinculado.nome }} ({{ agente_vinculado.tipo }})"
                                  style="height: 30px;" />&nbsp;
                            {% endif %}
                            <a href="{{ agente_vinculado.get_child.target_url }}" >
                                {{ agente_vinculado.nome }} ({{ agente_vinculado.tipo }}) 
                            </a>
                            {% if agente_vinculado.id in user_agentes %}
                                <span class="noafter right opacity-60" >Administrador do agente</span>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td style="background: white;" class="row">
                            <div class="columns medium-12" style="text-align: center;">
                                {% if agente.agentes.count <= 0 %}
                                    <p>Este agente não é membro de nenhum outro agente.</p>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <table role="grid" width="100%">
                <tr>
                    <th>
                        <h5>Pessoas físicas vinculadas</h5>
                    </th>
                </tr>
                {% for usuario in agente.usuarios_vinculados %}
                    <tr>
                        <td>
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <a class="noafter" href="{{ usuario.get_absolute_url }}">{{ usuario.nome }} </a>
                            <br/>
                            <small>{{ usuario.get_profile.privacy_endereco|default:"Endereço não disponível" }}</small>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td style="background: white;" class="row">
                            <div class="columns medium-12" style="text-align: center;">
                                <p>Este agente não possui pessoas físicas vinculadas</p>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
<!--         <table role="grid" width="100%">
            <tr>
                <th>
                    <h5 class="left" style="line-height: 32px;">Vínculos com outras ações</h5>
                    {% if agente.all_acoes.count > 0 %}
                        <a
                          href="#"
                          class="button secondary tiny right map-show-vinculos"
                          data-layer-name="acoes_vinculadas"
                          data-layer-title="Ações Vinculadas"
                        >
                            <i class="fa fa-location-arrow" aria-hidden="true"></i>
                            Ver no mapa
                        </a>
                    {% endif %}
                    <a
                      href="{{ request.path }}#fndtn-panel-acoes"
                      class="button secondary tiny right"
                      style="margin-right: 10px;"
                    >
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        {% if is_administrador and is_pessoafisica %}Ir para minhas ações{% else %}Ações do agente{% endif %}
                    </a>
                </th>
                {% if is_administrador %}
                    {% if not is_pessoafisica %}
                        <tr>
                            <td style="background: white;" class="row">
                                <div class="columns medium-12">
                                    {% if agente.all_acoes.count <= 0 %}
                                        {{ form_acao_vinculo.empty_help_text|safe }}
                                    {% endif %}
                                </div>
                                <div class="columns medium-10">{{ form_acao_vinculo.acao }}</div>
                                <div class="columns medium-2">
                                    <button
                                      id="btnAcaoVincular"
                                      data-url="{% url 'acao_agente_vinculo_add_remove' 'adiciona' 0 agente.pk %}?next={{ request.path }}#fndtn-panel-rede"
                                      type="submit"
                                      class="button secondary small expand"
                                    >
                                        <i class="fa fa-plus"></i> Vincular
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
            </tr>
            {% if agente.all_acoes.count > 0 %}
                <tr>
                    <td>
                        <span>Projetos</span>
                    </td>
                </tr>
                {% for acao in agente.acoes_projetos %}
                <tr>
                    <td>
                        {% for local in acao.projeto.transformed_locais %}
                            <input
                              type="hidden"
                              data-geometry="{{ local.point.geojson }}"
                              data-name="{{ acao.projeto.nome }} ({{ acao.projeto.tipo }})"
                              data-local="{{ local.municipio }}"
                              data-layer="acoes_vinculadas"
                              data-target-url="{{ acao.projeto.get_absolute_url }}"
                            >
                        {% endfor %}
                        <div class="left">
                            <img
                              src="{% static "img/placeholder/30x30_P.jpg" %}"
                              alt="{{ acao.projeto.nome }} ({{ acao.projeto.tipo }})"
                              title="{{ acao.projeto.nome }} ({{ acao.projeto.tipo }})"
                              style="height: 30px;"
                            />
                        </div>
                        <div class="left" style="margin-left: 45px;">
                            <strong>
                                Projeto: 
                                <a href="{{ acao.projeto.get_absolute_url }}" title="Ver detalhes">{{ acao.projeto }}</a>
                                <br>
                            </strong>
                            {% if acao.projeto.propositor_tipo == acao.projeto.PROPOSITOR_TIPO.OUTROS %}
                                Propositor: ({{ acao.projeto.propositor_outro|default:"Não Informado" }})<br>
                            {% else %}
                                Propositor:
                                {% if acao.projeto.propositor %}
                                    <a href="{{ acao.projeto.propositor.get_absolute_url }}">
                                        {{ acao.projeto.propositor.nome }}
                                    </a>
                                    <span class="opacity-60">({{ acao.projeto.propositor.tipo|default:"Não declarado" }})</span>
                                    <br>
                                {% else %}
                                    Não Informado
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="right">
                            {% if acao.sou_vinculado %}
                                {% if not is_pessoafisica and is_administrador %}
                                    <span class="noafter right">
                                        <a class="noafter right" href="{% url 'acao_agente_vinculo_add_remove' 'remove' acao.pk agente.pk %}?next={{ request.path }}#fndtn-panel-rede">
                                            <i class="fa fa-times"></i> Desvincular
                                        </a>
                                    </span>
                                {% endif %}
                            {% endif %}
                            {% if is_pessoafisica and acao.sou_membro and is_administrador %}
                                <span class="noafter right">
                                    <a class="noafter right" href="{% url 'acao_membership_add_remove_me' 'remove' acao.pk %}?next={{ request.path }}#fndtn-panel-rede">
                                        <i class="fa fa-times"></i> Sair
                                    </a>
                                </span>
                            {% endif %}
                            
                            <span class="noafter right opacity-60">
                                {{ acao.sou_vinculado|yesno:"|vinculado|,"}}&nbsp;
                            </span>
                            <span class="noafter right opacity-60">
                                {{ acao.acao_outro_agente|yesno:"|ação de agente vinculado|,"}}&nbsp;
                            </span>
                            <span class="noafter right opacity-60">
                                {{ acao.sou_membro|yesno:"Membro,"}}&nbsp;
                            </span>
                        </div>
                    </td>
                </tr>
                {% empty %}
                    <tr>
                        <td style="text-align: center;">
                            <span class="opacity-60">
                                Não há projetos vinculados com esse usuário.
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>
                        <span>Atividades</span>
                    </td>
                </tr>
                {% for acao in agente.acoes_atividades %}
                <tr>
                    <td>
                        {% for local in acao.atividade.transformed_locais %}
                            <input
                              type="hidden"
                              data-geometry="{{ local.point.geojson }}"
                              data-name="{{ acao.atividade.nome }} ({{ acao.atividade.tipo }})"
                              data-local="{{ local.municipio }}"
                              data-layer="acoes_vinculadas"
                              data-target-url="{{ acao.atividade.get_absolute_url }}"
                            >
                        {% endfor %}
                        <div class="left">
                            <img
                              src="{% static "img/placeholder/30x30_P.jpg" %}"
                              alt="{{ acao.atividade.nome }} ({{ acao.atividade.tipo }})"
                              title="{{ acao.atividade.nome }} ({{ acao.atividade.tipo }})"
                              style="height: 30px;" 
                            />
                        </div>
                        <div class="left" style="margin-left: 45px;">
                            <strong>
                                Atividade:
                                <a href="{{ acao.atividade.get_absolute_url }}" title="Ver detalhes">
                                    {{ acao.atividade.nome|default:"Não informado" }}
                                </a>
                                <br>
                            </strong>
                            Formato: {{ acao.atividade.get_formato_tipo_display|default:"Não informado" }}
                        </div>
                        <div class="right">
                            {% if not is_pessoafisica and acao.sou_vinculado and is_administrador %}
                                <span class="noafter right">
                                    <a class="noafter right" href="{% url 'acao_agente_vinculo_add_remove' 'remove' acao.pk agente.pk %}?next={{ request.path }}#fndtn-panel-rede">
                                        <i class="fa fa-times"></i> Desvincular
                                    </a>
                                </span>
                            {% endif %}
                            {% if is_pessoafisica and acao.sou_membro and is_administrador %}
                                <span class="noafter right">
                                    <a class="noafter right" href="{% url 'acao_membership_add_remove_me' 'remove' acao.pk %}?next={{ request.path }}#fndtn-panel-rede">
                                        <i class="fa fa-times"></i> Sair
                                    </a>
                                </span>
                            {% endif %}
                            <span class="noafter right opacity-60">
                                {{ acao.sou_vinculado|yesno:"|vinculado|,"}}&nbsp;
                            </span>
                            <span class="noafter right opacity-60">
                                {{ acao.acao_outro_agente|yesno:"|ação de agente vinculado|,"}}&nbsp;
                            </span>
                            <span class="noafter right opacity-60">
                                {{ acao.sou_membro|yesno:"Membro,"}}&nbsp;
                            </span>
                        </div>
                    </td>
                </tr>
                {% empty %}
                    <tr>
                        <td style="text-align: center;">
                            <span class="opacity-60">
                                Não há atividades vinculadas com esse usuário.
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td style="background: white;" class="row">
                        <div class="columns medium-12" style="text-align: center;">
                            {% if is_administrador %}
                                <p>Não há ações na sua rede.</p>
                            {% else %}
                                <p>Não há ações na rede do agente.</p>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endif %}
        </table> -->
    </div>
</div>
