{% extends 'base.html' %}
{% load static  %}

{% block menu_sobre %}active{% endblock menu_sobre %}

{% block content %}
<div class="content-page">

    <div class="row">
        <div class="columns medium-12">

                    <h4>&nbsp;</h4>
                    <h4>O projeto</h4>
                    <p>
                        E se as pesquisas, leituras, conversas, brincadeiras e descobertas que acontecem dentro da escola se conectassem às experiências que podemos ter ao redor da escola? Na biblioteca, na rua, na praça, num sarau, na lan house, num centro cultural? Quem, em volta da escola, faz música, teatro, dança, feiras, festas, esportes, debates...? Quem cuida do meio ambiente, quem conhece a história do bairro, quem gosta de reunir pessoas para estudar um assunto ou simplesmente conversar?
                    </p>
                    <p>
                        Os compromissos da educação formal são insubstituíveis, mas propostas de educação não formal podem inspirar o cotidiano escolar. O portal CulturaEduca 2.0 é uma ferramenta criada para facilitar o diálogo entre educação e cultura, entre a escola e as instituições, entre as iniciativas culturais e pessoas próximas a ela. Comunidades formadas por crianças, jovens, professores, pais, agentes culturais e cidadãos são convidados a mapear seus territórios de vivência de forma colaborativa. Mais que localizar iniciativas socioculturais, o processo de mapeamento fortalece elos comunitários e provoca múltiplas possibilidades de aprendizagem.
                    </p>
                    <p>
                        Os mapas ainda apresentam dados sobre as particularidades de cada território: demografia, atividade econômica predominante, renda, escolaridade, entre outros. Essas informações são estratégicas para fomentar o planejamento de ações comunitárias e/ou de políticas públicas.
                    </p>
                    <p>
                        O mapeamento do CulturaEduca 2.0 é colaborativo, aberto e gratuito;
                    </p>


                </div>
                <div class="columns medium-12">
                    <h2> </h2>
                    
                    <p>
                        O mapa sobrepõe camadas de informação que visam relacionar o saber científico (dados de órgãos oficiais coletados por meio de pesquisas como Censo Demográfico, Censo Escolar etc.) ao saber popular (dados levantados por cidadãos a partir de suas observações e vivências cotidianas), com os objetivos de:
                    </p>
                    <p>
                        1) visualizar e analisar dinâmicas sociais, culturais e educativas em escala macro (Brasil, estados, cidades) ou micro (territórios com áreas inferiores a 10 km);
                    </p>
                    <p>
                        2) subsidiar o planejamento de políticas públicas, ações comunitárias, projetos pedagógicos, pesquisas, estudos, reportagens etc.;
                    </p>
                    <p>
                        3) formar redes que fortaleçam a atuação conjunta das diferentes iniciativas/instituições, priorizando a aproximação da educação formal (escolas) à educação não formal (iniciativas comunitárias em geral e espaços públicos como Pontos de Cultura, museus, bibliotecas, teatros, cinemas, ONGs etc.);
                    </p>
                    <p>
                        4) estimular o apoderamento das comunidades sobre seus próprios territórios: o processo coletivo de construção dos mapas aproxima as pessoas e instituições de uma mesma região e provoca novos olhares sobre espaços que já conhecem;
                    </p>
                    <p>
                        5) promover reflexões, pesquisas e debates sobre cidadania, democracia, urbanismo, cartografia social, desenvolvimento comunitário, controle de políticas públicas, acesso à informação, economia participativa, descentralização da mídia, cultura digital, diversidade cultural, educação, arte e temas afins.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_css %}{{ block.super }}
{% endblock extra_css %}

{% block extra_js %}{{ block.super }}
{% endblock extra_js %}
