{% extends 'base.html' %}
{% load l10n static foundation_filter %}

{% block titulo %}{{ l }}{% endblock titulo %}
{% block menu_mapa %}active{% endblock menu_mapa %}

{% block content %}

<link rel="stylesheet" href="/static/foundation-icons/foundation-icons.css" />
<div class="row content-map map-detail">
    <div id="map">
        <div id="popup" class="ol-popup">
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
            <div id="popup-content"></div>
        </div>
    </div>
    <div class="breadcrumb_map">
        <a href="{% url 'mapa_index' %}">Brasil</a> &nbsp; / &nbsp; {{ object.uf }}
    </div>
    <div class="below-map">{% include "partials/filters_left.html" %}</div>
    <div class="overmap">{% include "partials/clear_map_right.html" %}</div>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="columns medium-12 medium-centered">
        <!-- aqui vem o conteúdo das ações -->
        <div class="info-border-bottom">
            <h3 class="sub-title-profile">
                {{ object.nm_estado }} - {{ object.uf }}
            </h3>
        </div>
        <ul id="tabs" class="tabs" data-tab role="tablist" data-options="deep_linking: true;scroll_to_content: false;">
          <li id="tab-perfil" class="tab-title active" role="presentation"><a href="#panel-perfil" role="tab" tabindex="0" aria-selected="true" aria-controls="panel-perfil">Perfil</a></li>
        </ul>
        <div class="tabs-content">
          <section role="tabpanel" aria-hidden="false" class="content active" id="panel-perfil">
            {% include "perfil_ponto.html" %}
          </section>
        </div>
    </div>
</div>

</div>
{% endblock content %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'openlayers/v3.18.2/ol.css' %}" />
{% endblock extra_css %}

{% block extra_js %}

    <script src="{% static 'openlayers/v3.18.2/ol.js' %}"></script>
        <script src="{% static 'js/highcharts/highcharts.js' %}?v=5.0.0"></script>

    <script src="{% static 'js/mapa_detalhe_generico.js' %}?v=_4235123342314235"></script>
    <script src="{% static 'js/camadas.js' %}?v=1"></script>

    <script type="text/javascript">
        $(function(){

            {% localize off %}
            var object_extent = [{% for coord in object.geom.extent %}{{coord}},{% endfor %}];
            {% endlocalize %}

            map.getView().fit(object_extent, map.getSize());
        });
    </script>

    <script type="text/javascript">
        var renda_p_h = [
            {{ perfil_setores.p_h_sem_rend|default:0 }},
            {{ perfil_setores.p_h_meio_sm|default:0 }},
            {{ perfil_setores.p_h_meio_1_sm|default:0 }},
            {{ perfil_setores.p_h_1_2_sm|default:0 }},
            {{ perfil_setores.p_h_2_3_sm|default:0 }},
            {{ perfil_setores.p_h_3_5_sm|default:0 }},
            {{ perfil_setores.p_h_5_10_sm|default:0 }},
            {{ perfil_setores.p_h_10_25_sm|default:0 }},
            {{ perfil_setores.p_h_15_20_sm|default:0 }},
            {{ perfil_setores.p_h_20_sm|default:0 }}
        ];
        var renda_p_m = [
            {{ perfil_setores.p_m_sem_rend|default:0 }},
            {{ perfil_setores.p_m_meio_sm|default:0 }},
            {{ perfil_setores.p_m_meio_1_sm|default:0 }},
            {{ perfil_setores.p_m_1_2_sm|default:0 }},
            {{ perfil_setores.p_m_2_3_sm|default:0 }},
            {{ perfil_setores.p_m_3_5_sm|default:0 }},
            {{ perfil_setores.p_m_5_10_sm|default:0 }},
            {{ perfil_setores.p_m_10_25_sm|default:0 }},
            {{ perfil_setores.p_m_15_20_sm|default:0 }},
            {{ perfil_setores.p_m_20_sm|default:0 }}
        ];
        var renda_domicilios = [
            {{ perfil_setores.dom_sem_rend|default:0 }},
            {{ perfil_setores.dom_meio_sm|default:0 }},
            {{ perfil_setores.dom_meio_1_sm|default:0 }},
            {{ perfil_setores.dom_1_2_sm|default:0 }},
            {{ perfil_setores.dom_2_3_sm|default:0 }},
            {{ perfil_setores.dom_3_5_sm|default:0 }},
            {{ perfil_setores.dom_5_10_sm|default:0 }},
            {{ perfil_setores.dom_10_25_sm|default:0 }},
        ];
        var piramide_etaria_h = [
            -{{ perfil_setores.p_h_0_4|default:0 }},
            -{{ perfil_setores.p_h_5_9|default:0 }},
            -{{ perfil_setores.p_h_10_14|default:0 }},
            -{{ perfil_setores.p_h_15_19|default:0 }},
            -{{ perfil_setores.p_h_20_24|default:0 }},
            -{{ perfil_setores.p_h_25_29|default:0 }},
            -{{ perfil_setores.p_h_30_34|default:0 }},
            -{{ perfil_setores.p_h_35_39|default:0 }},
            -{{ perfil_setores.p_h_40_44|default:0 }},
            -{{ perfil_setores.p_h_45_49|default:0 }},
            -{{ perfil_setores.p_h_50_54|default:0 }},
            -{{ perfil_setores.p_h_55_59|default:0 }},
            -{{ perfil_setores.p_h_60_64|default:0 }},
            -{{ perfil_setores.p_h_65_69|default:0 }},
            -{{ perfil_setores.p_h_70_74|default:0 }},
            -{{ perfil_setores.p_h_75_79|default:0 }},
            -{{ perfil_setores.p_h_80_84|default:0 }},
            -{{ perfil_setores.p_h_85_89|default:0 }},
            -{{ perfil_setores.p_h_90_94|default:0 }},
            -{{ perfil_setores.p_h_95_99|default:0 }},
            -{{ perfil_setores.p_h_100|default:0 }}
        ];
        var piramide_etaria_m = [
            {{ perfil_setores.p_m_0_4|default:0 }},
            {{ perfil_setores.p_m_5_9|default:0 }},
            {{ perfil_setores.p_m_10_14|default:0 }},
            {{ perfil_setores.p_m_15_19|default:0 }},
            {{ perfil_setores.p_m_20_24|default:0 }},
            {{ perfil_setores.p_m_25_29|default:0 }},
            {{ perfil_setores.p_m_30_34|default:0 }},
            {{ perfil_setores.p_m_35_39|default:0 }},
            {{ perfil_setores.p_m_40_44|default:0 }},
            {{ perfil_setores.p_m_45_49|default:0 }},
            {{ perfil_setores.p_m_50_54|default:0 }},
            {{ perfil_setores.p_m_55_59|default:0 }},
            {{ perfil_setores.p_m_60_64|default:0 }},
            {{ perfil_setores.p_m_65_69|default:0 }},
            {{ perfil_setores.p_m_70_74|default:0 }},
            {{ perfil_setores.p_m_75_79|default:0 }},
            {{ perfil_setores.p_m_80_84|default:0 }},
            {{ perfil_setores.p_m_85_89|default:0 }},
            {{ perfil_setores.p_m_90_94|default:0 }},
            {{ perfil_setores.p_m_95_99|default:0 }},
            {{ perfil_setores.p_m_100|default:0 }}
        ];
        var raca_cor = {
            'branca': {{ perfil_setores.raca_cor_branca|default:0 }},
            'preta': {{ perfil_setores.raca_cor_preta|default:0 }},
            'amarela': {{ perfil_setores.raca_cor_amarela|default:0 }},
            'parda': {{ perfil_setores.raca_cor_parda|default:0 }},
            'indigena': {{ perfil_setores.raca_cor_indigena|default:0 }},
        };
    </script>
    <script src="{% static 'js/perfil_ponto_highcharts.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            var object_geom = new ol.layer.Vector({
                source: new ol.source.Vector({
                    features: (new ol.format.GeoJSON()).readFeatures('{{ object_geojson|safe }}')
                }),
            });

            map.addLayer(object_geom);
        });
    </script>
{% endblock extra_js %}
