{% extends 'equipamento/base_detalhe.html' %}
{% load l10n %}

{% block ficha %}

    <div class="row">
        <div class="columns medium-12">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2"><h5>Identificação</h5></th>
                </tr>
                <tr>
                    <th>Nome</th>
                    <td>{{ l.v008|default:'' }}</td>
                </tr>                     
                <tr>
                    <th>Município</th>
                    <td>{{ l.v007|default:'' }} - {{ l.v005|default:'' }}</td>
                </tr>
                <tr>
                    <th>Endereço</th>
                    <td>{{ l.endereco }}</td>
                </tr>
                <tr>
                    <th>Telefone</th>
                    <td>({{ l.v018|default:'' }}) {{ l.v019|default:'' }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ l.v022|default:'' }}</td>
                </tr>
                <tr>
                    <th>Site</th>
                    <td>{{ l.v023|default:'' }}</td>
                </tr>
                <tr>
                    <th>CNPJ</th>
                    <td>{{ l.v026|default:'' }}</td>
                </tr>
            </table>
        </div>
        <div class="columns medium-12">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2"><h5>Gestão</h5></th>
                </tr>
                <tr>
                    <th>Esfera Administrativa</th>
                    <td>
                        {% if l.v024 == 1 %}
                            {{ l.get_v025_display }}
                        {% else %}
                            {{ l.get_v024_display }}
                        {% endif %}
                    </td>
                </tr>     
            </table>
        </div>
        <div class="columns medium-12">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2"><h5>Funcionamento</h5></th>
                </tr>
                <tr>
                    <th>Segunda-feira</th>
                    <td><i class="fi-check{{ l.v030|yesno:', discreet' }}"></td>
                </tr>
                <tr>
                    <th>Terça-feira</th>
                    <td><i class="fi-check{{ l.v031|yesno:', discreet' }}"></td>
                </tr>
                <tr>
                    <th>Quarta-feira</th>
                    <td><i class="fi-check{{ l.v032|yesno:', discreet' }}"></td>
                </tr>
                <tr>
                    <th>Quinta-feira</th>
                    <td><i class="fi-check{{ l.v033|yesno:', discreet' }}"></td>
                </tr>
                <tr>
                    <th>Sexta-feira</th>
                    <td><i class="fi-check{{ l.v034|yesno:', discreet' }}"></td>
                </tr>
                <tr>
                    <th>Sábado</th>
                    <td><i class="fi-check{{ l.v035|yesno:', discreet' }}"></td>
                </tr>
                <tr>
                    <th>Domingo</th>
                    <td><i class="fi-check{{ l.v036|yesno:', discreet' }}"></td>
                </tr>      
            </table>
        </div>
        <div class="columns medium-12">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2"><h5>Localização</h5></th>
                </tr>
                <tr>
                    <th>Latitude</th>
                    <td>{{ l.v003|default:'' }}</td>
                </tr>
                <tr>
                    <th>Longitude</th>
                    <td>{{ l.v002|default:'' }}</td>
                </tr>
                <tr>
                    <th>Tipo GEO</th>
                    <td>{{ l.get_v004_display|default:'' }}</td>
                </tr>
            </table>
        </div>
        <div class="columns medium-12">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2"><h5>Acervo</h5></th>
                </tr>
                <tr>
                    <th>Número de Livros</th>
                    <td>{{ l.v042|default:'' }}</td>
                </tr>
                <tr>
                    <th>Quantidade de Empréstimos</th>
                    <td>{{ l.v041|default:'' }}</td>
                </tr>
            </table>   
        </div>
    </div>
    
{% endblock ficha %}