{% extends 'equipamento/base_detalhe.html' %}
{% load l10n %}

{% block ficha %}

    <div class="row">
        <div class="columns medium-12">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2"><h5>Identificação</h5></th>
                </tr>
                <tr>
                    <th>Nome</th>
                    <td>{{ l.v008|default:'' }}</td>
                </tr>                     
                <tr>
                    <th>Município</th>
                    <td>{{ l.v007|default:'' }} - {{ l.v005|default:'' }}</td>
                </tr>
                <tr>
                    <th>Endereço</th>
                    <td>{{ l.endereco }}</td>
                </tr>
                <tr>
                    <th>Telefone</th>
                    <td>({{ l.v018|default:'' }}) {{ l.v019|default:'' }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ l.v021|default:'' }}</td>
                </tr>
                <tr>
                    <th>Site</th>
                    <td>{{ l.v022|default:'' }}</td>
                </tr>
                <tr>
                    <th>CNPJ</th>
                    <td>{{ l.v025|default:'' }}</td>
                </tr>
            </table>
        </div>
        <div class="columns medium-12">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2"><h5>Gestão</h5></th>
                </tr>
                <tr>
                    <th>Esfera Administrativa</th>
                    <td>
                        {{ l.get_v024_display }}
                    </td>
                </tr>     
            </table>
        </div>
        <div class="columns medium-12">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2"><h5>Dados</h5></th>
                </tr>
                <tr>
                    <th colspan="2">Número de Salas</th>
                </tr>
                <tr>
                    <td>2012</td>
                    <td>{{ l.v028 }}</td>
                </tr>
                <tr>
                    <td>2013</td>
                    <td>{{ l.v029 }}</td>
                </tr>
                <tr>
                    <th>Grupo ANCINE</th>
                    <td>
                        {{ l.v027|default:'' }}
                    </td>
                </tr>     
            </table>
        </div>
        <div class="columns medium-12">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2"><h5>Localização</h5></th>
                </tr>
                <tr>
                    <th>Latitude</th>
                    <td>{{ l.v003|default:'' }}</td>
                </tr>
                <tr>
                    <th>Longitude</th>
                    <td>{{ l.v002|default:'' }}</td>
                </tr>
                <tr>
                    <th>Tipo GEO</th>
                    <td>{{ l.get_v004_display|default:'' }}</td>
                </tr>
            </table>  
        </div>
    </div>
    
{% endblock ficha %}