{% extends 'equipamento/base_detalhe.html' %}
{% load l10n %}

{% block ficha %}

    <div class="row">
        <div class="columns medium-12">
          <table role="grid" width="100%" class="table_dados">
              <tr>
                  <th colspan="2"><h5>Identificação</h5></th>
              </tr>
              <tr>
                  <th style="min-width: 160pt;">Código INEP</th>
                  <td>{{ l.pk_cod_entidade|default:'N/D' }}</td>
              </tr>
              <tr>
                  <th>Dependência Administrativa</th>
                  <td>{{ l.inep_escola.get_tp_dependencia_display|default:'N/D' }}</td>
              </tr>
              <tr>
                  <th>Situação de Funcionamento</th>
                  <td>{{ l.inep_escola.get_tp_situacao_funcionamento_display|default:'N/D' }}</td>
              </tr>
              <tr>
                  <th>Localização</th>
                  <td>{{ l.inep_escola.get_tp_localizacao_display|default:'N/D' }}</td>
              </tr>
              <tr>
                  <th>Localização Diferenciada</th>
                  <td>{{ l.inep_escola.get_tp_localizacao_diferenciada_display|default:'N/D' }}</td>
              </tr>
              <tr>
                  <th>Endereço</th>
                  <td>{{ l.endereco }}</td>
              </tr>
              <tr>
                  <th>Telefone</th>
                  <td>{{ l.telefone|default:'N/D' }}</td>
              </tr>
              <tr>
                  <th>Email</th>
                  <td>{{ l.no_email|default:'N/D' }}</td>
              </tr>
              <tr>
                  <td colspan="2" class="text-right">
                      <a target="_blank" class="noafter" href="http://portal.inep.gov.br/">
                          <small>Fonte: Censo Escolar da Educação Básica 2020 - INEP/MEC</small>
                      </a>
                  </td>
              </tr>
          </table>
          <table role="grid" width="100%" class="table_dados">
              <tr>
                  <th colspan="2"><h5>Matrículas </h5></th>
              </tr>
              <tr>
                  <th>Educação indígena</th>
                  <td><i class="fi-check{{ l.inep_escola.in_educacao_indigena|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Atendimento Educacional Especializado (AEE)</th>
                  <td><i class="fi-check{{ l.inep_escola.tp_aee|yesno:', discreet' }}"></i></td>
              </tr>
              {% if l.inep_matriculas.creche > 0 %}
                  <tr>
                      <th>Educação Infantil - Creche</th>
                      <td>{{ l.inep_matriculas.creche }} matrículas</td>
                  </tr>
              {% endif %}
              {% if l.inep_matriculas.pre > 0 %}
                  <tr>
                      <th>Educação Infantil - Pré-escola</th>
                      <td>{{ l.inep_matriculas.pre }} matrículas</td>
                  </tr>
              {% endif %}
              {% if l.inep_matriculas.fund_ai > 0 %}
                  <tr>
                      <th>Ensino Fundamental - Anos Iniciais</th>
                      <td>{{ l.inep_matriculas.fund_ai }} matrículas</td>
                  </tr>
              {% endif %}
              {% if l.inep_matriculas.fund_af > 0 %}
                  <tr>
                      <th>Ensino Fundamental - Anos Finais</th>
                      <td>{{ l.inep_matriculas.fund_af }} matrículas</td>
                  </tr>
              {% endif %}
              {% if l.inep_matriculas.medio > 0 %}
                  <tr>
                      <th>Ensino Médio</th>
                      <td>{{ l.inep_matriculas.medio }} matrículas</td>
                  </tr>
              {% endif %}
              {% if l.inep_matriculas.medio_integrado > 0 %}
                  <tr>
                      <th>Ensino Médio Integrado</th>
                      <td>{{ l.inep_matriculas.medio_integrado }} matrículas</td>
                  </tr>
              {% endif %}
              {% if l.inep_matriculas.medio_magisterio > 0 %}
                  <tr>
                      <th>Ensino Médio Normal/Magistério</th>
                      <td>{{ l.inep_matriculas.medio_magisterio }} matrículas</td>
                  </tr>
              {% endif %}
              {% if l.inep_matriculas.prof > 0 %}
                  <tr>
                      <th>Educação Profissional</th>
                      <td>{{ l.inep_matriculas.prof }} matrículas</td>
                  </tr>
              {% endif %}
              {% if l.inep_matriculas.eja_fund > 0 %}
                  <tr>
                      <th>Educação de Jovens e Adultos - Ensino Fundamental</th>
                      <td>{{ l.inep_matriculas.eja_fund }} matrículas</td>
                  </tr>
              {% endif %}
              {% if l.inep_matriculas.eja_medio > 0 %}
                  <tr>
                      <th>Educação de Jovens e Adultos - Ensino Médio</th>
                      <td>{{ l.inep_matriculas.eja_medio }} matrículas</td>
                  </tr>
              {% endif %}
              <tr>
                  <td colspan="2" class="text-right">
                      <a target="_blank" class="noafter" href="http://portal.inep.gov.br/">
                          <small>Fonte: Censo Escolar da Educação Básica 2020 - INEP/MEC</small>
                      </a>
                  </td>
              </tr>
          </table>
          <table role="grid" width="100%" class="table_dados">
              <tr>
                  <th colspan="2"><h5>Relação escola-comunidade</h5></th>
              </tr>
              <!-- <tr>
                  <th>Fornece alimentação</th>
                  <td><i class="fi-check{{ l.inep_escola.in_alimentacao|yesno:', discreet' }}"></i></td>
              </tr> -->
              <tr>
                  <th>Abre no fim de semana</th>
                  <td><i class="fi-check{{ l.inep_escola.in_final_semana|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>A escola compartilha espaços para atividades de integração escola-comunidade</th>
                  <td>{{ l.inep_escola.get_in_espaco_atividade_display|default:'N/D' }}</td>
              </tr>
              <tr>
                  <th>A escola usa espaços e equipamentos do entorno escolar para atividades regulares com os alunos</th>
                  <td>{{ l.inep_escola.get_in_espaco_equipamento_display|default:'N/D' }}</td>
              </tr>
              <tr>
                  <th>Projeto político pedagógico atualizado nos últimos 12 meses (até a data de referência)</th>
                  <td>{{ l.inep_escola.get_tp_proposta_pedagogica_display|default:'N/D' }}</td>
              </tr>
              <tr>
                  <th>Órgãos colegiados em funcionamento na escola - Associação de Pais</th>
                  <td><i class="fi-check{{ l.inep_escola.in_orgao_ass_pais|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Órgãos colegiados em funcionamento na escola - Associação de Pais e Mestres</th>
                  <td><i class="fi-check{{ l.inep_escola.in_orgao_ass_pais_mestres|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Órgãos colegiados em funcionamento na escola - Conselho Escolar</th>
                  <td><i class="fi-check{{ l.inep_escola.in_orgao_conselho_escolar|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Órgãos colegiados em funcionamento na escola - Grêmio Estudantil</th>
                  <td><i class="fi-check{{ l.inep_escola.in_orgao_gremio_estudantil|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <td colspan="2" class="text-right">
                      <a target="_blank" class="noafter" href="http://portal.inep.gov.br/">
                          <small>Fonte: Censo Escolar da Educação Básica 2020 - INEP/MEC</small>
                      </a>
                  </td>
              </tr>
          </table>
          <table role="grid" width="100%" class="table_dados">
              <tr>
                  <th colspan="2"><h5>Infraestrutura (Dependências)</h5></th>
              </tr>
              <tr>
                  <th>Salas de aula utilizadas</th>
                  <td>{{ l.inep_escola.qt_salas_utilizadas|default:'Nenhuma' }} sala{% if l.inep_escola.qt_salas_utilizadas > 1 %}s{% endif %}
              </tr>
              <tr>
                  <th>Biblioteca</th>
                  <td><i class="fi-check{{ l.inep_escola.in_biblioteca|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Biblioteca e/ou Sala de Leitura</th>
                  <td><i class="fi-check{{ l.inep_escola.in_biblioteca_sala_leitura|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Laboratório de Informática</th>
                  <td><i class="fi-check{{ l.inep_escola.in_laboratorio_informatica|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Laboratório de Ciências</th>
                  <td><i class="fi-check{{ l.inep_escola.in_laboratorio_ciencias|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Quadra de esportes coberta</th>
                  <td><i class="fi-check{{ l.inep_escola.in_quadra_esportes_coberta|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Quadra de esportes descoberta</th>
                  <td><i class="fi-check{{ l.inep_escola.in_quadra_esportes_descoberta|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Sala/ateliê de artes</th>
                  <td><i class="fi-check{{ l.inep_escola.in_sala_atelie_artes|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Sala de música/coral</th>
                  <td><i class="fi-check{{ l.inep_escola.in_sala_musica_coral|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Sala/estúdio de dança</th>
                  <td><i class="fi-check{{ l.inep_escola.in_sala_estudio_danca|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Sala multiuso (música, dança e artes)</th>
                  <td><i class="fi-check{{ l.inep_escola.in_sala_atelie_artes|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Sala para a diretoria</th>
                  <td><i class="fi-check{{ l.inep_escola.in_sala_diretoria|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Sala para os professores</th>
                  <td><i class="fi-check{{ l.inep_escola.in_sala_professor|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Sala de atendimento especial</th>
                  <td><i class="fi-check{{ l.inep_escola.in_sala_atendimento_especial|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Auditório</th>
                  <td><i class="fi-check{{ l.inep_escola.in_auditorio|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Cozinha</th>
                  <td><i class="fi-check{{ l.inep_escola.in_cozinha|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Pátio coberto</th>
                  <td><i class="fi-check{{ l.inep_escola.in_patio_coberto|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Pátio descoberto</th>
                  <td><i class="fi-check{{ l.inep_escola.in_patio_descoberto|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Área Verde</th>
                  <td><i class="fi-check{{ l.inep_escola.in_area_verde|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <td colspan="2" class="text-right">
                      <a target="_blank" class="noafter" href="http://portal.inep.gov.br/">
                          <small>Fonte: Censo Escolar da Educação Básica 2020 - INEP/MEC</small>
                      </a>
                  </td>
              </tr>
          </table>
          <table role="grid" width="100%" class="table_dados">
              <tr>
                  <th colspan="2"><h5>Recursos de Acessibilidade</h5></th>
              </tr>

              <tr>
                  <th>Salas de aula com acessibilidade para pessoas com deficiência ou mobilidade reduzida</th>
                  <td style="min-width: 70pt;">{{ l.inep_escola.qt_salas_utilizadas_acessiveis|default:'Nenhuma' }} sala{% if l.inep_escola.qt_salas_utilizadas_acessiveis > 1 %}s{% endif %}</td>
              </tr>
              <tr>
                  <th>Banheiro PNE</th>
                  <td><i class="fi-check{{ l.inep_escola.in_banheiro_pne|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Corrimão e guarda corpos</th>
                  <td><i class="fi-check{{ l.inep_escola.in_acessibilidade_corrimao|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Elevador</th>
                  <td><i class="fi-check{{ l.inep_escola.in_acessibilidade_elevador|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Pisos táteis</th>
                  <td><i class="fi-check{{ l.inep_escola.in_acessibilidade_pisos_tateis|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Portas com vão livre de no mínimo 80 cm</th>
                  <td><i class="fi-check{{ l.inep_escola.in_acessibilidade_vao_livre|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Rampas</th>
                  <td><i class="fi-check{{ l.inep_escola.in_acessibilidade_rampas|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Sinalização sonora</th>
                  <td><i class="fi-check{{ l.inep_escola.in_acessibilidade_sinal_sonoro|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Sinalização tátil (piso/paredes)</th>
                  <td><i class="fi-check{{ l.inep_escola.in_acessibilidade_sinal_tatil|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Sinalização visual (piso/paredes)</th>
                  <td><i class="fi-check{{ l.inep_escola.in_acessibilidade_sinal_visual|yesno:', discreet' }}"></i></td>
              </tr>
              <tr>
                  <th>Nenhum dos recursos de acessibilidade listado</th>
                  <td><i class="fi-check{{ l.inep_escola.in_acessibilidade_inexistente|yesno:', discreet' }}"></i></td>
              </tr>
          </table>
          <table role="grid" width="100%" class="table_dados">
              <tr>
                  <th colspan="2"><h5>Internet, Computadores e Equipamentos Multimídia</h5></th>
              </tr>
              <tr>
                  <th>Internet</th>
                  <td><i class="fi-check{{ l.inep_escola.in_internet|yesno:', discreet' }}"></td>
              </tr>
              <tr>
                  <th>Banda Larga</th>
                  <td><i class="fi-check{{ l.inep_escola.in_banda_larga|yesno:', discreet' }}"></td>
              </tr>
              <tr>
                  <th>Rede local de interligação de computadores</th>
                  <td>{{ l.inep_escola.get_tp_rede_local_display|default:'N/D'}}</td>
              </tr>
              <tr>
                  <th>Acesso à Internet - Para uso dos alunos</th>
                  <td><i class="fi-check{{ l.inep_escola.in_internet_alunos|yesno:', discreet' }}"></td>
              </tr>
              <tr>
                  <th>Acesso à Internet - Para uso administrativo</th>
                  <td><i class="fi-check{{ l.inep_escola.in_internet_administrativo|yesno:', discreet' }}"></td>
              </tr>
              <tr>
                  <th>Acesso à Internet - Para uso nos processos de ensino e aprendizagem</th>
                  <td><i class="fi-check{{ l.inep_escola.in_internet_aprendizagem|yesno:', discreet' }}"></td>
              </tr>
              <tr>
                  <th>Acesso à Internet - Para uso da comunidade</th>
                  <td><i class="fi-check{{ l.inep_escola.in_internet_comunidade|yesno:', discreet' }}"></td>
              </tr>
              <tr>
                  <th>Quantidade de computadores em uso pelos alunos (as) - Computador de mesa (desktop)</th>
                  <td>{{ l.inep_escola.qt_desktop_aluno|default:'Nenhum' }}</td>
              </tr>
              <tr>
                  <th>Quantidade de computadores em uso pelos alunos (as) - Computador portátil</th>
                  <td>{{ l.inep_escola.qt_comp_portatil_aluno|default:'Nenhum' }}</td>
              </tr>
              <tr>
                  <th>Quantidade de computadores em uso pelos alunos (as) - Tablet</th>
                  <td>{{ l.inep_escola.qt_tablet_aluno|default:'Nenhum' }}</td>
              </tr>
              <tr>
                  <th>Aparelhos de televisão</th>
                  <td>{{ l.inep_escola.qt_equip_tv|default:'Nenhum' }}</td>
              </tr>
              <tr>
                  <th>Aparelho de som</th>
                  <td>{{ l.inep_escola.qt_equip_som|default:'Nenhum' }}</td>
              </tr>
              <tr>
                  <th>Projetor Multimídia (Datashow)</th>
                  <td>{{ l.inep_escola.qt_equip_multimidia|default:'Nenhum' }}</td>
              </tr>
              <tr>
                  <th>Lousa Digital</th>
                  <td>{{ l.inep_escola.qt_equip_lousa_digital|default:'Nenhuma' }}</td>
              </tr>
              <tr>
                  <td colspan="2" class="text-right">
                      <a target="_blank" class="noafter" href="http://portal.inep.gov.br/">
                          <small>Fonte: Censo Escolar da Educação Básica 2020 - INEP/MEC</small>
                      </a>
                  </td>
              </tr>
          </table>
          <table role="grid" width="100%" class="table_dados">
              <tr>
                  <th colspan="2"><h5>Profissionais que atuam na escola</h5></th>
              </tr>
              <!-- <tr>
                  <th>Número de funcionários</th>
                  <td>{{ l.inep_escola.nu_funcionarios }}</td>
              </tr> -->
              <tr>
                  <th>Auxiliares de secretaria ou auxiliares administrativos, atendentes</th>
                  <td>{{ l.inep_escola.qt_prof_administrativos }}</td>
              </tr>
              <tr>
                  <th>Auxiliar de serviços gerais, porteiro(a), zelador(a), faxineiro(a), horticultor(a), jardineiro(a)</th>
                  <td>{{ l.inep_escola.qt_prof_servicos_gerais }}</td>
              </tr>
              <tr>
                  <th>Bibliotecário(a), auxiliar de biblioteca ou monitor(a) da sala de leitura</th>
                  <td>{{ l.inep_escola.qt_prof_bibliotecario }}</td>
              </tr>
              <tr>
                  <th>Bombeiro(a) brigadista, profissionais de assistência a saúde (urgência e emergência), Enfermeiro(a), Técnico(a) de enfermagem e socorrista</th>
                  <td>{{ l.inep_escola.qt_prof_saude }}</td>
              </tr>
              <tr>
                  <th>Coordenador(a) de turno/disciplina</th>
                  <td>{{ l.inep_escola.qt_prof_coordenador }}</td>
              </tr>
              <tr>
                  <th>Fonoaudiólogo(a)</th>
                  <td>{{ l.inep_escola.qt_prof_fonaudiologo }}</td>
              </tr>
              <tr>
                  <th>Nutricionista</th>
                  <td>{{ l.inep_escola.qt_prof_nutricionista }}</td>
              </tr>
              <tr>
                  <th>Psicólogo(a) Escolar</th>
                  <td>{{ l.inep_escola.qt_prof_psicologo }}</td>
              </tr>
              <tr>
                  <th>Profissionais de preparação e segurança alimentar, cozinheiro(a), merendeira e auxiliar de cozinha</th>
                  <td>{{ l.inep_escola.qt_prof_alimentacao }}</td>
              </tr>
              <tr>
                  <th>Profissionais de apoio e supervisão pedagógica: pedagogo(a), coordenador(a) pedagógico(a), orientador(a) educacional, supervisor(a) escolar e coordenador(a) de área de ensino</th>
                  <td>{{ l.inep_escola.qt_prof_pedagogia }}</td>
              </tr>
              <tr>
                  <th>Secretário(a) escolar</th>
                  <td>{{ l.inep_escola.qt_prof_secretario }}</td>
              </tr>
              <tr>
                  <th>Seguranças, guarda ou segurança</th>
                  <td>{{ l.inep_escola.qt_prof_seguranca }}</td>
              </tr>
              <tr>
                  <th>Técnicos(as), monitores(as), supervisores(as) ou auxiliares de laboratório(s), de apoio a tecnologias educacionais ou em multimeios/multimídias eletrônico/digitais</th>
                  <td>{{ l.inep_escola.qt_prof_monitores }}</td>
              </tr>
              <tr>
                  <th>Vice-diretor(a) ou diretor(a) adjunto(a), profissionais responsáveis pela gestão administrativa e/ou financeira</th>
                  <td>{{ l.inep_escola.qt_prof_gestao }}</td>
              </tr>
              <tr>
                  <th>Orientador(a) comunitário(a) ou assistente social</th>
                  <td>{{ l.inep_escola.qt_prof_assist_social }}</td>
              </tr>
              <tr>
                  <td colspan="2" class="text-right">
                      <a target="_blank" class="noafter" href="http://portal.inep.gov.br/">
                          <small>Fonte: Censo Escolar da Educação Básica 2020 - INEP/MEC</small>
                      </a>
                  </td>
              </tr>
          </table>
        </div>
        <div class="columns medium-12">
          <table role="grid" width="100%" class="table_dados">
              <tr>
                  <th colspan="2"><h5>Alunos</h5></th>
              </tr>
              <tr>
                  <th>Total de Alunos</th>
                  <td style="text-align: center;">{{ l.inep_matriculas.n_alunos }} alunos</td>
              </tr>
              <tr>
                  <th>Estrangeiros</th>
                  <td style="text-align: center;">
                      <strong>{{ l.inep_matriculas.estrangeira|default:'Nenhum' }} aluno{% if l.inep_matriculas.estrangeira > 0 %}s{% endif %}</strong><br>
                      {% if l.inep_matriculas.estrangeira > 0 %}
                          <sup>{{ l.inep_matriculas.get_estrangeira_percent|default:'0' }}%</sup>
                      {% endif %}
                  </td>
              </tr>
              <tr>
                  <th>Nascidos em Estado diferente da escola</th>
                  <td style="text-align: center;">
                      <strong>{{ l.inep_matriculas.uf_nasc_dif|default:'Nenhum' }} aluno{% if l.inep_matriculas.uf_nasc_dif > 0 %}s{% endif %}</strong><br>
                      {% if l.inep_matriculas.uf_nasc_dif > 0 %}
                          <sup>{{ l.inep_matriculas.get_uf_nasc_dif_percent|default:'0' }}%</sup>
                      {% endif %}
                  </td>
              </tr>
              <tr>
                  <th>Utiliza transporte escolar público</th>
                  <td style="text-align: center;">
                      <strong>{{ l.inep_matriculas.in_transporte_publico|default:'Nenhum' }} aluno{% if l.inep_matriculas.in_transporte_publico > 0 %}s{% endif %}</strong><br>
                      {% if l.inep_matriculas.in_transporte_publico > 0 %}
                          <sup>{{ l.inep_matriculas.get_in_transporte_publico_percent|default:'0' }}%</sup>
                      {% endif %}
                  </td>
              </tr>
              <tr>
                  <th>Possui deficiência, transtorno global do desenvolvimento ou altas habilidades/ superdotação</th>
                  <td style="min-width: 90pt;text-align: center;">
                      <strong>{{ l.inep_matriculas.in_necessidade_especial|default:'Nenhum' }} aluno{% if l.inep_matriculas.in_necessidade_especial > 0 %}s{% endif %}</strong><br>
                      {% if l.inep_matriculas.in_necessidade_especial > 0 %}
                          <sup>{{ l.inep_matriculas.get_in_necessidade_especial_percent|default:'0' }}%</sup>
                      {% endif %}
                  </td>
              </tr>
              <tr>
                  <td colspan="2" class="text-right">
                      <a target="_blank" class="noafter" href="http://portal.inep.gov.br/">
                          <small>Fonte: Censo Escolar da Educação Básica 2020 - INEP/MEC</small>
                      </a>
                  </td>
              </tr>
          </table>
          <div id="hc-alunos-sexo" style="max-width:500px; min-height: 270px; margin: 0  auto;"></div><br>
          <div id="hc-alunos-cor" style="max-width:500px; min-height: 270px; margin: 0  auto;"></div><br>

        </div>

    </div>

{% endblock ficha %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript">
    $(function () {
        $('#hc-alunos-sexo').highcharts({
            chart: {
                type: 'bar',
            },
            credits: {
                text: 'Fonte: Censo Escolar da Educação Básica 2020 - INEP/MEC / culturaeduca.cc',
                href: 'http://portal.inep.gov.br/',
            },
            title: {
                text: 'Número de Alunos por Sexo',
                align: 'left',
                x: 0,
                style: {
                    color: '#666',
                    fontSize: '14px'
                }
            },
            xAxis: {
                categories: [
                    'Sexo',
                ],
                title: {
                    text: null
                },
                labels: {
                    align: 'right',
                },
            },
            yAxis: {
                min: 0,
                title: {
                    text: null
                },
                labels: {
                    enabled: false
                },
            },
            legend: {
                enabled: false
            },
            series: [{
                name: 'Masculino',
                data: [
                    {{ l.inep_matriculas.masculino|default:0 }},
                ],
                color: '#99cccc'
            }, {
                name: 'Feminino',
                data: [
                    {{ l.inep_matriculas.feminino|default:0 }},
                ],
                color: '#ffcc33'
            }],
            exporting: {
                filename: 'matriculas-{{ l.pk_cod_entidade }}-genero',
            }
        });

        $('#hc-alunos-cor').highcharts({
            chart: {
                marginLeft: 70
            },
            credits: {
                text: 'Fonte: Censo Escolar da Educação Básica 2020 - INEP/MEC / culturaeduca.cc',
                href: 'http://portal.inep.gov.br/',
            },
            title: {
                text: 'Raça/Cor - Alunos',
                align: 'left',
                x: 0,
                style: {
                    color: '#666',
                    fontSize: '14px'
                }
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            legend: {
                backgroundColor: '#f2f2f2',
                borderColor: null,
                layout: 'vertical',
                align: 'left',
                verticalAlign: 'middle',
                floating: true,
                itemStyle: {
                    color: '#9e9e9e',
                    fontSize: '11px',
                }
            },

            series: [{
                type: 'pie',
                name: '',
                data: [
                    ['Branca',   {{ l.inep_matriculas.branca|default:0 }}],
                    ['Preta',    {{ l.inep_matriculas.preta|default:0 }}],
                    ['Amarela',  {{ l.inep_matriculas.amarela|default:0 }}],
                    ['Parda',    {{ l.inep_matriculas.parda|default:0 }}],
                    ['Indígena', {{ l.inep_matriculas.indigena|default:0 }}],
                    ['N/D', {{ l.inep_matriculas.cor_raca_nd|default:0 }}]
                ],
                colors: [
                    '#99cccc',
                    '#8f85ba',
                    '#edc13e',
                    '#7f7a66',
                    '#54ae66',
                    '#B6B6B6'
                ],
            }],

            exporting: {
                filename: 'raca-cor',

            }

        });
    });
</script>
{% endblock extra_js %}
