{% extends 'equipamento/base_detalhe.html' %}
{% load l10n %}

{% block ficha %}

    <div class="row">
        <div class="columns medium-12">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2"><h5>Identificação</h5></th>
                </tr>
                <tr>
                    <th>Nome</th>
                    <td>{{ l.v008|default:'' }}</td>
                </tr>                     
                <tr>
                    <th>Município</th>
                    <td>{{ l.v007|default:'' }} - {{ l.v005|default:'' }}</td>
                </tr>
                <tr>
                    <th>Endereço</th>
                    <td>{{ l.endereco }}</td>
                </tr>
                <tr>
                    <th>Telefone</th>
                    <td>({{ l.v018|default:'' }}) {{ l.v019|default:'' }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ l.v021|default:'' }}</td>
                </tr>
                <tr>
                    <th>Site</th>
                    <td>{{ l.v022|default:'' }}</td>
                </tr>
                <tr>
                    <th>CNPJ</th>
                    <td>{{ l.v026|default:'' }}</td>
                </tr>
            </table>
        </div>
        <div class="columns medium-12">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2"><h5>Gestão</h5></th>
                </tr>
                <tr>
                    <th>Esfera Administrativa</th>
                    <td>
                        {% if l.v023 == 1 %}
                            {{ l.get_v024_display }}
                        {% else %}
                            {{ l.get_v023_display }}
                        {% endif %}
                    </td>
                </tr>     
            </table>
        </div>
        <div class="columns medium-12">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2"><h5>Acervo</h5></th>
                </tr>
                <tr>
                    <th>Quantidade de bens no arcevo</th>
                    <td>{{ l.v035|default:'' }}</td>
                </tr>
                <tr>
                    <th>Antropologia / Etnografia</th>
                    <td>{{ l.v037|default:'' }}</td>
                </tr>
                <tr>
                    <th>Arqueologia</th>
                    <td>{{ l.v038|default:'' }}</td>
                </tr>
                <tr>
                    <th>Artes Visuais</th>
                    <td>{{ l.v039|default:'' }}</td>
                </tr>     
                <tr>
                    <th>Ciências Naturais e História Natural</th>
                    <td>{{ l.v040|default:'' }}</td>
                </tr>
                <tr>
                    <th>Ciência e Tecnologia</th>
                    <td>{{ l.v041|default:'' }}</td>
                </tr>
                <tr>
                    <th>História</th>
                    <td>{{ l.v042|default:'' }}</td>
                </tr>
                <tr>
                    <th>Imagem e Som</th>
                    <td>{{ l.v043|default:'' }}</td>
                </tr>
                <tr>
                    <th>Virtual</th>
                    <td>{{ l.v044|default:'' }}</td>
                </tr>
                <tr>
                    <th>Arquivístico</th>
                    <td>{{ l.v045|default:'' }}</td>
                </tr>
                <tr>
                    <th>Biblioteconômico</th>
                    <td>{{ l.v046|default:'' }}</td>
                </tr>
                <tr>
                    <th>Documental</th>
                    <td>{{ l.v047|default:'' }}</td>
                </tr>
                <tr>
                    <th>Outros</th>
                    <td>{{ l.v048|default:'' }}</td>
                </tr>
            </table>
        </div>
        <div class="columns medium-12">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2"><h5>Instalações Físicas</h5></th>
                </tr>
                <tr>
                    <th>Bebedouro</th>
                    <td><i class="fi-check{{ l.v058|yesno:', discreet' }}"></td>
                </tr>
                <tr>
                    <th>Estacionamento</th>
                    <td><i class="fi-check{{ l.v059|yesno:', discreet' }}"></td>
                </tr>
                <tr>
                    <th>Lanchonete/ Retaurante</th>
                    <td><i class="fi-check{{ l.v060|yesno:', discreet' }}"></td>
                </tr>
                <tr>
                    <th>Livraria</th>
                    <td><i class="fi-check{{ l.v061|yesno:', discreet' }}"></td>
                </tr>     
                <tr>
                    <th>Loja</th>
                    <td><i class="fi-check{{ l.v062|yesno:', discreet' }}"></td>
                </tr>
                <tr>
                    <th>Sanitários</th>
                    <td><i class="fi-check{{ l.v063|yesno:', discreet' }}"></td>
                </tr>
                <tr>
                    <th>Telefone público</th>
                    <td><i class="fi-check{{ l.v064|yesno:', discreet' }}"></td>
                </tr>
                <tr>
                    <th>Outras instalações</th>
                    <td><i class="fi-check{{ l.v065|yesno:', discreet' }}"></td>
                </tr>
            </table>
        </div>
        <div class="columns medium-12">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2"><h5>Localização</h5></th>
                </tr>
                <tr>
                    <th>Latitude</th>
                    <td>{{ l.v003|default:'' }}</td>
                </tr>
                <tr>
                    <th>Longitude</th>
                    <td>{{ l.v002|default:'' }}</td>
                </tr>
                <tr>
                    <th>Tipo GEO</th>
                    <td>{{ l.get_v004_display|default:'' }}</td>
                </tr>
            </table>
        </div>
        <div class="columns medium-12">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2"><h5>Acesso ao público</h5></th>
                </tr>
                <tr>
                    <th>Cobrado</th>
                    <td><i class="fi-check{{ l.v032|yesno:', discreet' }}"></td>
                </tr>
                <tr>
                    <th>Valor</th>
                    <td>{{ l.v033|default:'' }}</td>
                </tr>
                <tr>
                    <th>Sinalização visual em outros idiomas</th>
                    <td><i class="fi-check{{ l.v050|yesno:', discreet' }}"></td>
                </tr>
                <tr>
                    <th>Etiquetas de objetos/textos explicativos em outros idiomas</th>
                    <td><i class="fi-check{{ l.v052|yesno:', discreet' }}"></td>
                </tr>
                <tr>
                    <th>Publicações em outros idiomas</th>
                    <td><i class="fi-check{{ l.v054|yesno:', discreet' }}"></td>
                </tr>
            </table>   
        </div>
    </div>
    
{% endblock ficha %}