{% extends 'equipamento/base_detalhe.html' %}
{% load l10n %}

{% block ficha %}

    <div class="row">
        <div class="columns medium-12">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2"><h5>Identificação</h5></th>
                </tr>
                <tr>
                    <th>Nome</th>
                    <td>{{ l.v008|default:'' }}</td>
                </tr>                     
                <tr>
                    <th>Município</th>
                    <td>{{ l.v007|default:'' }} - {{ l.v005|default:'' }}</td>
                </tr>
                <tr>
                    <th>Endereço</th>
                    <td>{{ l.endereco }}</td>
                </tr>
                <tr>
                    <th>Telefone</th>
                    <td>({{ l.v011|default:'' }}) {{ l.v012|default:'' }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ l.v016|default:'' }}</td>
                </tr>
            </table>
        </div>
        <div class="columns medium-12">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2"><h5>Localização</h5></th>
                </tr>
                <tr>
                    <th>Latitude</th>
                    <td>{{ l.v003|default:'' }}</td>
                </tr>
                <tr>
                    <th>Longitude</th>
                    <td>{{ l.v002|default:'' }}</td>
                </tr>
                <tr>
                    <th>Tipo GEO</th>
                    <td>{{ l.get_v004_display|default:'' }}</td>
                </tr>
            </table>  
        </div>
    </div>
    
{% endblock ficha %}