{% extends 'equipamento/base_detalhe.html' %}
{% load l10n %}

{% block ficha %}

    <div class="row">
        <div class="columns medium-12">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2"><h5>Identificação</h5></th>
                </tr>
                <tr>
                    <th>Nome</th>
                    <td>{{ l.v009|default:'' }}</td>
                </tr>                     
                <tr>
                    <th>Município</th>
                    <td>{{ l.v007|default:'' }} - {{ l.v005|default:'' }}</td>
                </tr>
                <tr>
                    <th>Endereço</th>
                    <td>{{ l.endereco }}</td>
                </tr>
                <!--
                <tr>
                    <th>Telefone</th>
                    <td>{{ l.v018|default:'' }}</td>
                </tr>
                -->
                <tr>
                    <th>Tipo da Unidade</th>
                    <td>{{ l.v022|default:'' }}</td>
                </tr>
                {% if l.v023 %}
                <tr>
                    <th>Código CNES</th>
                    <td>{{ l.v023 }}</td>
                </tr>
                <tr>
                    <th>Dados do Cadastro Nacional de Estabelecimentos de Saúde (CNES)</th>
                    <td><a href="http://cnes2.datasus.gov.br/Exibe_Ficha_Estabelecimento.asp?VCo_Unidade={{ l.v023 }}" target="_blank">Ficha do estabelecimento</a></td>
                </tr>
                {% endif %}

            </table>
        </div>
        <div class="columns medium-12">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2"><h5>Gestão</h5></th>
                </tr>
                <tr>
                    <th>Esfera Administrativa</th>
                    <td>
                        {% if l.v019 == 1 %}
                            {{ l.get_v020_display }}
                        {% else %}
                            {{ l.get_v019_display }}
                        {% endif %}
                    </td>
                </tr>     
            </table>
        </div>
        <div class="columns medium-12">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2"><h5>Localização</h5></th>
                </tr>
                <tr>
                    <th>Latitude</th>
                    <td>{{ l.v003|default:'' }}</td>
                </tr>
                <tr>
                    <th>Longitude</th>
                    <td>{{ l.v002|default:'' }}</td>
                </tr>
                <tr>
                    <th>Tipo GEO</th>
                    <td>{{ l.get_v004_display|default:'' }}</td>
                </tr>
            </table>
        </div>
    </div>
    
{% endblock ficha %}