{% extends 'equipamento/base_detalhe.html' %}
{% load l10n %}

{% block ficha %}

    <div class="row">
        <div class="columns medium-12">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2"><h5>Identificação</h5></th>
                </tr>
                <tr>
                    <th>Nome</th>
                    <td>{{ l.v008|default:'' }}</td>
                </tr>                     
                <tr>
                    <th>Município</th>
                    <td>{{ l.v007|default:'' }} - {{ l.v005|default:'' }}</td>
                </tr>
                <tr>
                    <th>Endereço</th>
                    <td>{{ l.v009|default:'' }} {% if l.v017 %} - CEP: {{ l.v017 }} {% endif %} - {{ l.v016|default:'' }}</td>
                </tr>
                <tr>
                    <th>Telefone</th>
                    <td>({{ l.v018|default:'' }}) {{ l.v019|default:'' }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ l.v022|default:'' }}</td>
                </tr>
                <tr>
                    <th>Site</th>
                    <td>{{ l.v023|default:'' }}</td>
                </tr>
                <tr>
                    <th>CNPJ</th>
                    <td>{{ l.v026|default:'' }}</td>
                </tr>
            </table>
        </div>
        <div class="columns medium-12">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2"><h5>Gestão</h5></th>
                </tr>
                <tr>
                    <th>Esfera Administrativa</th>
                    <td>
                        {% if l.v024 == 1 %}
                            {{ l.get_v025_display }}
                        {% else %}
                            {{ l.get_v024_display }}
                        {% endif %}
                    </td>
                </tr>     
            </table>
        </div>
        <div class="columns medium-12">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2"><h5>Dados</h5></th>
                </tr>
                <tr>
                    <th>Tipo</th>
                    <td>{{ l.v030|default:'' }}</td>
                </tr>
                <tr>
                    <th>Situação</th>
                    <td>{{ l.get_v029_display }}</td>
                </tr>
                <tr>
                    <th>Número de Lugares</th>
                    <td>{{ l.v031|default:'' }}</td>
                </tr>
                <tr>
                    <th>Data de Inauguração</th>
                    <td>{{ l.v032|default:'' }}</td>
                </tr>
                <tr>
                    <th>Data da Informação</th>
                    <td>
                        {{ l.v034|default:'' }}
                    </td>
                </tr>     
            </table>
        </div>
        <div class="columns medium-12">
            <table role="grid" width="100%" class="table_dados">
                <tr>
                    <th colspan="2"><h5>Localização</h5></th>
                </tr>
                <tr>
                    <th>Latitude</th>
                    <td>{{ l.v003|default:'' }}</td>
                </tr>
                <tr>
                    <th>Longitude</th>
                    <td>{{ l.v002|default:'' }}</td>
                </tr>
                <tr>
                    <th>Tipo GEO</th>
                    <td>{{ l.get_v004_display|default:'' }}</td>
                </tr>
            </table>  
        </div>
    </div>
    
{% endblock ficha %}