<div aria-hidden="true" aria-labelledby="modalTitleDeleteAgenteMembro" class="reveal-modal" data-reveal="" id="{% if id %}{{ id }}{% else %}deleteAgenteMembroModal{% endif %}" role="dialog">
    <h2 id="modalTitleDeleteAgenteMembro">Remover {% if acao_tipo %}{{ acao_tipo }}{% else %}{{ acao.tipo|lower }}{% endif %}</h2>
    <p class="lead">Tem certeza que deseja remover esse membro?</p>
    <a class="alert button right remove-bloqueia-membro-link" href="{% if agentemembro %}{% url 'generic_delete' 'agente.Membro' agentemembro.pk %}?next={{ request.path }}#fndtn-panel-membros{% endif %}">Remover e bloquear</a>
    <a class="secondary button right remove-membro-link" href="{% if agentemembro %}{% url 'agente_membership_block' agentemembro.pk %}?next={{ request.path }}#fndtn-panel-membros{% endif %}">Remover apenas</a>
    <a aria-label="Close" class="close-reveal-modal">&times;</a>
</div>