{% extends 'base.html' %}
{% load l10n %}

{% block titulo %} Cadastro de usuário {% endblock titulo %}

{% load static  %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/3.17.1/ol.css" type="text/css">
{% endblock extra_css %}

{% block content %}


    <div id="mapa_znc" class="columns medium-4 "  style="height:300px"> 
    </div>
    <div class="columns medium-8">
    <input type="text" id="reverse_field" placeholder="Digite um endereço" style="width: 300px;">
        
        <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}


        <input type="submit">
        </form>
        <button id="btn_reverse">Reverse Geocoding</button><br>
        <input type="hidden" id="ponto" readonly="readonly" value="LON LAT">

        <code id="mais-detalhes" style="display: block;margin-top: 20px;"></code>
    </div>


{% endblock content %}
{% block extra_js %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/3.17.1/ol.js" type="text/javascript"></script>
<script src="{% static 'js/map.js' %}" type="text/javascript"></script>

<script type="text/javascript">
    $(function(){

        initMap({
            elementGeocoding: $("#reverse_field"),
            elementGeocodingTrigger: $("#btn_reverse"),
            elementPointWKT: $("#ponto"),
            elementGeocodingCallback: get_all_data,
            elementReverseGeocodingCallback: get_all_data,
            canSetPoint: true
        });

        function get_all_data(response) {
            $("#mais-detalhes").html( JSON.stringify(response, null, 4) );
        }


    });
</script>
{% endblock extra_js %}
