{% extends 'base.html' %}
{% load i18n %}
{% load zinnia %}
{% load static %}

{% block extra_css %}
<link href="{% static 'css/blog.css' %}" rel="stylesheet"/>
<link href="{% static 'font-awesome-4.6.3/css/font-awesome.min.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block _content %}
<div class="content-page">

    <div class="row">
        <h4>&nbsp;</h4>
        <!-- {% zinnia_breadcrumbs %} -->
        <div class="large-9 columns">

            {% block content %}
            {% endblock content %}
        </div>
        <div class="large-3 columns end">
            <div class="row">
                <form method="get" action="{% url 'zinnia:entry_search' %}">
                    <div class="columns large-12">
                        <input type="text" class="search" name="pattern" placeholder="{% trans "Keywords..." %}" {% if pattern %}value="{{ pattern }}"{% endif %} />
                    </div>
                    <div class="columns large-12" id="searchbutton">
                        <button type="submit" class="button prefix"><i class="fa fa-search"></i> BUSCAR </button>
                    </div>
                </form>
            </div>
            <aside class="widget" id="widget-calendar">
                <h3>
                    {% trans "Calendar" %}
                </h3>
                {% get_calendar_entries %}
            </aside>
            <hr>
            <aside class="widget" id="widget-categories">
                <h3>
                    {% trans "Categories" %}<small>
                    <a href="{% url 'zinnia:category_list' %}">
                    ver todas
                    </a>
                    </small>
                </h3>            
                {% get_categories %}
            </aside>
            <hr>
            <aside class="widget" id="widget-tags">
                 <h3>
                    {% trans "Tags" %}<small>
                    <a href="{% url 'zinnia:tag_list' %}">
                    ver todas
                    </a>
                    </small>
                </h3>            
                {% get_tag_cloud %}
            </aside>
            <hr>
            {% block entry-widgets %}
            <aside class="entry-widgets" role="complementary">
                {% block entry-next-entry %}
                {% with next_entry=object.next_entry %}
                {% if next_entry %}
                <div class="entry-next">
                    <h3>{% trans "Next entry" %}</h3>
                    <p>
                        <a href="{{ next_entry.get_absolute_url }}" rel="next" title="{{ next_entry.title }}">
                            {{ next_entry.title }}
                        </a>
                    </p>
                </div>
                {% endif %}
                {% endwith %}
                {% endblock entry-next-entry %}
                {% block entry-previous-entry %}
                {% with previous_entry=object.previous_entry %}
                {% if previous_entry %}
                <div class="entry-previous">
                    <h3>
                        {% trans "Previous entry" %}
                    </h3>
                    <p>
                        <a href="{{ previous_entry.get_absolute_url }}" rel="prev" title="{{ previous_entry.title }}">
                            {{ previous_entry.title }}
                        </a>
                    </p>
                </div>
                {% endif %}
                {% endwith %}
                {% endblock entry-previous-entry %}
                {% block entry-related-entries %}
                {% with entry_related=object.related_published %}
                {% if entry_related %}
                <div class="entry-related">
                    <h3>
                        {% trans "Related entries" %}
                    </h3>
                    <ul>
                        {% for entry in entry_related %}
                        <li>
                            <a href="{{ entry.get_absolute_url }}" rel="bookmark" title="{{ entry.title }}">
                                {{ entry.title }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% endwith %}
                {% endblock entry-related-entries %}
            </aside>
            {% endblock entry-widgets %}

            {% if user.is_authenticated %}
            <aside id="widget-tools" class="widget">
                {% if perms.zinnia %}
                <h3>{% trans "Tools" %}</h3>
                <ul>
                    <li>
                        <a target="_blank" href="{% url 'admin:app_list' 'zinnia' %}" title="{% trans "Dashboard" %}">
                            {% trans "Dashboard" %}
                        </a>
                    </li>
                    {% endif %}
                    {% if perms.zinnia.add_entry %}
                    <li>
                        <a target="_blank" href="{% url 'zinnia_artigos:entry_form' %}" title="Novo Artigo">
                            Novo Artigo
                        </a>
                    </li>
                    {% endif %}
                    {% block admin-tools %}
                    {% endblock admin-tools %}
                </ul>
            </aside>
            {% endif %}
            </hr>
        </div>
    </div>
</div>  
{% endblock _content %}
