{% extends 'base.html' %}
{% load l10n %}
{% load static  %}
{% load foundation_filter %}
{% block extra_css %}
{{ form.media.css }}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
{% endblock extra_css %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/blog.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.mask.js' %}"></script>
{{ form.media.js }}
{% endblock extra_js %}


{% block content %}
<div class="columns medium-12 medium-centered">
   <div class="content-page">
   {% if not object.pk %}
      <h2>Novo Artigo</h2>
   {% else %}
      <h2>Formulário de Artigo</h2>
   {% endif %}
      <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
         {{form.errors}}
         <fieldset>
            <legend>CONTEÚDO</legend>
            <div class="row">
               <div class="columns large-9">
                  {{ form.title|as_fdt }}
               </div>
               <div class="columns large-3">
                  {{ form.status|as_fdt }}
               </div>
            </div>
            <div class="row">
               <div class="columns large-12">
                  {{ form.lead|as_fdt}}
               </div>
            </div>
            <div class="row">
               <div class="columns large-12">
                  {{ form.content|as_fdt}}
               </div>
            </div>
         </fieldset>
         <fieldset>
            <legend>ILUSTRAÇÃO</legend>
            <div class="row">
               <div class="columns large-12">
                  {{ form.image|as_fdt }}
               </div>
            </div>
            <div class="row">
               <div class="columns large-12">
                  {{ form.image_caption|as_fdt }}
               </div>
            </div>
         </fieldset>
         <fieldset>
            <legend>PUBLICAÇÃO</legend>
            <div class="row">
               <div class="columns large-4">
                  {{ form.publication_date|as_fdt}}
               </div>
               <div class="columns large-4">
                  {{ form.start_publication|as_fdt }}
               </div>
               <div class="columns large-4">
                  {{ form.end_publication|as_fdt }}
               </div>
            </div>
            <div class="row">
               <div class="columns large-6">
                  {{ form.sites|as_fdt }}
               </div>
            </div>
         </fieldset>
         <fieldset>
            <legend>DISCUSSÕES</legend>
            <div class="row">
               <div class="columns large-12">
                  {{ form.comment_enabled|as_fdt }}
               </div>               
            </div>
         </fieldset>
         <fieldset>
            <legend>PRIVACIDADE</legend>
            <div class="row">
               <div class="columns large-4">
                  {{ form.login_required|as_fdt }}
               </div>
               <div class="columns large-8">
                  {{ form.password|as_fdt }}
               </div>
            </div>
         </fieldset>
         <fieldset>
            <legend>METADADOS</legend>
            <div class="row">
               <div class="columns large-6 meta">
                  {{ form.authors|as_fdt}}
               </div>         
               <div class="columns large-6 meta">
                  {{ form.related|as_fdt}}
               </div>
            </div>
            <div class="row">
               <div class="columns large-6 meta">
                  {{ form.categories|as_fdt }}
               </div>
               <div class="columns large-6 meta">
                  {{ form.tags|as_fdt }}
               </div>
            </div>
            <div class="row">
               <div class="columns large-6 meta">
                  {{ form.slug|as_fdt }}
               </div>
            </div>
         </fieldset>
         <div class="row">
            <div class="columns large-push-6 large-6 end">
               <a role="button" class="button secondary" href="/">Cancelar</a>
               <button role="button" class="button success" type="submit" style="color:#fff;"> Salvar</button>
            </div>
         </div>
      </form>
   </div>
</div>
{% endblock content %}