{% extends 'zinnia/entry_detail_base.html' %}
{% load i18n %}
{% load zinnia %}
{% load comments %}

{% block entry-shorturl %}{% endblock entry-shorturl %}

{% block comment-content %}
<div class="row">
    <div class="small-9 small-offset-3 large-10 large-offset-2 columns">
        {{ comment.comment|linebreaks }}
    </div>
</div>    
{% endblock comment-content %}

