{% include "acao/acao_remocao_modal.html" with acao_tipo="ação" id="remover_atividade_modal" %}

<div class="row">
    <div class="medium-12 columns">
        <table role="grid" width="100%">
            <tbody>
                <tr>
                    <th colspan="{% if request.user.pk == agente.pk or is_administrador %}3{% else %}2{% endif %}" style="padding-right:0;">
                        <h5>
                            Projetos
                            {% if is_administrador %}
                                {% if is_pessoafisica %}
                                <a href="{% url 'projeto_create' %}" class="button secondary small right" style="margin-right: 0.5625rem;"><i class="fa fa-plus"></i> Cadastrar novo projeto</a>
                                {% else %}
                                <a href="{% url 'projeto_create' agente_pk=agente.pk %}" class="button secondary small right" style="margin-right: 0.5625rem;"><i class="fa fa-plus"></i> Cadastrar novo projeto</a>
                                {% endif %}
                             {% endif %}
                        </h5>
                    </th>
                </tr>
            {% for projeto in agente.projetos %}
            <tr class="acao">
                <td>
                    <a href="{{ projeto.get_absolute_url }}">{{ projeto.local|default:"Não Informado" }} </a><br>
                    {% if projeto.propositor_tipo == projeto.PROPOSITOR_TIPO.OUTROS %}
                    <strong>Propositor: </strong>({{ projeto.propositor_outro|default:"Não Informado" }})<br>
                    {% else %}
                    <strong>Propositor: </strong>{{ projeto.get_propositor_tipo_display }} - ({{ projeto.propositor.nome|default:"Não Informado" }})<br>                   
                    {% endif %}
                    <strong>Temas: </strong>
                    {% for tema in projeto.temas.all%}
                        {{ tema }}, 
                    {% empty%}
                        "Não Informado"
                    {% endfor %}
                </td>
                <td>
                    <div class="right">
                        <strong>Membros Ativos: </strong>{{ projeto.membros_ativos.count|default:"Não Informado" }}<br>
                        <strong>Início: </strong>{{ projeto.inicio|date:"d/m/Y"|default:"N/I" }}<br>
                        <strong>Fim: </strong>{{ projeto.fim|date:"d/m/Y"|default:"N/I" }}</td>
                    </div>
                </td>
                {% if request.user.pk == agente.pk or is_administrador %}
                <td>
                    <div class="right" style="line-height: 75px;">
                        <a href="#" data-href="{% url 'generic_delete' projeto.app_model projeto.pk %}?next={{ request.path }}" class="button tiny alert noafter removerAcaoBtn" style="display: inline-block;"><i class="fa fa-times"></i> Remover</a>
                    </div>
                </td>
                {% endif %}
            {% empty %}
                <tr>
                    <td colspan="3">Nenhum projeto registrado</td>
                </tr>
            {% endfor%}
            </tbody>
        </table>
    </div>
    <div class="medium-12 columns">
        <table role="grid" width="100%">
            <tbody>
                <tr>
                    <th colspan="{% if request.user.pk == agente.pk or is_administrador %}3{% else %}2{% endif %}" style="padding-right:0;">
                        <h5>
                            Atividades
                             {% if is_administrador %}
                                {% if is_pessoafisica %}
                                <a href="{% url 'atividade_create' %}" class="button secondary small right" style="margin-right: 0.5625rem;"><i class="fa fa-plus"></i> Cadastrar nova atividade</a>
                                {% else %}
                                <a href="{% url 'atividade_create' agente_pk=agente.pk %}" class="button secondary small right" style="margin-right: 0.5625rem;"><i class="fa fa-plus"></i> Cadastrar nova atividade</a>
                                {% endif %}
                             {% endif %}
                        </h5>
                    </th>
                </tr>
            {% for atividade in agente.atividades %}
            <tr class="acao">
                <td>
                    <a href="{{ atividade.get_absolute_url }}">{{ atividade.local|default:"Não Informado" }} </a><br>
                    
                        <strong>Formato da Atividade: </strong>
                        {% if atividade.formato == "Outro"%}
                        {{ atividade.formato_outro|default:"Não Informado"}}
                        {% else %}
                        {{ atividade.formato|default:"Não Informado" }}
                        {% endif %}
                    
                    <br>                   
                    
                        <strong>Temas: </strong>
                        {% for tema in atividade.temas.all%}
                            {{ tema }}, 
                        {% empty%}
                            "Não Informado"
                        {% endfor %}
                    
                </td>
                <td>
                    <div class="right">
                        <strong>Membros Ativos: </strong>{{ atividade.membros_ativos.count|default:"Não Informado" }}<br>
                        <strong>Início: </strong>{{ atividade.inicio|date:"d/m/Y"|default:"Não Informado" }}<br>
                        <strong>Fim: </strong>{{ atividade.fim|date:"d/m/Y"|default:"Não Informado" }}</td>
                    </div>
                </td>
                {% if request.user.pk == agente.pk or is_administrador %}
                <td>
                    <div class="right" style="line-height: 75px;">
                        <a href="#" data-href="{% url 'generic_delete' atividade.app_model atividade.pk %}?next={{ request.path }}" class="button tiny alert noafter removerAcaoBtn" style="display: inline-block;"><i class="fa fa-times"></i> Remover</a>
                    </div>
                </td>
                {% endif %}
            {% empty %}
                <tr>
                    <td colspan="3">Nenhuma atividade registrado</td>
                </tr>
            {% endfor%}
            </tbody>
        </table>
    </div>
</div>