<div aria-hidden="true" aria-labelledby="modalTitleDeleteAcaoModal" class="reveal-modal" data-reveal="" id="{% if id %}{{ id }}{% else %}deleteAcaoModal{% endif %}" role="dialog">
    <h2 id="modalTitleDeleteAcaoModal">Remover {% if acao_tipo %}{{ acao_tipo }}{% else %}{{ acao.tipo|lower }}{% endif %}</h2>
    <p class="lead">Tem certeza que deseja remover essa ação <b>definitivamente</b>?</p>
    <a class="alert button right remove-atividade-link" href="{% if acao %}{% url 'generic_delete' acao.app_model acao.pk %}?next={% url 'profile_detail' %}#fndtn-panel-acoes{% endif %}">Continuar e remover</a>
    <a aria-label="Close" class="close-reveal-modal">&times;</a>
</div>