{% extends 'base.html' %}
{% load l10n static foundation_filter %}

{% block titulo %}{{ l }}{% endblock titulo %}
{% block menu_mapa %}active{% endblock menu_mapa %}

{% block content %}

{% if is_administrador %}
    <div aria-hidden="true" aria-labelledby="modalTitle" class="reveal-modal" data-reveal="" id="novoMembroForm" role="dialog">
        <h2 id="modalTitle">Adicionar novo membro</h2>
        <p class="lead">Digite abaixo o nome do usuário que deseja adicionar à essa ação.</p>
        <form action="{% url 'acao_membership_add' acao.pk %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="medium-6 columns">
                    <label for="id_user">
                        Usuário <i class="fa fa-asterisk fdt_required" aria-hidden="true"></i><br>
                    </label>
                    {{ form_acaomembro.user }}
                </div>
                <div class="medium-3 columns" >{{ form_acaomembro.vinculo_tipo|as_fdt }}</div>
                <div class="medium-3 columns" >{{ form_acaomembro.vinculo_outro|as_fdt }}</div>
            </div>
            <div class="row">
                <div class="left columns medium-2">
                    <label>{{ form_acaomembro.is_administrador }} Administrador</label>
                </div>
            </div>
            <button type="submit" class="secondary button right" href="#" >Adicionar membro</button>
        </form>
        <a aria-label="Close" class="close-reveal-modal">&times;</a>
    </div>

    {% include "acao/acao_remocao_modal.html" %}
{% endif %}

{% if not is_member %}

<div aria-hidden="true" aria-labelledby="modalAutoVinculoTitle" class="reveal-modal" data-reveal="" id="modalEscolhaTipoVinculo" role="dialog">
    <h2 id="modalAutoVinculoTitle">Vincular-se à ação</h2>
    <p class="lead">Digite abaixo o tipo de vínculo que deseja ter na ação.</p>
    <form id="formEscolhaTipoVinculo" action="{% url 'acao_membership_add_remove_me' 'adiciona' acao.pk %}" method="POST">{% csrf_token %}
        <div class="row">
            <div class="medium-6 columns" >{{ form_acaomembro.vinculo_tipo|as_fdt }}</div>
            <div class="medium-6 columns" >{{ form_acaomembro.vinculo_outro|as_fdt }}</div>
        </div>
        <button type="submit" class="secondary button right" href="#" >Vincular-se</button>
    </form>
    <a aria-label="Close" class="close-reveal-modal">&times;</a>
</div>
{% endif %}

<link rel="stylesheet" href="/static/foundation-icons/foundation-icons.css" />
<div style="position: relative;">
    {% if acao.locais.count == 0 %}
        <div data-alert class="alert-box overmap-alert">
        {% if is_administrador %}
        Sua ação ainda <strong>não</strong> possui locais cadastrados. Cadastre um local na sessão <strong>Locais</strong>, logo abaixo.
        {% else %}
        Essa ação <strong>não</strong> possui locais cadastrados.
        {% endif %}
        <a href="#" class="close">&times;</a></div>
    {% endif %}
    <div class="row content-map map-detail{% if acao.locais.count == 0 %} blur{% endif %}">
      <div id="map">
          <div id="popup" class="ol-popup">
              <a href="#" id="popup-closer" class="ol-popup-closer"></a>
              <div id="popup-content"></div>
          </div>
      </div>
      <div class="below-map">{% include "partials/filters_left.html" %}</div>
      <div class="overmap">{% include "partials/clear_map_right.html" %}</div>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="columns medium-12 medium-centered">
        <!-- aqui vem o conteúdo das ações -->
        <div class="info-border-bottom">
            <h3 class="sub-title-profile">
                {% block subtitle %}{{ acao.tipo }} - {{ acao.nome }}{% endblock subtitle %}
            </h3>
        </div>
        <ul id="agente-tabs" class="tabs" data-tab role="tablist" data-options="deep_linking: true;scroll_to_content: false;">
          <li id="tab-ficha" class="tab-title active" role="presentation"><a href="#panel-ficha" role="tab" tabindex="0" aria-selected="false" aria-controls="panel-ficha">Ficha</a></li>
          <li id="tab-rede" class="tab-title active" role="presentation"><a href="#panel-rede" role="tab" tabindex="0" aria-selected="false" aria-controls="panel-rede">Rede <span class="info radius label" id="rede_counter_span">{{ acao.agentes.count }}</span></a></li>
          <li id="tab-membros" class="tab-title" role="presentation"><a href="#panel-membros" role="tab" tabindex="0" aria-selected="false" aria-controls="panel-membros">Membros <span class="info radius label">{{ total_membros }}</span></a></li>
          <li id="tab-galeria" class="tab-title" role="presentation"><a href="#panel-galeria" role="tab" tabindex="0" aria-selected="false" aria-controls="panel-galeria">Galeria <span class="info radius label" id="galeria_counter_span">{{ total_galeria }}</span></a></li>
        </ul>
        <div class="tabs-content">
          <section role="tabpanel" aria-hidden="true" class="content active" id="panel-ficha">
            <div class="columns medium-12">
                {% if is_administrador %}
                <a class="button secondary tiny right" href="{{ acao.get_edit_url }}">
                    <i class="fi-page-edit"></i> Editar
                </a>
                <a id="removerBtn" class="noafter button alert tiny right" style="margin-right: 5px;" href="#">
                    <i class="fa fa-user-times" aria-hidden="true"></i> Remover {{ acao.tipo|lower }}
                </a>
                {% endif %}
            </div>
            {% block ficha %}{% endblock ficha %}
          </section>
          <section role="tabpanel" aria-hidden="true" class="content" id="panel-equipamentos">
            {% for tipo_equipamento, ct, equips, model_name in equipamentos %}
            <table role="grid" width="100%">
                <tr>
                    <th colspan="2"><h5>{% if ct %}{{ ct }} {% endif %}{{ tipo_equipamento }}</h5></th>
                </tr>
                {% for e in equips %}
                <tr>
                    <td><a href="{{ e.get_absolute_url }}">{{ e }} </a><br/><small>{{ e.endereco }}</small></td>
                    <td width="15%">{{ e.distancia }} metros</td>
                </tr>
                {% empty %}
                <tr>
                    <td>Nenhum equipamento</td>
                    <td width="15%"></td>
                </tr>
                {% endfor %}
            </table>
            {% endfor %}
          </section>
          <section role="tabpanel" aria-hidden="true" class="content" id="panel-rede">
            {% include "acao/rede_tab.html" %}
          </section>
          <section role="tabpanel" aria-hidden="true" class="content" id="panel-membros">
              {% if is_member %}
                {% if not is_only_member %}
                <a class="noafter button warning small vinculacao_btn right" style="margin-right: 5px;" href="{% url 'acao_membership_add_remove_me' 'remove' acao.pk %}">
                    <i class="fa fa-user-times" aria-hidden="true"></i> Sair do(a) {{ acao.tipo|lower }}
                </a>
                {% endif %}
              {% else %}
                  <button id="vincularButton" class="noafter button secondary small vinculacao_btn right" style="margin-right: 5px;" >
                      <i class="fa fa-user-plus" aria-hidden="true"></i> Tornar-se membro desse(a) {{ acao.tipo|lower }}
                  </button>
              {% endif %}
            <table role="grid" width="100%">
                <tr>
                    <th>
                        <h5>
                            Membros
                            {% if is_administrador %}
                                <button id="novoMembroModalOpener" class="button secondary small right">
                                    <i class="fa fa-user-plus"></i> Adicionar novo membro
                                </button>
                            {% endif %}
                        </h5>
                    </th>
                </tr>
                {% for membro in membros %}
                    {% with membro.user.get_profile as membroperfil %}
                        <tr>
                            <td>
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <a class="noafter" href="{{ membroperfil.target_url }}">{{ membro.user.nome }} </a>
                                <span> - {{ membro.vinculo }}</span>
                                {% if membro.is_administrador %}
                                    <span style="opacity: 0.8;"> - (Administrador)</span>
                                {% endif %}<br/>
                                <small>{{ membroperfil.privacy_endereco|default:"Endereço não disponível" }}</small>
                                {% if is_administrador and membro.user != request.user %}
                                    {% if membro.is_administrador %}
                                        <button class="button secondary tiny right" style="margin: -10px 2px;" data-href="{% url 'acao_membership_make_undo_admin' 'undo' membro.pk %}">
                                            <i class="fa fa-star-o" aria-hidden="true"></i> Desfazer administrador
                                        </button>
                                    {% else %}
                                        <button class="button secondary tiny right" style="margin: -10px 2px;" data-href="{% url 'acao_membership_make_undo_admin' 'make' membro.pk %}">
                                            <i class="fa fa-star" aria-hidden="true"></i> Tornar administrador
                                        </button>
                                    {% endif %}
                                    <button class="button secondary tiny right" style="margin: -10px 2px;" data-href="{% url 'generic_delete' 'acao.AcaoMembro' membro.pk %}?next={{ request.path }}">
                                        <i class="fa fa-times" aria-hidden="true"></i> Remover
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endwith %}
                {% empty %}
                <tr>
                    <td>Nenhum membro</td>
                </tr>
                {% endfor %}
            </table>
          </section>
          <section role="tabpanel" aria-hidden="true" class="content" id="panel-galeria">
            {% include "acao/galeria_tab.html" %}
          </section>
        </div>
    </div>
</div>

</div>
{% endblock content %}


{% block acaolocais %}

    <table role="grid" width="100%">
        <tr>
            <th>
                <h5 style="display: inline-block;">Locais</h5>
            </th>
            <th>
                {% if is_administrador %} 
                <a href="{% url 'acaolocal_create' acao.pk %}" class="noafter button tiny right success">Cadastrar novo local</a><br>
                {% endif %}
            </th>
        </tr>
        {% for local in acao.locais.all %}
            <tr>
                <td>
                    <a href="{% url 'acaolocal_detail' acao.tipo.lower acao.pk local.pk %}" class="noafter">
                        {{ local.local_nome|default:local }}
                    </a><br>
                    <strong>Endereço</strong>: {{ local.endereco }}<br>
                    <strong>Município/UF</strong>: {{ local.municipio }}, <strong>Bairro</strong>: {{ local.bairro }}<br>
                </td>
                <td>
                    <div class="right" style="line-height: 75px;">
                        <a href="{% url 'acaolocal_remove' acao.pk local.pk %}?next={{ request.path }}" class="button tiny alert noafter" style="display: inline-block;"><i class="fa fa-times"></i> Remover</a>
                    </div>
                </td>
            </tr>
        {% empty %}
            {% if not acao.atividades.count or acao.atividades.count == 0 %}
            <tr>
                <td style="text-align: center;">Não há locais nesta ação.</td>
            </tr>
            {% endif %}
        {% endfor %}
        {% for atividade in acao.atividades.all %}
            {% for local in atividade.locais.all %}
                <tr>
                    <td>
                        
                        <a href="{% url 'acaolocal_detail' atividade.tipo.lower atividade.pk local.pk %}" class="noafter">
                            {{ local.local_nome|default:local }}

                        </a><br>
                        <strong>Endereço</strong>: {{ local.endereco }}<br>
                        <strong>Município/UF</strong>: {{ local.municipio }}, <strong>Bairro</strong>: {{ local.bairro }}<br>
                    </td>
                    <td>
                        <div class="right" style="line-height: 75px;">
                            <a href="{{ atividade.get_child.get_absolute_url }}"
                            class="noafter right tip-top label secondary"
                            data-tooltip
                            aria-haspopup="true"
                            style="font-size: 16px;padding: 0.25rem 0.5rem 0.25rem;color: #414141;"
                            title="Esse local faz parte de uma atividade do projeto. Clique aqui para ver detalhes da atividade.">
                                {{ atividade.nome }}
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        <!--
        {% if edit_mode %}
            <tr style="background: white;">
                <td>
                    <button href="{% url 'acaolocal_create' acao.pk %}" class="button small right success dropdown"><i class="fa fa-plus-o"></i> Cadastrar novo local</button><br>
                </td>
            </tr>
        {% endif %}
        -->
    </table>

{% endblock acaolocais %}

{% block extra_css %}
    {{ form_acaomembro.media.css }}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'openlayers/v3.18.2/ol.css' %}" />
    <link rel="stylesheet" href="{% static 'css/select2-fix.css' %}" />
    <style type="text/css">
        .overmap-alert {
            position: absolute;
            width: 100%;
            z-index: 1;
            bottom: 10px;
        }
        .blur {
            -webkit-filter: blur(3px);
            -moz-filter: blur(3px);
            -ms-filter: blur(3px);
            -o-filter: blur(3px);
            /* FF doesn't support blur filter, but SVG */
            filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='svgBlur' x='-5%' y='-5%' width='110%' height='110%'><feGaussianBlur in='SourceGraphic' stdDeviation='5'/></filter></svg>#svgBlur");
            filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius = '3');
            filter: blur(3px);
            cursor: default;
        }
    </style>
{% endblock extra_css %}

{% block extra_js %}{{ block.super }}
    {{ form_acaomembro.media.js }}

    <script src="{% static 'openlayers/v3.18.2/ol.js' %}"></script>
        <script src="{% static 'js/highcharts/highcharts.js' %}?v=5.0.0"></script>

    {% localize off %}
    <span id='blured_map' style="display:none" data-value="{% if acao.locais.count == 0 %}true{% else %}false{% endif %}"></span>
    <span id='latitude' style="display:none">{{ acao.point.y|default:'' }}</span>
    <span id='longitude' style="display:none">{{ acao.point.x|default:'' }}</span>
    <span id='url_link' style="display:none">{{ acao.lista_url }}</span>
    <span id='id_ponto' style="display:none">{{ acao.pk }}</span>

    <script type="text/javascript">
        var setores_censitarios_entorno_extent = [{% for coord in acao.setores_censitarios_entorno_polygon.extent %}{{coord}},{% endfor %}];
    </script>
    {% endlocalize %}

    <script src="{% static 'js/mapa_detalhe_generico.js' %}?v=_4235123342314235"></script>
    <script src="{% static 'js/camadas.js' %}"></script>
    <script type="text/javascript">

    var setores_censitarios;

    $(document).ready(function () {

        {% if is_administrador %}

        // abre modal de novo membro
        $('#novoMembroModalOpener').click(function() {
            $("#novoMembroForm").foundation('reveal', 'open');
        });

        // abre modal de confirmação de remoção
        $('#removerBtn').click(function() {
            $("#deleteAcaoModal").foundation('reveal', 'open');
        });

        {% endif %}

        // abre modal de escolha do tipo de vinculo
        $('#vincularButton').click(function() {
            $("#modalEscolhaTipoVinculo").foundation('reveal', 'open');
        });

        $('button[data-href]').click(function() {
            window.location.href = $(this).data('href');
        });


        $('#agente-tabs').on('toggled', function (event, tab) {
            if ($(tab).is("#panel-ficha") || $(tab).is("#panel-membros")) {
                $(".vinculacao_btn").fadeIn('fast');
            } else {
                $(".vinculacao_btn").fadeOut('fast');

            }
            if ($(tab).is("#panel-perfil:not(.already-loaded)")) {
                $(tab).addClass("already-loaded");
                $('#hc-renda-pessoas').highcharts().reflow();
                $('#hc-renda-domicilios').highcharts().reflow();
                $('#hc-piramide-etaria').highcharts().reflow();
                $('#hc-populacao-cor').highcharts().reflow();
            }
        });

        $("#id_vinculo_outro")
            .before('<i class="fa fa-asterisk fdt_required" style="" aria-hidden="true"></i>');

        $("#id_vinculo_tipo").change(function() {
          if ($(this).val() == '{{ VINCULO_OUTRO_VALUE }}') {
            $("#id_vinculo_outro").prop('required', true);
            $("#id_vinculo_outro").prop('disabled', false);
            $("#id_vinculo_outro")[0].focus();
          } else {
            $("#id_vinculo_outro").prop('required', false);
            $("#id_vinculo_outro").prop('disabled', true);
          }
        });

        $("#id_vinculo_tipo").change();

        {% if acao.locais.count >= 1 %}

            setores_censitarios = new ol.layer.Vector({
                source: new ol.source.Vector({
                    url: '{% url "setores_censitarios_por_acao" %}?pk={{ acao.pk }}',
                    projection: 'EPSG:3857',
                    format: new ol.format.GeoJSON()
                }),
            });

            map.addLayer(setores_censitarios);

            map.getView().fit(ol.proj.transformExtent(
                setores_censitarios_entorno_extent,
                'EPSG:4326',
                'EPSG:3857'
            ), map.getSize());

        {% endif %}

        $('div.map-detail.blur *').on('click', function(event) {
            event.preventDefault();
            return false;
        });

    });

// Mask : js/jquery.mask.js está no base.html
$('#id_cep').mask('00000-000');
</script>
<script src="{% static 'js/agente-vinculo.js' %}"></script>
{% endblock extra_js %}
