{% extends 'base.html' %}
{% load l10n static %}

{% block titulo %} {{ tipo }} - Listagem {% endblock titulo %}

{% block content %}
<div class="panel">
   <table>
      <caption>
         <div class="row">
            <div class="medium-12 columns">
               <form method="GET">
                  <div class="row collapse">
                     <div class="medium-3 columns"><h3>Ações - {{ tipo }}</h3></div>
                     <div class="medium-9 columns">
                        <div class="medium-1 {% if not request.user.is_authenticated %}medium-offset-2 {% endif %}columns" style="padding-right: 0;line-height: 36px;">
                           <span class="reset_municipio right" style="display: inline-block;{% if form.municipio.value %}cursor: pointer;{% else %}opacity: 0;{% endif %}">&times;</span>
                        </div>
                        <div class="medium-4 columns select2--culturaeduca" style="padding-right: 0;" lang="pt">
                           {{ form.municipio }}
                        </div>
                        <div class="medium-4 columns select2--culturaeduca" style="padding-right: 0;" lang="pt">
                           {{ form.nome }}
                        </div>
                        <div class="medium-1 columns" style="padding-left: 0;">
                            <button type="submit" class="button prefix"><i class="fa fa-search" style="color:#fff"></i></button>
                        </div>
                        {% if request.user.is_authenticated %}
                           <div class="medium-2 columns" style="padding-left: 0;">
                              {% block create_btn %}
                                 <a href="{{ get_create_url }}" class="button prefix left success"><i class="fa fa-plus"></i> Cadastrar novo(a)</a><br>
                              {% endblock create_btn %}
                           </div>
                        {% endif %}
                     </div>
                  </div>
                  <div class="row collapse">
                     <div class="medium-12 columns">
                        {% block descricao %}
                        
                        {% endblock descricao %}
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </caption>
      {% block listagem %}
         <tr><th>Nome</th></tr>
         {% for obj in object_list %}
         <tr>
            <td>
               <strong>{{ obj.tipo }}</strong>
               <a class="noafter" href="{{ obj.get_absolute_url }}">{{ obj.nome }} </a>
               {% if obj.vinculo_projeto %}
                 (Projeto: {{ obj.vinculo_projeto.nome }})
               {% endif %}
               <small>por <a class="noafter" href="{{ obj.agente_add.get_absolute_url }}">{{ obj.agente_add.nome }} </a></small>

               {% if obj.locais.count >= 2 %}
                  - <small>{{ obj.locais.count }} Locais cadastrados</small>
               {% elif obj.locais.count == 1 %}
                  - <small>1 Local cadastrado</small>
               {% else %}
                  - <small>Nenhum Local cadastrado</small>
               {% endif %}
            </td>
         </tr>
         {% empty %}
         <tr><td>Nenhum(a) {{ tipo|lower }} encontrado(a).</td></tr>
         {% endfor %}
      {% endblock listagem %}
   </table>
</div>

{% endblock content %}

{% block extra_css %}{{ form.media.css }}{% endblock extra_css %}
{% block extra_js %}{{ form.media.js }}
   <script type="text/javascript">
      $(function() {
         $(".reset_municipio").click(function() {
            if ($("#id_municipio").val() != "") {
               $("#id_municipio").select2("val", "");
               $(this).css('cursor', 'default');
               $(this).fadeTo('fast', '0');
            }
         });
         $("#id_municipio").change(function() {
            if ($("#id_municipio").val() != undefined) {
               $(".reset_municipio").css('cursor', 'pointer');
               $(".reset_municipio").fadeTo('fast', '1');
            }
         });

         // $("#id_municipio").val({{ form.municipio.value }});
      });
   </script>
{% endblock extra_js %}
