{% extends 'base.html' %}
{% load static l10n staticfiles foundation_filter %}

{% block titulo %}
  {% if form.instance.pk %}
    Editar {{ form.tipo|lower }}: {{ form.instance.nome }}
  {% else %}
    Novo(a) {{ form.tipo|lower }}
  {% endif %}
{% endblock titulo %}

{% block extra_css %}
{{ form.media.css }}
{% endblock %}

{% block extra_js %}
{{ form.media.js }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/3.17.1/ol.js" type="text/javascript"></script>
<script src="{% static 'js/form/formset.js' %}" type="text/javascript"></script>
<script src="{% static 'js/map.js' %}?v=1" type="text/javascript"></script>
<script type="text/javascript">
$(function() {

  $("#financiamentos").on('change', 'select[name$="tipo"]', function() {

    var wrapper = $(this).parents('.wrapper');

    if ($(this).val() == '{{ FINACIAMENTO_OUTRO_VALUE }}') {
      $(".financiamento_outro", wrapper).slideDown('fast');
      $(".financiamento_empresa", wrapper).slideUp('fast');
      $(".financiamento_outro input", wrapper).prop('required', true);
      $(".financiamento_outro input", wrapper)[0].focus();
      $(".financiamento_empresa input", wrapper).prop('required', false);
    } else if ($(this).val() == '{{ FINACIAMENTO_EMPRESA_VALUE }}') {
      $(".financiamento_empresa", wrapper).slideDown('fast');
      $(".financiamento_outro", wrapper).slideUp('fast');
      $(".financiamento_empresa input", wrapper).prop('required', true);
      $(".financiamento_empresa input", wrapper)[0].focus();
      $(".financiamento_outro input", wrapper).prop('required', false);
    } else {
      $(".financiamento_empresa, .financiamento_outro", wrapper).hide();
      $(".financiamento_empresa input, .financiamento_outro input", wrapper).prop('required', false);
    }
  });

  $(".financiamento_empresa input, .financiamento_outro input")
    .before('<i class="fa fa-asterisk fdt_required" style="" aria-hidden="true"></i>');

  $("#id_financiado").change(function() {
    if ($(this).is(":checked")) {
      $("#financiamentos").slideDown('fast', function() {
        $("#financiamentos select[name$='tipo']").prop('required', true);
        $("#financiamentos select[name$='tipo']").change();
      });
    } else {
      $("#financiamentos").slideUp('fast', function() {
        $("#financiamentos select[name$='tipo']").prop('required', false);
        $(".financiamento_empresa input, .financiamento_outro input").prop('required', false);
      });
    }
  });

  $("#id_financiado").change();
});
</script>

{% endblock extra_js %}

{% block content %}
<div aria-hidden="true" aria-labelledby="modalTitle" class="reveal-modal" data-reveal="" id="geoModalConfirm" role="dialog">
    <h2 id="modalTitle">Dados do Mapa</h2>
    <p class="lead">
        Você deseja Trocar os Dados do Formulário de Endereço pelos encontrados no Mapa?
    </p>
    <p>
        Rua:
        <span id="idConfirmStreet">
        </span>
    </p>
    <p>
        CEP:
        <span id="idConfirmPostcode">
        </span>
    </p>
    <p>
        Bairro:
        <span id="idConfirmSuburb">
        </span>
    </p>
    <p>
        Cidade:
        <span id="idConfirmCity">
        </span>
    </p>
    <p>
        <button class="secondary button success" href="#" id="btnConfirmGeo">Sim</button>
        <button class="secondary button" href="#" id="btnNotConfirmGeo">Não</button>
    </p>
    <a aria-label="Close" class="close-reveal-modal">
        ×
    </a>
</div>
<div class="columns medium-12 medium-centered">
   <div class="content-page">
       {% if form.instance.pk %}
       <h2>
           <small>
               Editar {{ form.tipo|lower }}:
           </small>
           {{ form.instance.nome }}
       </h2>
       {% else %}
       <h2>
           <small>
               Novo(a) {{ form.tipo|lower }}
           </small>
       </h2>
       {% endif %}
       {% block form %}{% endblock form %}
  </div>
</div>
{% endblock content %}
