{% load static %}

<link rel='stylesheet' href="{% static 'unitegallery/unite-gallery.css' %}" type='text/css' />
<script type='text/javascript' src="{% static 'unitegallery/unitegallery.min.js' %}"></script> 

<link rel='stylesheet' href="{% static 'themes/default/ug-theme-default.css' %}" />
<script type='text/javascript' src="{% static 'themes/default/ug-theme-default.js' %}"></script> 

<script type='text/javascript' src="{% static 'js/jquery.form.js' %}"></script> 

<script>
  function update_gallery_count() {
    $.get("{{ galeria_counter_url }}", {}, function(data){
        $("#galeria_counter_span").html(data);
    }).fail(function(e){
        alert("Ocorreu um erro '" + e.status + "' durante a requisição.");
    });
  }

  function delete_item_gallery_confirm(item_pk) {
    var url = "{% url 'generic_delete' 'core.ItemGaleria' 0 %}";
    url = url.replace("/0/", "/" + item_pk + "/");

    if (window.confirm("Deseja realmente deletar este item?")) { 
      $.get(url, {}, function(data){
        show_galeria_list();
      }).fail(function(e){
        show_galeria_list();
      });
    }
  }

  function show_galeria_list() {
    $.get("{{ galeria_list_url }}", {}, function(data){
        $("#galeria_div").html(data);
    }).fail(function(e){
        alert("Ocorreu um erro '" + e.status + "' durante a requisição.");
    });
  }

  function show_galeria_dashboard() {
    $.get("{{ galeria_dashboard_url }}", {}, function(data){
        $("#galeria_div").html(data);
    }).fail(function(e){
        alert("Ocorreu um erro '" + e.status + "' durante a requisição.");
    });
  }

  function post_save_galeria_success(response) {
    if(response==="ok") {
      show_galeria_list();
    } else {
      $('#galeria_div').html(response);
    }
  }

  function show_galeria_create() {
    $.get("{{ galeria_create_url }}", {}, function(data){
        $('#galeria_div').html(data);
    }).fail(function(e){
        alert("Ocorreu um erro '" + e.status + "' durante a requisição.");
    });
  }

  function show_galeria_update(item_pk) {
    var url = "{{ galeria_update_url }}";
    url = url.replace("/0/", "/" + item_pk + "/");
    $.get(url, {}, function(data){
        $('#galeria_div').html(data);
    }).fail(function(e){
        alert("Ocorreu um erro '" + e.status + "' durante a requisição.");
    });
  }

  function define_tipo_listener() {
    $('#id_tipo').change(function() {
        troca_tipo();
    });
  }

  function troca_tipo() {
    var tipo_selector = $("#id_tipo")[0];
    var value = tipo_selector.value;

    if(value == 0) {                            // NENHUM
      // esconde url e esconde arquivo
      $("#url_field").hide();
      $("#arquivo_field").hide();
    } else if(value == 1) {                     // AUDIOVISUAL
      // mostra url e esconde arquivo
      $("#url_field").show();
      $("#arquivo_field").hide();
    } else if (value == 2) {                    // IMAGEM
      // mostra arquivo e esconde url
      $("#url_field").hide();
      $("#arquivo_field").show();
    } else if (value == 3) {                    // DOCUMENTO
      // mostra arquivo e esconde url
      $("#url_field").hide();
      $("#arquivo_field").show();
    }
  }

  save_galeria_form = function(pk) {
    var the_url;
    if(pk == 0) {  // create
        the_url = "{{ galeria_create_url }}";
    } else {  // update
      the_url = "{{ galeria_update_url }}";
      the_url = the_url.replace("/0/", "/" + pk + "/");
    }

    $("#galeria_ajax_form").get(0).setAttribute("action", the_url);

    $("#galeria_ajax_form").ajaxForm({
        success: function (response) {
            post_save_galeria_success(response);
        }
    });
    $("#galeria_ajax_form").submit();
}

  $(document).ready(function() {
      show_galeria_dashboard();
  });
</script>

<div id="galeria_div"></div>
