{% load staticfiles %}

<div class="row">
    <div class="columns medium-12">
        {% if is_administrador and is_pessoafisica %}
        <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button small right secondary dropdown"><i class="fa fa-plus-o"></i> Cadastrar novo agente</button><br>
        <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
            <li style="width: 100%;"><a href="{% url 'coletivo_create' %}">Coletivo ou Grupo</a></li>
            <li style="width: 100%;"><a href="{% url 'instituicao_create' %}">Instituição</a></li>
            <li style="width: 100%;"><a href="{% url 'conselho_create' %}">Fóruns, Conselhos ou Comitês</a></li>
            <li style="width: 100%;"><a href="{% url 'movimentosocial_create' %}">Movimentos Sociais</a></li>
        </ul>
        {% endif %}
    </div>
    <div class="columns medium-12">
        <table role="grid" width="100%">
            <tr>
                <th><h5>Vínculo com outros agentes</h5></th>
            </tr>
            {% if is_administrador %}
                <tr>
                    <td style="background: white;" class="row">
                        <div class="columns medium-12">
                            {% if acao.agentes.count <= 0 %}
                                {{ form_vinculo.empty_help_text|safe }}
                            {% endif %}
                        </div>
                        <div class="columns medium-10">{{ form_vinculo.agente }}</div>
                        <div class="columns medium-2">
                            {% if is_pessoafisica %}
                                <button id="btnVincular" data-url="{% url 'acao_agente_vinculo_add_remove' 'adiciona' 0 %}?next={{ request.path }}#fndtn-panel-rede" type="submit" class="button secondary small expand"><i class="fa fa-plus"></i> Vincular</button>
                            {% else %}
                                <button id="btnVincular" data-url="{% url 'acao_agente_vinculo_add_remove' 'adiciona' acao.pk 0 %}?next={{ request.path }}#fndtn-panel-rede" type="submit" class="button secondary small expand"><i class="fa fa-plus"></i> Vincular</button>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td style="background: white;" class="row">
                        <div class="columns medium-12" style="text-align: center;">
                            {% if acao.agentes.count <= 0 %}
                                <p>Este agente não está vinculado(a) a nenhum agente.</p>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endif %}
            {% for agente_vinculado in acao.agentes %}
                <tr>
                    <td>
                        {% if agente_vinculado.avatar %}
                            <img
                              src="{{ agente_vinculado.avatar.url }}"
                              alt="{{ agente_vinculado.nome }} ({{ agente_vinculado.tipo }})"
                              style="height: 30px;"
                            />&nbsp;
                        {% else %}
                            <img
                              src="{% static 'img/logo_culturaeduca2.png' %}"
                              alt="{{ agente_vinculado.nome }} ({{ agente_vinculado.tipo }})"
                              style="height: 30px;"
                            />&nbsp;
                        {% endif %}
                        <a href="{{ agente_vinculado.get_child.target_url }}" >
                            {{ agente_vinculado.nome }} ({{ agente_vinculado.tipo }})
                        </a>
                        {% if is_administrador %}
                            <a
                              class="noafter right"
                              href="{% url 'acao_agente_vinculo_add_remove' 'remove' acao.pk agente_vinculado.pk %}?next={{ request.path }}#fndtn-panel-rede"
                            >
                                <i class="fa fa-times"></i> Desvincular
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <table role="grid" width="100%">
            <tr>
                <th>
                    <h5 class="left" style="line-height: 32px;">Vínculos com outras ações<!--  <span class="opacity-60">({{ acao.rede_acoes.count }})</span> --></h5>
                </th>
            </tr>
            {% if acao.rede_acoes.count > 0 %}
                <tr><td><span>Projetos</span></td></tr>
                {% for acao in acao.rede_projetos %}
                <tr>
                    <td>
                        <div class="left">
                            <img src="{% static "img/placeholder/30x30_P.jpg" %}" alt="{{ acao.projeto.nome }} ({{ acao.projeto.tipo }})" title="{{ acao.projeto.nome }} ({{ acao.projeto.tipo }})" style="height: 30px;" />
                        </div>
                        <div class="left" style="margin-left: 45px;">
                            <strong>Projeto: <a href="{{ acao.projeto.get_absolute_url }}" title="Ver detalhes">{{ acao.projeto }}</a><br></strong>
                            {% if acao.projeto.propositor_tipo == acao.projeto.PROPOSITOR_TIPO.OUTROS %}
                            Propositor: ({{ acao.projeto.propositor_outro|default:"Não Informado" }})<br>
                            {% else %}
                                Propositor:
                                {% if acao.projeto.propositor %}
                                    <a href="{{ acao.projeto.propositor.get_absolute_url }}">{{ acao.projeto.propositor.nome }}</a> <span class="opacity-60">({{ acao.projeto.propositor.tipo }})</span><br>
                                {% else %}Não Informado{% endif %}
                            {% endif %}<br>
                        </div>
                        <div class="right">
                            <span class="noafter right opacity-60">
                                {{ acao.acao_outro_agente|yesno:"|ação de agente vinculado|," }}
                            </span>
                        </div>
                    </td>
                </tr>
                {% empty %}
                    <tr style="height: 50px;"><td style="text-align: center;"><span class="opacity-60">Não há projetos na rede da ação.</span></td></tr>
                {% endfor %}
                <tr><td><span>Atividades</span></td></tr>
                {% for acao in acao.rede_atividades %}
                <tr>
                    <td>
                        <div class="left">
                            <img
                              src="{% static "img/placeholder/30x30_A.jpg" %}"
                              alt="{{ acao.atividade.nome }} ({{ acao.atividade.tipo }})"
                              title="{{ acao.atividade.nome }} ({{ acao.atividade.tipo }})"
                              style="height: 30px;"
                            />
                        </div>
                        <div class="left" style="margin-left: 45px;">
                            <strong>
                                Atividade:
                                <a href="{{ acao.atividade.get_absolute_url }}" title="Ver detalhes">
                                    {{ acao.atividade.nome|default:"Não Informado" }}
                                </a>
                            </strong>
                            <br>
                            Agente:
                            <a href="{{ acao.atividade.propositor.get_absolute_url }}" title="Agente">
                                {{ acao.atividade.propositor.nome|default:"Não Informado" }}
                            </a>
                            <span class="opacity-60">({{ acao.atividade.propositor.tipo }})</span>
                            <br>
                            Formato da Atividade:
                            {% if acao.atividade.formato == "Outro"%}
                                {{ acao.atividade.formato_outro|default:"Não Informado"}}
                            {% else %}
                                {{ acao.atividade.formato|default:"Não Informado" }}
                            {% endif %}
                        </div>
                        <div class="right">
                            <span class="noafter right opacity-60">
                                {{ acao.acao_outro_agente|yesno:"|ação de agente vinculado|," }}
                            </span>
                        </div>
                    </td>
                </tr>
                {% empty %}
                    <tr style="height: 50px;"><td style="text-align: center;"><span class="opacity-60">Não há atividades na rede da ação.</span></td></tr>
                {% endfor %}

            {% else %}
                <tr>
                    <td style="background: white;" class="row">
                        <div class="columns medium-12" style="text-align: center;">
                            <p>Não há ações na rede do(a) {{ acao.tipo|lower }}.</p>
                        </div>
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>
</div>
